<table class="reportTable report-table">
  <colgroup>
    <col style="width: 8%;" />
    <col style="width: 47%;" />
    <col style="width: 25%;" />
    <col style="width: 20%;" />
  </colgroup>
  <caption>現金帳項</caption>
  <tr ng-if="reportData.CASH_RECORDS.length == 0">
    <td>{{reportData.REPORT_TIME}}</td>
    <td>沒有記錄</td>
    <td></td>
    <td></td>
  </tr>
  <tr ng-repeat="record in reportData.CASH_RECORDS" ng-if="record.type == 'petty'">
    <td>{{record.time}}</td>
    <td>{{record.type}}</td>
    <td>{{record.cash | currency : INFO.currency : 1}}</td>
    <td>{{record.remark}}</td> 
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>總數</td>
    <td>{{reportData.TOTAL_AMOUNT | currency : INFO.currency : 1}}</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>+</td>
    <td>現金營業額</td>
    <td>{{reportData.TOTAL_CASH_SALES_AMOUNT | currency : INFO.currency : 1}}</td>
    <!--<td>不包括撇取及截數金額</td>-->
    <td></td>
  </tr>
  <tr>
    <td>=</td>
    <td>總金額</td>
    <td>{{reportData.GROSS_TOTAL_AMOUNT | currency : INFO.currency : 1}}</td>
    <td>&nbsp;</td>
  </tr>
</table>