<table class="reportTable report-table open-cash-table">
  <colgroup>
    <col style="width: 8%;" />
    <col style="width: 47%;" />
    <col style="width: 25%;" />
    <col style="width: 20%;" />
  </colgroup>
  <caption>{{::ui["txt_report_cash_management"]}}</caption>
  <tr ng-if="reportData.CASH_RECORDS.length == 0">
    <td>{{reportData.REPORT_TIME}}</td>
    <td>{{::ui["txt_report_no_records"]}}</td>
    <td></td>
    <td></td>
  </tr>

  <tr ng-repeat="record in reportData.CASH_RECORDS">
    <td>{{record.time}}</td>
    <td>{{ui[record.type]}}</td>
    <td>{{record.cash | currency : INFO.currency : 1}}</td>
    <td>{{record.remark}}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>{{::ui["txt_report_sales_total"]}}</td>
    <td>{{reportData.TOTAL_AMOUNT | currency : INFO.currency : 1}}</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>+</td>
    <td>{{::ui["txt_report_sales_cash_turnover"]}}</td>
    <td>{{reportData.TOTAL_CASH_SALES_AMOUNT | currency : INFO.currency : 1}}</td>
    <!--<td>不包括撇取及截數金額</td>-->
    <td></td>
  </tr>
  <tr>
    <td>=</td>
    <td>{{::ui["total_amount"]}}</td>
    <td>{{reportData.GROSS_TOTAL_AMOUNT | currency : INFO.currency : 1}}</td>
    <td>&nbsp;</td>
  </tr>
</table>