<!--<h3 class="title">{{ui['take_away_category_setting']}}</h3>-->

<div class="tab-container col s12 child-container" style="width:100%">
    <ul class="basic-tabs tabs" id="option-tabs">
        <li class="tab col s3"><a class="active" href="#eat">{{::ui["txt_category_setting_dinein_category"]}}</a></li>
        <li class="tab col s3" style="margin-left:40px;"><a href="#takeaway">{{::ui["txt_category_setting_other_category"]}}</a></li>
        <!--<li class="tab col s3"><a href="#delivery">外送</a></li>-->
    </ul>
</div>

<div layout="row" id="takeaway" style="height:inherit">

    <div layout="column" flex="50" style="height:inherit;padding-left:15px;padding-right:15px;height:90%">
        <h4>{{::ui["txt_category_setting_other_category"]}}</h4>
        <div style="overflow-y:auto;">
            <table class="data-table style1 tablesorter item-table group-table hasFilters item-list-table" style="margin-bottom:10px;">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th><button class="btn" ng-click="takeAway.resetCategory()">{{::ui["txt_category_setting_reset"]}}</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cate in takeAway.categoryList">
                        <td>{{cate.code}}</td>
                        <td ng-if="INFO.lang == '001'">{{cate.name1}}</td>
                        <td ng-if="INFO.lang == '003'">{{cate.name2}}</td>
                        <td>
                            <button class="btn" ng-click="takeAway.removeCategory(cate, $index)">{{::ui["txt_category_setting_remove"]}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div layout="column" flex="" style="padding-left:15px;padding-right:15px;height:90%">
        <h4>{{::ui["txt_category_setting_all_category"]}}</h4>
        <div style="overflow-y:auto;">
            <table class="data-table style1 tablesorter item-table group-table hasFilters item-list-table" style="margin-bottom:10px;">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cate in takeAway.notInCategoryList">
                        <td>{{cate.code}}</td>
                        <td ng-if="INFO.lang == '001'">{{cate.name1}}</td>
                        <td ng-if="INFO.lang == '003'">{{cate.name2}}</td>
                        <td>
                            <button class="btn" ng-click="takeAway.addCategory(cate, $index);">{{::ui["txt_category_setting_add"]}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div id="eat"  layout="row" style="height:inherit">
    <div layout="column" flex="50" style="height:inherit;padding-left:15px;padding-right:15px;height:90%">
        <h4>{{::ui["txt_category_setting_dinein_category"]}}</h4>
        <div style="overflow-y:auto;">
            <table class="data-table style1 tablesorter item-table group-table hasFilters item-list-table" style="margin-bottom:10px;">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th><button class="btn" ng-click="eat.resetCategory()">{{::ui["txt_category_setting_reset"]}}</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cate in eat.categoryList">
                        <td>{{cate.code}}</td>
                        <td ng-if="INFO.lang == '001'">{{cate.name1}}</td>
                        <td ng-if="INFO.lang == '003'">{{cate.name2}}</td>
                        <td>
                            <button class="btn" ng-click="eat.removeCategory(cate, $index)">{{::ui["txt_category_setting_remove"]}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div layout="column" flex="" style="padding-left:15px;padding-right:15px;height:90%">
        <h4>{{::ui["txt_category_setting_all_category"]}}</h4>
        <div style="overflow-y:auto;">
            <table class="data-table style1 tablesorter item-table group-table hasFilters item-list-table" style="margin-bottom:10px;">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cate in eat.notInCategoryList">
                        <td>{{cate.code}}</td>
                        <td ng-if="INFO.lang == '001'">{{cate.name1}}</td>
                        <td ng-if="INFO.lang == '003'">{{cate.name2}}</td>
                        <td>
                            <button class="btn" ng-click="eat.addCategory(cate, $index);">{{::ui["txt_category_setting_add"]}}</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<div id="delivery" layout="row" style="height:inherit">
    <div layout="column" flex="40" style="height:inherit;padding-left:15px;padding-right:15px;height:90%">
        <h4>外送餐牌</h4>
        <div style="overflow-y:auto;">
            <table class="data-table style1 tablesorter item-table group-table hasFilters item-list-table" style="margin-bottom:10px;">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th><button class="btn" ng-click="delivery.resetCategory()">重置</button></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cate in delivery.categoryList">
                        <td>{{cate.code}}</td>
                        <td ng-if="INFO.lang == '001'">{{cate.name1}}</td>
                        <td ng-if="INFO.lang == '003'">{{cate.name2}}</td>
                        <td>
                            <button class="btn" ng-click="delivery.removeCategory(cate, $index)">移除</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div layout="column" flex="" style="padding-left:15px;padding-right:15px;height:90%">
        <h4>所有餐牌</h4>
        <div style="overflow-y:auto;">
            <table class="data-table style1 tablesorter item-table group-table hasFilters item-list-table" style="margin-bottom:10px;">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cate in delivery.notInCategoryList">
                        <td>{{cate.code}}</td>
                        <td ng-if="INFO.lang == '001'">{{cate.name1}}</td>
                        <td ng-if="INFO.lang == '003'">{{cate.name2}}</td>
                        <td>
                            <button class="btn" ng-click="delivery.addCategory(cate, $index);">加入</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<style>
    table tbody tr td {
        text-align: center;
    }
</style>