﻿<div id="take-away-menu" class="menu-area" ng-if="MainService.deliveryOrderService.mode == MainService.deliveryOrderService.schema.viewPage">
    <!-- sidebar column -->
    <div layout="row" style="height:inherit" >

        <div flex layout="column" class="sidebar" style="overflow-y:scroll" ng-show="isBasicMode();">
            <ul class="take-away__info-container no-padding">
                <li class="ticket-info" ng-repeat="order in deliveryOrderList" refno="{{order.refNo}}" ng-click="BillRowClick(order.refNo)">
                    <div class="order-id">#{{order.refNo}}</div>
                    <div layout="row">
                        <span flex="45">{{order.price | currency : INFO.currency : 1}}</span>
                        <span flex></span>
                        <span flex="45">{{order.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    </div>
                </li>
            </ul>
        </div>


        <div flex layout="column" class="sidebar"> 
            <!-- table information -->
            <div layout="row" class="header fill-height table-info" style="">
                <div class="table-summary" layout="column" ng-show="isModeOrder('foodControl')">
                    <span class="inline-block">{{::ui['food_control']}}</span>
                </div>
                <span flex></span>
                <div style="position: absolute; top: 6px; right: 6px;" class="table-function" ng-controller="scrollController" layout="row">
                    <md-button md-no-ink="true" class="md-40p md-raised md-rounded-square md-densed" ng-click="scrollUp( '#order-list-takeaway', 30 )">
                        <i class="md-icon dp40">keyboard_arrow_up</i>
                    </md-button><md-button md-no-ink="true" class="md-40p md-raised md-rounded-square md-densed" ng-click="scrollDown( '#order-list-takeaway', 30 )">
                        <i class="md-icon dp40">keyboard_arrow_down</i>
                        <!-- ng-show="modeCheckOrderFood();"  -->
                    </md-button><md-button md-no-ink="true" class="show-details md-40p md-raised md-rounded-square md-densed" ng-click="toggleItemDisplay1('detail')" aria-label="">

                        <md-icon class="dp30" md-svg-src="assets/icon/identification24.svg"></md-icon>
                    </md-button><md-button md-no-ink="true" class="show-details md-40p md-raised md-rounded-square md-densed" ng-click="toggleItemDisplay2('zeroItem')" aria-label="">

                        <i class="md-icon dp48">exposure_zero</i>
                    </md-button>
                </div>
            </div>
            <!-- scrollable area only food list -->
            <!-- class="active-item-list" -->
            <md-sidenav id="order-list-takeaway" flex class="order-list-wrapper" md-is-locked-open="$mdMedia('min-width: 0px')" md-scroll-y style="">

                <order-list ng-hide="isModeOrder('foodControl')"></order-list>

            </md-sidenav>
            <!-- total etc -->
            <div id="" class="footer account-summary" ng-hide="isModeOrder('foodControl')">

                <!--<div class="account row no-margin" ng-show="MainService.Cart.member.vipcode != null">
                    <div class=""><strong>{{ ::ui['member'] + ui['colon'] }}</strong><span>{{MainService.Cart.member.name()}} <span class="card-no">#{{MainService.Cart.member.vipcode}}</span></span></div>
                </div>
                <div layout="row" class="row no-margin" ng-show="MainService.Cart.member.vipcode != null">

                    <div class="inline-block">{{ ::ui['member_discount'] }}</div><span flex></span><div class="inline-block">{{ MainService.Cart.price | currency : INFO.currency : 1 }}</div>
                </div>-->

                

                <div layout="row" class="row no-margin">

                    <div class="inline-block order-id">{{ ::ui['orderID'] }}</div><span flex></span><div class="inline-block">{{MainService.Cart.refNo}}</div>
                </div>

                <div layout="row" class="row no-margin">

                    <div class="inline-block">{{ ui['subtotal'] }}</div><span flex></span><div class="inline-block">{{ MainService.Cart.price | currency : INFO.currency : 1 }}</div>
                </div>

                <div layout="row" class="row no-margin">
                    <div class="inline-block">{{ ::ui['additional_Charge'] }}</div><span flex></span><div class="inline-block">{{ MainService.Cart.serviceCharge | currency : INFO.currency : 1 }}</div>
                </div> 

                <div layout="row" class="row no-margin">

                    <div class="inline-block">{{ ::ui['bill_decimal'] }}</div><span flex></span><div class="inline-block">{{ MainService.Cart.remainings | currency : INFO.currency : 1 }}</div>
                </div>

                <div layout="row" class="row no-margin">

                    <div class="inline-block">{{ ::ui['total_amount'] }}</div><span flex></span><div class="inline-block">{{ MainService.Cart.totalPrice | currency : INFO.currency : 1 }}</div>
                </div>

                <div layout="row" class="row no-margin discount-input row-custom" ng-repeat="discoutList in appliedDiscount() track by $index"> <!--isAmendBillMode();-->
                    <div class="inline-block">
                        {{discoutList.name1}}
                        <!--<a ng-show="isAmendBillMode()" href="#" class="warn btn-delete" ng-click="deletDiscount($index)">刪除</a>-->
                    </div>
                <span flex></span><div class="inline-block">{{discoutList.price | currency : INFO.currency : 1  }}</div>
                </div>
                <div layout="row" class="row no-margin price-input row-custom" ng-if="!isBasicMode()" ng-repeat="methodList in appliedPaymentMethod() track by $index">

                    <div class="inline-block">{{ui[methodList.method]}} <a ng-if="isAmendBillMode();" href="#" class="warn btn-delete" ng-click="deletePaymentMethod($index)">刪除</a></div><span flex></span><div class="inline-block">{{methodList.amount | currency : INFO.currency : 1  }}</div>
                </div>

                <div layout="row" class="row no-margin price-input row-custom" ng-if="(appliedPaymentMethod().length > 0 || appliedDiscount().length > 0) && !isBasicMode();">

                    <div class="inline-block"><span ng-if="MainService.remainerAmount >= 0 && MainService.isCash">{{ ::ui['payment_change'] }}</span><span ng-if="MainService.remainerAmount < 0">{{ ::ui['remainder'] }}</span><span ng-if="MainService.remainerAmount >= 0 && MainService.isNotCash">{{ ::ui['tips'] }}</span></div>
                    <span flex></span><div class="inline-block">{{ MainService.remainerAmount | currency : INFO.currency : 1  }}</div>
                </div>
            </div>



        </div>


        <div flex="70" layout="column" style="height:inherit" ng-show="isSearchMode()">
            <div class="order-mode-container" flex layout="column" ng-include="'tmpl/search-bill-menu-delivery.html'" ng-init="console.log('ng-init');"></div> <!--MainService.modeOrder = MainService.schema.modeOrder.searchBill;-->
        </div>
        <div flex="70" layout="column" style="height:inherit" ng-show="isAmendBillMode();">
            <div class="order-mode-container" flex layout="column"  ng-include="'tmpl/amend-bill-menu.html'"></div>
        </div>
       
      
        <!-- <div id="take-away__menu-option" flex="10"></div> -->
        
    </div>

</div><!-- take-away-menu -->


 


