﻿<style>
    .deposit-no-title {
        color: #337ab7;
    }

    .title {
        font-weight: 900;
    }

    .collection-item span {
        font-size: 20px;
    }

    .collection-item > div.row {
        margin: 0px;
        margin-bottom: 5px;
    }

    .collection-item:nth-child(even) {
        background: rgba(194, 220, 242, 0.44);
    }

    md-tabs-content-wrapper {
        height: calc(100% - 48px) !important;
    }

    md-tab-content, md-tab-content > div {
        height: 100%;
    }

    span.content {
        word-break: break-word;
    }


    md-tabs {
        height:100% !important;
    }
    /*.collection-item:nth-child(odd) {
        background: rgba(184, 189, 185, 0.22);
    }*/
</style>

<md-content class="md-padding" layout="column" flex style="height:inherit;width:100%;">
    <md-tabs md-dynamic-height="100" md-border-bottom="" style="">
        <md-tab label="Local Shop" style="height:inherit;">
            <md-content class="md-padding test-this-one" style="height:100%;">
                <!--<h1 class="md-display-2">Tab One</h1>-->
                <div class="col s12" ng-controller="depositViewerController" style="height:100%;">
                    <!--<table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>NO.</th>
                                <th>Phone</th>
                                <th>Name</th>
                                <th>Remark</th>
                                <th>Payment</th>
                                <th>Serve Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>-->


                    <ul class="collection" style="height:100%;overflow:auto">

                        <li class="collection-item" ng-repeat="deposit in depositList">
                            <div class="row">
                                <div class="col s6 deposit-no-title">
                                    <span class="title">DepositNo:</span>
                                    <span class="content">ThePantry001-161102-000013</span>
                                </div>

                                <div class="col s6">
                                    <span class="title">RefNo:</span>
                                    <span class="content">ThePantry001-161102-000013</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s3">
                                    <span class="title">Phone:</span>
                                    <span class="content">12341234</span>
                                </div>

                                <div class="col s3">
                                    <span class="title">Name:</span>
                                    <span class="content">Testing</span>
                                </div>



                                <div class="col s3">
                                    <span class="title">Payment:</span>
                                    <span class="content">Cash</span>
                                </div>

                                <div class="col s3">
                                    <span class="title">Price:</span>
                                    <span class="content">$150.0</span>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col s6">
                                    <span class="title">Create:</span>
                                    <span class="content">user1 [ 2016-11-02 18:49:00 ]</span>
                                </div>

                                <div class="col s6">
                                    <span class="title">Last Update:</span>
                                    <span class="content">user1 [ 2016-11-02 18:49:00 ]</span>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col s6">
                                    <span class="title">Remark:</span>
                                    <span class="content">Testing Testing Testing Testing Testing Testing TestingTestingTestingTestingTestingv</span>
                                </div>
                                <div class="col s6">
                                    <span class="title">Serve Date:</span>
                                    <span class="content">2016-11-08</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s2">
                                    <button class="proceed md-button md-grid-button icon-with-text ng-binding" ng-click="btnSubmitClick()" tabindex="0"><i class="md-icon dp45">done</i>完成</button>
                                </div>

                                <div class="col s2">
                                    <button class="proceed md-button md-grid-button icon-with-text ng-binding" ng-click="btnSubmitClick()" tabindex="0"><i class="md-icon dp45">done</i>完成</button>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>

            </md-content>
        </md-tab>

        <md-tab label="Multi Shop">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab TWO</h1>
            </md-content>
        </md-tab>

    </md-tabs>
</md-content>