﻿<div style="height:100%" ng-controller="depositPanelController">
    <div style="height:90%;min-height:90%" ng-include="'tmpl/depositViewerList.html'"></div>
    <div style="height:10%;">
        <div style="float:left;width:20%;height:100%;background:lightgray;border:1px solid white;"></div>
        <div style="float:left;width:20%;height:100%;background:lightgray;border:1px solid white;"></div>
        <div style="float:left;width:20%;height:100%;background:lightgray;border:1px solid white;"></div>
        <div style="float:left;width:20%;height:100%;background:lightgray;border:1px solid white;"></div>
        <div style="float:left;width:20%;height:100%;background:lightgray;border:1px solid white;">
            <button class="md-raised cancel icon-with-text md-button md-default-theme" style="height:100%;width:100%;margin:0px;" tabindex="0" ng-click="backPayment();">
                <i class="md-icon dp45 ng-scope">clear</i><span class="ng-binding ng-scope">{{::ui["cancel_back"]}}</span>
            </button>
        </div>
        <!--<div style="float:left;width:20%;height:100%;background:lightgray;border:1px solid white;">
            <button class="md-raised proceed icon-with-text md-button md-default-theme" style="height:100%;width:100%;margin:0px;" ng-click="" tabindex="0">
                <i class="md-icon dp45 ng-scope">done</i><span class="ng-binding ng-scope">完成</span>
            </button>
        </div>-->
    </div>
</div>
