﻿<style>
    .deposit-no-title {
        color: #337ab7;
    }

    .title {
        font-weight: 900;
    }

    .collection-item span {
        font-size: 20px;
    }

    .collection-item > div.row {
        margin: 0px;
        margin-bottom: 5px;
    }

    /*.collection-item:nth-child(even) {
        background: rgba(194, 220, 242, 0.44);
    }*/

    md-tabs-content-wrapper {
        height: calc(100% - 48px) !important;
    }

    md-tab-content, md-tab-content > div {
        height: 100%;
    }

    span.content {
        word-break: break-word;
    }


    md-tabs {
        height: 100% !important;
    }

    .red-font {
        color: rgb(244,67,54);
    }

    .no-padding {
        padding: 0px;
    }


    li.collection-item div.col {
        padding: 0px;
    }

    .vertical-center {
        /*transform: translateY(100%);*/
    }
    /*.collection-item:nth-child(odd) {
        background: rgba(184, 189, 185, 0.22);
    }*/
</style>

<div style="height:100%;background:lightgray" ng-controller="depositViewerController">
    <div style="height:10%;padding:20px;position:relative;width:40%;">
        <i class="md-icon" style="position:absolute;right:20px;top:30px;">search</i>

        <input type="text" ng-keyup="searchDeposit($event)" style="background-color:white;border-radius: 5px 5px 5px 5px;margin:0px;padding:0 5px;" placeholder="{{searchPlaceHolder}}" />
    </div>
    <ul class="collection" style="height:85%;overflow:auto;margin:0;margin-top:15px;border:0">
        <li class="collection-item" style="background-color:inherit;border-bottom-width:0px;" ng-repeat="deposit in depositCollection track by $index">
            <div style="background:white;padding:10px 10px;border-radius: 5px 5px 5px 5px;">
                <div class="row no-margin" style="border-bottom:1px solid #ddd;padding:5px;">
                    <div class="col s6 deposit-no-title">
                        <span class="title">DepositeNo:</span>
                        <span class="content">{{deposit.depositNo}}</span>
                    </div>
                    <div class="col s3">
                        <span class="title">Payment:</span>
                        <span class="content red-font">{{deposit.getPaymentName()}}</span>
                    </div>
                    <div class="col s3">
                        <span class="title">Price:</span>
                        <span class="content red-font">{{deposit.paymentPrice | currency : INFO.currency : 1  }}</span>
                    </div>
                </div>

                <div class="row no-margin" ng-show="isManagement" style="padding:0px 5px;">
                    <div class="col s12">
                        <span class="title">RefNo:</span>
                        <span class="content" style="color:brown">{{deposit.refNo}}</span>
                    </div>
                </div>

                <div class="row no-margin valign-wrapper" style="border-bottom:1px solid #ddd;padding:5px;position:relative">

                    <div class="col s9 no-padding" style="position:relative">

                        <div class="row no-margin no-padding">
                            <div class="col s6">
                                <span class="title">Name:</span>
                                <span class="content">{{deposit.name}}</span>
                            </div>
                            <div class="col s6">
                                <span class="title">Serve Date:</span>
                                <span class="content">{{deposit.serveDate | date: 'yyyy-MM-dd'}}</span>
                            </div>
                        </div>

                        <div class="row no-margin no-padding">
                            <div class="col s12">
                                <span class="title">Phone:</span>
                                <span class="content">{{deposit.phone}}</span>
                            </div>
                        </div>

                        <div class="row no-margin no-padding">
                            <div class="col s12">
                                <span class="title">Remark:</span>
                                <span class="content">{{deposit.remark}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col s3 vertical-center valign" ng-show="!isManagement">
                        <button class="waves-effect waves-light btn" style="width:100%" ng-click="btnSelectDepositClick(deposit);">{{::ui["txt_deposit_select"]}}</button>
                    </div>
                    <div class="col s3 vertical-center valign" ng-show="isManagement">
                        <button class="waves-effect waves-light btn" style="width:100%" ng-click="btnReprintClick(deposit);">{{::ui["txt_deposit_reprint"]}}</button>
                    </div>

                </div>

                <div class="row no-margin" style="padding:5px;border-bottom:1px solid #ddd;">
                    <div class="col s2">
                        <span class="title">Void By RefNo:</span>
                    </div>
                    <div class="col s6">
                        <p class="content" style="margin:0;color:red" ng-repeat="v in deposit.voidByRefNo">{{v}}</p>
                    </div>
                </div>

                <div class="row no-margin" style="padding:5px;">
                    <div class="col s6" style="color:#aaa">
                        <span class="title">Create By:</span>
                        <span class="content"> {{deposit.createByName}} [{{deposit.createDatetime | date: 'yyyy-MM-dd HH:mm:ss'}}]</span>
                    </div>

                    <div class="col s6" style="color:#aaa">
                        <span class="title">Last Update:</span>
                        <span class="content"> {{deposit.lastUpdateByName}} [{{deposit.lastUpdateDatetime | date: 'yyyy-MM-dd HH:mm:ss'}}]</span>
                    </div>
                </div>
            </div>
        </li>

    </ul>
</div>




