﻿
<style>
    select.default-select{
        font-size:12px;
        height:30px;
        margin-top:30px;
        display:block;
    }

   

    .color-select {
        float:left;
    }
    .color-select + div {
        float:left;
    }

    .missing-data {
        border-color:red !important;
    }

    #FoodItem-list tbody tr td {

    }

    #FoodItem-list thead tr th {
        background-color:#999;
        color:white;
    }

    #FoodItem-list tbody tr td:first-child {
        min-width:100px;
        border:1px solid #ccc;
    }

    #FoodItem-list thead tr th:first-child {
        min-width:50px;
        border:1px solid #ccc;
    }

    #FoodItem-list tbody tr td:not(:nth-child(1)){
        min-width:200px !important;
        border:1px solid #ccc;
    }
    #FoodItem-list thead tr th:not(:nth-child(1)){
        min-width:200px !important;
        border:1px solid #ccc;
    }

</style>
        <!-- 48px is tab heightin full version -->
 <div id="item-details" class="form-container" style="overflow: auto; height: calc(100%); padding-left:5px; padding-right:5px;display:none;"> 
      

            <form action="" style="  " data-binduid="row"> 
                <div class="row no-margin" layout="row">
                    <div class="input-field" flex="15">
                        <md-select ng-model="FoodItem.category" placeholder="餐單" id="category">
                            <md-option ng-repeat="cate in categories" ng-value="cate.categoryId">
                                {{cate.name1}}
                            </md-option>
                        </md-select>
                        <label for="category" class="">餐單<span style="color:red">*</span></label>
                  </div>
                    <div class="input-field" flex="10">
                        <md-select ng-model="FoodItem.color" id="color">
                            <md-option ng-value="color.val" ng-repeat="color in colors">
                                <div class="color-box value {{color.val}} color-select"></div>
                                <div>{{color.name}}</div>
                            </md-option>
                        </md-select>
                        <label for="color">項目顏色<span style="color:red">*</span></label>
                    </div>

                    <div class="input-field" flex="15">
                        <md-select ng-model="FoodItem.ItemType" placeholder="" id="type">
                            <md-option ng-repeat="item in ItemType" ng-value="item.val">
                                {{item.name}}
                            </md-option>
                        </md-select>
                        <label for="type" class="">類型</label>
                    </div>

                    </div>


                <div class="row no-margin" layout="row" >
     
                </div>
                <div class="row no-margin" layout="row">
                    <div class="input-field" flex="15">
                        <input class="data-binder" placeholder="例：AA12" id="code" type="text" data-field-type="textfield" ng-model="FoodItem.code">
                        <label for="code" class="" >食品編號<span style="color:red">*</span></label>
                    </div>
                    <div class="input-field" flex="15">
                        <input class="data-binder" placeholder="" id="plu" type="text" ng-model="FoodItem.plu">
                        <label for="plu" class="">plu<span style="color:red">*</span></label>
                    </div>
                    <!--<div id="form-item-category" id="group" class="input-field category-option-container data-binder option-container" data-field-type="dropdown" flex>
                         <input placeholder="例：AA" id="group" type="text"> \
                        <label for="group" class="">螢幕類別</label>  
                    </div>-->
                    <!--<div class="input-field" flex>
                        <input class="data-binder" placeholder="#" id="sort-order" type="text">
                        <label for="sort-order" class="">#</label>
                    </div>-->
                    <div class="input-field" flex="15">
                        <input class="data-binder" placeholder="" id="printer" type="text" ng-model="FoodItem.printer">
                        <label for="printer" class="">打印位置</label>
                    </div> 

                    <div class="input-field" flex="15">
                        <input class="data-binder" placeholder="" id="printerGroup" type="text" ng-model="FoodItem.printerGroup">
                        <label for="printerGroup" class="">打印組別</label>
                    </div> 

                    <div class="input-field" flex="15">
                        <input class="data-binder" placeholder="KDS1" id="kds" type="text" ng-model="FoodItem.kds">
                        <label for="kds" class="">KDS</label>
                    </div>
                    <!-- 項目顏色 --> 
             
                </div> 
                <div class="row no-margin" layout="row"> 
                    <div class="input-field" flex="20"> 
                        <input class="data-binder" placeholder="例：a12345" id="ename" type="text" ng-model="FoodItem.ename"> 
                        <label for="ename" class="" >英文名稱<span style="color:red">*</span></label> 
                    </div> 
                    <div class="input-field" flex="20"> 
                        <input class="data-binder" placeholder="例：a12345" id="cname" type="text" ng-model="FoodItem.cname"> 
                        <label for="cname" class="" >中文名稱<span style="color:red">*</span></label> 
                    </div> 
                    <div class="input-field" flex="20">
                        <input class="data-binder" placeholder="例：a12345" id="cname2" type="text" ng-model="FoodItem.cname2">
                        <label for="cname2" class="">中文名稱2<span style="color:red">*</span></label>
                    </div> 

                    <div class="input-field" flex="20"> 
                        <input class="data-binder" placeholder="例：a12345" id="kname" type="text" ng-model="FoodItem.kname"> 
                        <label for="kname" class="" >廚房名稱<span style="color:red">*</span></label> 
                    </div> 
                    <div class="input-field" flex="5"> 
                        <input class="data-binder" placeholder="0.00" id="price" type="number" min="0" ng-model="FoodItem.price"> 
                        <label for="price" class="">價格<span style="color:red">*</span></label> 
                    </div> 
                </div> 

                <div class="row no-margin" layout="row">

                    <div class="input-field" flex="15" >
                        <select class="data-binder default-select" id="serviceCharge2" ng-model="FoodItem.serviceCharge">
                            <option value="0" selected>否</option>
                            <option value="1">是</option>
                        </select>
                        <label for="serviceCharge" class="">收取服務費?</label>
                    </div>

                    <div class="input-field" flex="15">
                        <select class="data-binder default-select" id="discount" ng-model="FoodItem.discount">
                            <option value="0" selected>否</option>
                            <option value="1">是</option>
                        </select>
                        <label for="discount" class="">有折扣?</label>
                    </div>

                    <div class="input-field" flex="15" >
                        <select class="data-binder default-select" id="screenShow" ng-model="FoodItem.screenShow">
                            <option value="0" selected>否</option>
                            <option value="1">是</option>
                        </select>
                        <label for="screenShow" class="">goMenu顯示?</label>
                    </div>
                </div>
 
              <br/>
              
        <div class="row" style="">
            <button   ng-click="submitAdd($event);" class="btn">確定</button>
             <button  ng-click="BackItemListPage($event);" class="btn">返回</button> 
         </div>
           
</form> 
        </div> 

<!--compact data-table tablesorter item-table-->

