﻿
<style>
    .missing-data {
        border-color:red !important;
    }
</style>
<form action="" style="  " data-binduid="row">


    <div class="row" style="">
        <button ng-click="submitAdd($event);" class="btn">確定</button>
        <button ng-click="BackItemListPage($event);" class="btn">返回</button>
    </div>

    <div class="row no-margin" layout="row">
        <div class="input-field" flex="25">
            <input class="data-binder" placeholder="例：a12345" id="name" type="text" ng-model="timeslot.name">
            <label for="name" class="">時段名稱<span style="color:red">*</span></label>
        </div>
        <div class="input-field" flex="25">
            <input class="data-binder" placeholder="00:00" id="startTime" type="text" ng-model="timeslot.startTime">
            <label for="startTime" class="">開始時間<span style="color:red">*</span></label>
        </div>
        <div class="input-field" flex="25">
            <input class="data-binder" placeholder="00:00" id="endTime" type="text" ng-model="timeslot.endTime">
            <label for="endTime" class="">結束時間<span style="color:red">*</span></label>
        </div>
    </div>

    <div class="row no-margin" layout="row">
        <div class="input-field" flex="50">
            <select ng-model="MainService.DateDuring" menu-layout link-type="'select'" multiple id="date">
                <option value="" disabled>Choose a day</option>
                <option value="1">Sun</option>
                <option value="2">Mon</option>
                <option value="3">Tue</option>
                <option value="4">Wed</option>
                <option value="5">Thu</option>
                <option value="6">Fri</option>
                <option value="7">Sat</option>
                <option value="excluding">Excluding</option>
            </select>
            <label for="date">日期</label>
        </div>

    </div>


</form> 

<!--compact data-table tablesorter item-table-->

