﻿
<style>
    .color-select {
        float:left;
    }
    .color-select + div {
        float:left;
    }

    .missing-data {
        border-color:red !important;
    }

    #CategoryItem-list tbody tr td {

    }

    #CategoryItem-list thead tr th {
        background-color:#999;
        color:white;
    }

    #CategoryItem-list tbody tr td:first-child {
        min-width:100px;
        border:1px solid #ccc;
    }

    #CategoryItem-list thead tr th:first-child {
        min-width:50px;
        border:1px solid #ccc;
    }

    #CategoryItem-list tbody tr td:not(:nth-child(1)){
        min-width:200px !important;
        border:1px solid #ccc;
    }
    #CategoryItem-list thead tr th:not(:nth-child(1)){
        min-width:200px !important;
        border:1px solid #ccc;
    }

</style>
        <!-- 48px is tab heightin full version -->

<form action="" style="  " data-binduid="row">

    <div class="row" style="">
        <button ng-click="submitAdd($event);" class="btn">確定</button>
        <button ng-click="BackItemListPage($event);" class="btn">返回</button>
    </div>

    <div class="row no-margin" layout="row">

        <div class="input-field" flex="15">
            <md-select ng-model="Category.color" id="color">
                <md-option ng-value="color.val" ng-repeat="color in colors">
                    <div class="color-box value {{color.val}} color-select"></div>
                    <div>{{color.name}}</div>
                </md-option>
            </md-select>

            <label for="color">顏色<span style="color:red">*</span></label>
        </div>

        <div class="input-field" flex="15">
            <md-select ng-model="Category.icon" placeholder="" id="icon">
                <md-option ng-repeat="icon in icons" ng-value="icon.val">
                    {{icon.name}}
                </md-option>
            </md-select>
            <label for="icon" class="">Icon<span style="color:red">*</span></label>
        </div>


    </div>


    <div class="row no-margin" layout="row">
        <div class="input-field" flex="25">
            <input class="data-binder" placeholder="例：a12345" id="ename" type="text" ng-model="Category.ename">
            <label for="ename" class="">英文名稱<span style="color:red">*</span></label>
        </div>
        <div class="input-field" flex="25">
            <input class="data-binder" placeholder="例：a12345" id="cname" type="text" ng-model="Category.cname">
            <label for="cname" class="">中文名稱<span style="color:red">*</span></label>
        </div>
        <div class="input-field" flex="25">
            <input class="data-binder" placeholder="例：a12345" id="cname2" type="text" ng-model="Category.cname2">
            <label for="cname2" class="">中文名稱2<span style="color:red">*</span></label>
        </div>
        <div class="input-field" flex="5">
            <input class="data-binder" placeholder="" id="seq" type="number" min="0" ng-model="Category.seq">
            <label for="seq" class="">排序<span style="color:red">*</span></label>
        </div> 
    </div>

</form> 

<!--compact data-table tablesorter item-table-->

