<div id="food-menu" class="menu-area" flex layout="column" style="" ng-show="modeCheckOrderFood()" ng-controller="foodMenuController as foodMenu"> \
    <!-- category items --> \
    <div id="category" class="md-custom-grid col-2x5" style="height:25%;" ng-hide="modeCheckOrderItem(\'option\')"> \
        <div class="row" style=""> \
          <div class="col s10-2" ng-repeat="category in MainService.food.category | startFrom:(currentCatsPage - 1) * MainService.catsPerPage | limitTo: MainService.catsPerPage" ng-if="category.items.length > 0"><button class="md-raised md-button md-grid-button {{::category.color}}" ng-click="MainService.selectCategory(category, $event)">{{::category.name[INFO.lang]}}</button></div> \
           \
          <div class="col s10-2 dummy-grid" ng-if="MainService.noOfCategoryPage == currentCatsPage && MainService.food.category.length % MainService.catsPerPage > 0" ng-repeat="i in MainService.getPageNumber( MainService.catsPerPage - MainService.food.category.length % MainService.catsPerPage ) track by $index"><span></span></div> \
          <pager-custom icon-size="\'dp56\'" template="tmpl/pager-default-materialize.html" total-items="MainService.totalCats" items-per-page="MainService.catsPerPage" ng-model="currentCatsPage"></pager-custom> \
        </div> \
    </div> \
    <div id="category-item" class="md-custom-grid col-3x5" style="height:49.95%;" ng-hide="modeCheckOrderItem(\'option\')"> \
        <div class="row" style=""> \
        <!-- MainService.Cart.addItem(item); --> \
           <div class="col s10-2" ng-repeat="item in MainService.currentCategory.items | startFrom:(currentPage - 1) * MainService.itemsPerPage | limitTo: MainService.itemsPerPage">\
                <!-- food control -->\
                <button class="md-raised md-button md-grid-button {{::item.color}}" ng-click="callKeypadFree($event, dialogTest1,item)" ng-controller="keypadControllerOpenItem">\
                \<!--<span class="badge -->\
                     <span class=" badge suspend" ng-if="item.stock != undefined && (item.stock < 0 || item.stock === 0)">暫停</span> \
                     <div class="name">{{::MainService.fn.shorten(item.name[INFO.lang])}}</div> \
                   \
                     <span class="badge stock" ng-if="item.stock != undefined && item.stock > 0">Q: {{item.stock}}</span> \
                     <small class="secondary"> \
                         <span class="code" ng-show="modeCheckOrderItemDetail()">{{::item.code}}</span> \
                         <span class="code" ng-show="modeCheckOrderItemDetail(\'printer\')">{{::item.printer}}</span> \
                         <!--<span class="badge stock">15</span>--> \
                     </small> \
                     <div class="price">{{ ::item.unitprice / 100 | currency :INFO.currency :1 }}</div> \
           </button></div> \
            \
            <!-- last page?{{ MainService.noOfItemPage - currentPage }} \
            recoprocol dummy {{MainService.itemsPerPage - MainService.totalItems % MainService.itemsPerPage}} -->\
           <div class="col s10-2 dummy-grid" ng-if="MainService.noOfItemPage - currentPage == 0" ng-repeat="i in MainService.getPageNumber( MainService.itemsPerPage - MainService.totalItems % MainService.itemsPerPage ) track by $index"><span></span></div> \
          <pager-custom icon-size="\'dp56\'" template="tmpl/pager-default-materialize.html" total-items="MainService.totalItems" items-per-page="MainService.itemsPerPage" ng-model="currentPage"></pager-custom> \
        </div> \
    </div> \
        \
    <ng-include include-replace src="\'tmpl/options.html\'"></ng-include> \
        \
    <div id="shortcuts" class="md-custom-grid col-1x1" style="height:15%;" ng-controller="dummyCtrl as dummy"> \
        <div class="row" style="margin-bottom: 0;"> \
          <div class="col s8-1" ng-repeat="shortcut in ::dummy.shortcuts"><button class="md-raised md-button md-grid-button" ng-click="MainService.Cart.changeItemQty(shortcut.name)">X {{::shortcut.name}}</button></div> \
           \
          <!--<div class="col s8-1 dummy-grid"></div>--> \
        </div> \
    </div> \
     \
    <grid-menu-option class="food_menu-menu-option menu-option md-grid-container" cancel-param="{}" grid-height="\'fit\'" grid-col="5" template="tmpl/gridMenuOption-order.html" flex="100" layout="column" style="height: 10%;" ng-if="modeCheckOrderItem(\'normalOption\') && !modeCheckOrder(\'billing\')"></grid-menu-option> \
</div> \