﻿  <div>
    <md-grid-list test="1234" md-cols="{{::gridCol}}" md-row-height="{{::gridHeight}}" md-gutter="1" style="">

        <!--takeout && takeoutAndDelivery-->
        <md-grid-tile class="dummy-grid" ng-if="MainService.getOtherWriteOrderService().takeOutAndDelivery && MainService.getOtherWriteOrderService().mode == MainService.getOtherWriteOrderService().schema.orderPage" ng-repeat="i in $parent.numberToArray(2) track by $index">
            <span></span>
        </md-grid-tile> 

        <!--fast food & delivery-->
        <md-grid-tile class="dummy-grid" ng-if="!MainService.getOtherWriteOrderService().takeOutAndDelivery && MainService.getOtherWriteOrderService()" ng-repeat="i in $parent.numberToArray( gridCol - 2 ) track by $index"><span></span>
        </md-grid-tile> 

        <!--dine-in-->
        <md-grid-tile class="dummy-grid" ng-if="!MainService.getOtherWriteOrderService() && MainService.mode == MainService.schema.mode.order" ng-repeat="i in $parent.numberToArray(gridCol - 2) track by $index">
            <span></span>
        </md-grid-tile> 

        <!--btn takeOutAndDelivery-->
        <md-grid-tile ng-if="MainService.getOtherWriteOrderService().takeOutAndDelivery && MainService.getOtherWriteOrderService().mode == MainService.getOtherWriteOrderService().schema.orderPage">         
            <md-button md-no-ink="true" class="md-raised active icon-with-text proceed2" ng-click="MainService.getOtherWriteOrderService().takeOutAndDelivery.showInputInfoDialog();" ng-show="MainService.getOtherWriteOrderService().isOrderPage()" style="line-height:22px;">{{::MainService.label["txt_takeOutAndDelivery_btn_input_customer_info"]}}</md-button> 
        </md-grid-tile>

        <!--btn 訂金-->
        <!--<md-grid-tile ng-if="!MainService.getOtherWriteOrderService() && MainService.mode == MainService.schema.mode.order">
            <md-button md-no-ink="true" class="md-raised active icon-with-text proceed2" ng-click="MainService.getOtherWriteOrderService().takeOutAndDelivery.showInputInfoDialog();" style="line-height:22px;">訂金</md-button>
        </md-grid-tile>-->


        <md-grid-tile>
            <!--dine-in btnBack-->
            <md-button md-no-ink="true" class="md-raised cancel icon-with-text" ng-click="MainService.Cart.cancelOrder2()" ng-hide="modeCheckOrderItem('option') || MainService.getOtherWriteOrderService().isOrderPage() || MainService.deliveryOrderService.isOrderPage();"><i class="md-icon dp45">clear</i>{{::MainService.label["cancel_back"] || "取消/返回"}}</md-button> 

            <!--takeout btnBack-->
            <md-button md-no-ink="true" class="md-raised cancel icon-with-text" ng-click="MainService.getOtherWriteOrderService().backOptionPage();" ng-show="MainService.getOtherWriteOrderService().isOrderPage() && MainService.modeItem == MainService.schema.modeItem.option"><i class="md-icon dp45">clear</i>{{::MainService.label["cancel_back"] || "取消/返回"}}</md-button> 

            <!--takeout btnReset-->
            <md-button md-no-ink="true" class="md-raised cancel icon-with-text" ng-click="MainService.getOtherWriteOrderService().resetCartList(true);" ng-show="MainService.getOtherWriteOrderService().isOrderPage() && MainService.modeItem != MainService.schema.modeItem.option"><i class="md-icon dp45">clear</i>{{::MainService.label["btn_reset"] || "重"}}</md-button> 


            <md-button md-no-ink="true" class="md-raised cancel icon-with-text" ng-click="MainService.Cart.cancelPackage();" ng-show="modeCheckOrderItem('option')"><i class="md-icon dp45">clear</i>{{::MainService.label["cancel_back"] || "取消/返回"}}</md-button>
             
        </md-grid-tile> 

        <md-grid-tile>
            <md-button md-no-ink="true" class="md-raised proceed icon-with-text" ng-click="MainService.submitCart();"><i class="md-icon dp45">done</i>{{::MainService.label["done"] || "完成"}}</md-button> 
        </md-grid-tile> 
    </md-grid-list> 
</div>