﻿<div style="width:100%; height:100%; background-image:url('http://placehold.it/1920x1080');" layout="row" ng-controller="DialogControllerLogin">
    <!--background-image:url('http://placehold.it/1920x1080');-->
    <!--<div id="login-box" class="keypad-container ng-scope" ng-controller="DialogControllerLogin">

        <form name="loginForm" class="ng-pristine ng-valid"></form>
    </div>-->
    <!--<div ng-include="'tmpl/login.html'"></div>-->
    <!--<div id="login-box" class="keypad-container" ng-controller="DialogControllerLogin">
        <form name="loginForm">
            <md-dialog aria-label="Login" class="keypad" ng-app>
                <md-dialog-content class="sticky-container">
                    <div class="message-container" style="padding: 0; max-width: 240px">
                        <div ng-show="loginError" ng-class="{warn: loginError}">{{ ui["password_fail"] || "密碼 或 用戶名稱錯誤"}}</div>
                    </div>
                    <md-input-container class="login">
                        <label>{{ui[modeName] || "用戶名稱 / 密碼"}}</label>
                        <input name="loginField" class="login-input dialog-close" login-input login-input-enter="next()" ng-model="loginValue" ng-trim="false" ng-change="change()" type="password" custom-always-focus="true" autocomplete="off">
                    </md-input-container>
                    <div class="materialize-keypad col-5x3 keypad-container" style="">
                        <div class="row">
                            <div class="col s4" ng-repeat="element in ::keypad">
                                <button class="btn md-button md-grid-button" ng-click="input(element.text)" ng-if="!element.useIcon">{{::element.text}}</button>
                                <button class="btn md-button md-grid-button" ng-click="reset()" ng-if="element.useIcon && element.text=='reset'">
                                    <i ng-show="loginValue && mode == 'username'|| mode == 'password'" class="md-icon">replay</i>
                                    <i ng-hide="loginValue && mode == 'username'|| mode != 'username'" class="md-icon">clear</i>
                                </button>
                                <button class="btn md-button md-grid-button" ng-click="backspace()" ng-if="element.useIcon && element.text=='backspace'">
                                    <i class="md-icon">backspace</i>
                                </button>
                            </div>
                            <div class="col s12">
                                <button class="btn md-button md-grid-button submit" ng-click="next()">{{::ui["done"] || "完成"}}</button>
                            </div>
                        </div>
                    </div>
                </md-dialog-content>
            </md-dialog>
        </form>
    </div>-->
    <div flex></div>
    <div class="keypad" layout="column" flex="25" style="background-color:white;padding-left:30px;padding-right:30px;padding-top:30px;margin-top:30px;margin-bottom:15px;max-width:400px; min-width: 330px; max-height: 620px;">
        <div class="message-container" style="padding: 0; max-width: 240px">
            <div ng-show="loginError" ng-class="{warn: loginError}">{{ ui["password_fail"] || "密碼 或 用戶名稱錯誤"}}</div> 
        </div> 
        <md-input-container class="login">
            <label>{{ui[modeName] || "用戶名稱 / 密碼"}}</label>
            <input name="loginField" class="login-input dialog-close" login-input login-input-enter="next()" ng-model="loginValue" ng-trim="false" ng-change="change()" type="password" custom-always-focus="true" autocomplete="off">
        </md-input-container>
            <div class="materialize-keypad col-5x3 keypad-container" style="">
                <div class="row">
                    <div class="col s4" ng-repeat="element in ::keypad">
                        <button class="btn md-button md-grid-button" ng-click="input(element.text)" ng-if="!element.useIcon">{{::element.text}}</button>
                        <button class="btn md-button md-grid-button" ng-click="reset()" ng-if="element.useIcon && element.text=='reset'">
                            <i ng-show="loginValue && mode == 'username'|| mode == 'password'" class="md-icon">replay</i>
                            <i ng-hide="loginValue && mode == 'username'|| mode != 'username'" class="md-icon">clear</i>
                        </button>
                        <button class="btn md-button md-grid-button" ng-click="backspace()" ng-if="element.useIcon && element.text=='backspace'">
                            <i class="md-icon">backspace</i>
                        </button>
                    </div>
                    <div class="col s12">
                        <button class="btn md-button md-grid-button submit" ng-click="next()">{{::ui["done"] || "完成"}}</button>
                    </div>
                </div>
            </div>



    </div>
    <div layout="column" flex="5"></div>
</div>