﻿<style>
    md-dialog {
        border-radius: 0px;
    }

    .clockpicker-display {
        height: 35px !important;
    }

    .clockpicker-display-column {
        font-size: 20px;
    }

    .picker__frame {
        top: 3% !important;
    }
</style>

<style>
    .tender-list {
        table-layout: fixed;
    }

        .tender-list thead tr th {
            border: 1px solid white;
            padding: 5px 5px;
        }

        .tender-list tbody tr td {
            border: 1px solid white;
            padding: 5px 5px;
        }

            .tender-list tbody tr td.active {
                background: rgb(255,234,0);
            }

            .tender-list tbody tr td.pointer {
                cursor: pointer;
            }

        .tender-list.brown-font {
            color: brown;
            border-top: 1px solid white;
        }

            .tender-list.brown-font tbody tr td {
                padding: 0;
                font-size: 17px;
                border-width: 0px;
            }

    .take-out-and-delivery-container input[aria-disabled=true], .take-out-and-delivery-container textarea[disabled=disabled] {
        color: black;
    }
</style>

<script>
    $('.timepicker').pickatime({
        default: 'now',
        twelvehour: false, // change to 12 hour AM/PM clock from 24 hour
        donetext: 'OK',
        autoclose: false,
        vibrate: true // vibrate the device when dragging clock hand
    });

    function showModal() {

    }
</script>

<script id="views/modalContentsTemplate" type="text/ng-template">
    <div class="modal-content" style="padding:0px;height:400px;overflow:hidden">
        <div class="title col s12" style="height:60px;position:relative;background-color:rgb(78,52,46); color:white;padding:10px 0px;">
            <h5 style="margin:0;width:95%;float:left">{{::ui["txt_takeOutAndDelivery_customer_info"]}}</h5>
            <button style="float:left;border-width:0px;color:white;background:initial" ng-click="takeOutAndDelivery.closeModal();">X</button>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="input-field col s12">
                <input id="selected-phone" type="text" class="validate" disabled="disabled" style="color:black" ng-model="takeOutAndDelivery.customerData.phone">
                <label for="selected-phone" style="font-size:16px;color:black">{{::ui["txt_takeOutAndDelivery_input_phone_no"]}}</label>
            </div>

            <div class="col s12" style="border-bottom:1px dashed #ccc">
                <div class="col s3">#</div>
                <div class="col s3">{{::ui["txt_takeOutAndDelivery_input_customer_name"]}}</div>
                <div class="col s6">{{::ui["txt_takeOutAndDelivery_input_address"]}}</div>
                <!--<div class="col s1"></div>-->
            </div>
            <div class="col s12" style="padding:0px;max-height:200px;overflow-y:auto">
                <div class="col s12" style="border-bottom:1px dashed #ccc" ng-repeat="t in takeOutAndDelivery.tmplAddress">
                    <div class="col s3">
                        <a class="waves-effect waves-light btn proceed" style="margin-top:3px;" ng-click="takeOutAndDelivery.selectAddress(t);">{{::ui["txt_takeOutAndDelivery_btn_submit2"]}}</a>
                    </div>
                    <div class="col s3" style="word-break:break-word">{{t.name}}</div>
                    <div class="col s6" style="word-break:break-word">{{t.address}}</div>
                    <!--<div class="col s1"><a class="waves-effect waves-light btn cancel" style="padding:5px;" ng-click="takeOutAndDelivery.deleteCustomerRecord(t)">X</a></div>-->
                </div>
            </div>
        </div>
    </div>
</script>

<md-dialog aria-label="List dialog" style="width:70%;height:70%;" ng-init="init();">
    <md-dialog-content style="height:100%;padding:0;overflow:hidden">

        <div class="row" style="height:100%;margin:0px;">
            <div class="title col s12" style="background-color:rgb(78,52,46);height:60px;position:fixed">
                <h4 style="color:white;margin:5px 0px;">{{::ui["txt_takeOutAndDelivery_btn_input_customer_info"]}}</h4>
                <button style="color:white;font-weight:bold; position:absolute;top:0; right:20px;background-color:transparent;border:0px;" ng-click="takeOutAndDelivery.closeDialog();">X</button>
            </div>
            <div class="col s12" style="height:calc(100% - 60px);margin-top:60px;overflow-y:auto">
                <form class="col s12 take-out-and-delivery-container" style="margin-bottom:5px;">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="phone" type="text" class="validate" ng-style="takeOutAndDelivery.customerData.phone.length != 8 && {'border-bottom':'1px solid red', 'box-shadow':'0 1px 0 0 red'}" ng-model="takeOutAndDelivery.customerData.phone" ng-keydown="takeOutAndDelivery.checkPhoneTypeInEvent($event);" ng-keyup="takeOutAndDelivery.searchPhoneEvent();" ng-disabled="takeOutAndDelivery.viewOnly">
                            <label for="phone"><span style="color:red">*</span>{{ui["txt_takeOutAndDelivery_input_phone_no"]}}</label>
                            <div ng-show="takeOutAndDelivery.show.isFindingCustomer">
                                <div style="color:red;float:left;width:auto">{{::ui["txt_takeOutAndDelivery_msg_customer_finding"]}}</div>
                                <div style="width:30%;float:left"><img src="https://d13yacurqjgara.cloudfront.net/users/82092/screenshots/1073359/spinner.gif" style="width:40px; height:30px;" /></div>
                            </div>
                            <div ng-show="!takeOutAndDelivery.show.isFindingCustomer">
                                <div style="color:red;float:left;width:60%"><span ng-show="takeOutAndDelivery.show.nothingCustomerInfo">{{::ui["txt_takeOutAndDelivery_msg_customer_not_find"]}}</span></div>
                                <div style="width:40%;float:left">
                                    <a class="waves-effect waves-light btn proceed " ng-if="!takeOutAndDelivery.viewOnly" ng-click="takeOutAndDelivery.searchCustomerInfo();">{{::ui["txt_takeOutAndDelivery_btn_search"]}}</a>
                                </div>
                            </div>
                        </div>

                        <div class="input-field col s6">
                            <input id="name" type="text" class="validate" ng-model="takeOutAndDelivery.customerData.name" ng-disabled="takeOutAndDelivery.viewOnly">
                            <label for="name">{{::ui["txt_takeOutAndDelivery_input_customer_name"]}}</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <label for="time">{{::ui["txt_takeOutAndDelivery_input_time"]}}</label>
                            <input id="time" class="timepicker" type="time" datetime="HH:mm" ng-model="takeOutAndDelivery.customerData.time" ng-disabled="takeOutAndDelivery.viewOnly">
                        </div>
                        <div class="input-field col s6">
                            <input type="checkbox" class="filled-in" id="isDelivery" ng-model="takeOutAndDelivery.customerData.isDelivery" ng-disabled="takeOutAndDelivery.viewOnly" />
                            <label for="isDelivery">{{::ui["txt_takeOutAndDelivery_input_delivery"]}}?</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <textarea id="address" class="materialize-textarea" style="padding:0" ng-model="takeOutAndDelivery.customerData.address" ng-disabled="takeOutAndDelivery.viewOnly"></textarea>
                            <label for="address">{{::ui["txt_takeOutAndDelivery_input_address"]}}</label>
                        </div>
                        <div class="input-field col s6">
                            <textarea id="remark" class="materialize-textarea" style="padding:0" ng-model="takeOutAndDelivery.customerData.remark" ng-disabled="takeOutAndDelivery.viewOnly"></textarea>
                            <label for="remark">{{::ui["txt_takeOutAndDelivery_input_remark"]}}</label>
                        </div>
                    </div>

                    <div class="" ng-if="!takeOutAndDelivery.viewOnly">
                        <a class="waves-effect waves-light btn proceed " style="float:right" ng-click="takeOutAndDelivery.closeDialog(true);">{{::ui["txt_takeOutAndDelivery_btn_submit"]}}</a>
                        <a class="waves-effect waves-light btn cancel " style="float:right;margin-right:5px;" ng-click="takeOutAndDelivery.resetCustomerData();">{{::ui["txt_takeOutAndDelivery_btn_reset"]}}</a>
                    </div>

                    <div class="row" ng-if="takeOutAndDelivery.viewOnly">
                        <div class="input-field col s6">
                            <input id="lastUpdated" type="text" style="color:black" disabled="disabled" value="{{takeOutAndDelivery.customerData.lastUpdatedTime}} [{{takeOutAndDelivery.customerData.lastUpdatedBy}}]">
                            <label for="lastUpdated">{{ui["txt_takeOutAndDelivery_customer_data_last_updated"]}}</label>
                        </div>
                        <div class="col s6">
                            <a class="waves-effect waves-light btn cancel" ng-click="takeOutAndDelivery.toModifyMode()">{{::ui["txt_takeOutAndDelivery_customer_data_modify"]}}</a>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>