﻿<h4>餐品管理</h4>
<div id="item-scene-container">
    <!-- 48px is tab heightin full version -->
    <div layout="row" ng-show="ItemManager.Mode =='basic'" style="height:inherit">
        <div layout="column" flex="100" style="margin-top:10%" id="preLoading">
            <div class="preloader-wrapper big active" style="margin:0 auto;">
                <div class="spinner-layer spinner-green-only">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div><div class="gap-patch">
                        <div class="circle"></div>
                    </div><div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

        <div flex="30" layout="column" class="menu-layout-builder-viewport" style="display:none">
            <table class="compact data-table style1 tablesorter item-table group-table hasFilters" style="margin-bottom:150px;">
                <thead>
                    <tr>
                        <th>中文名稱</th>
                        <th>英文名稱</th>
                        <th>排序</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ItemManager.AllModifierInGroupList">
                        <td>
                            {{item.modifierCode}}
                        </td>
                        <td>{{item.name1}}</td>
                        <td>{{item.name2}}</td>
                        <td>{{item.name3}}</td>
                        <td>{{item.namek}}</td>
                        <td>{{item.goMenu==1?'是':'否'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div flex="" layout="column" class="menu-layout-builder-viewport item-list-viewpoint">
            <table id="FoodItem-list" class="data-table style1 tablesorter item-table group-table hasFilters item-list-table fixed_headers" data-sortlist="[[0,0]]" ng-show="true">
                <thead>
                    <tr>
                        <th style="text-align:center;"><button class="btn" ng-click="ItemManager.AddItemPage();" style="padding:0px; width:60px;" id="insert-item">新增</button></th>
                        <th class="medium-width">餐單</th>
                        <th class="min-width">食品編號</th>
                        <th class="min-width">plu</th>
                        <th class="medium-width">中文名稱</th>
                        <th class="medium-width">中文名稱2</th>
                        <th class="medium-width">廚房名稱</th>
                        <th class="medium-width">英文名稱</th>
                        <th class="min-width">價格</th>
                        <th class="min-width">類型</th>
                        <th class="min-width">項目顏色</th>
                        <th class="min-width">獨立打印</th>
                        <th class="min-width">打印位置</th>
                        <th class="min-width">打印組別</th>
                        <th class="min-width">KDS</th>
                        <th class="medium-width">收取服務費?</th>
                        <th class="min-width">有折扣?</th>
                        <th class="min-width">停售?</th>
                        <th class="medium-width">螢幕顯示?</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ItemManager.ItemList">
                        <td style="text-align:center"><button class="editMode btn" ng-click="ItemManager.EditPage($event, $index)" style="padding:0px; width:60px;">修改</button></td>
                        <td class="category medium-width" category="{{item.categoryId}}">{{item.categoryname}}</td>
                        <td class="code min-width">{{item.code}}</td>
                        <td class="plu min-width">{{item.plu}}</td>
                        <td class="cname medium-width">{{item.name1}}</td>
                        <td class="cname2 medium-width">{{item.name2}}</td>
                        <td class="kname medium-width">{{item.namek}}</td>
                        <td class="ename medium-width">{{item.name3}}</td>
                        <td class="price min-width" price="{{item.price1}}">{{item.price1 | currency: INFO.currency : 1 }}</td>
                        <td class="type min-width" type="{{item.type}}"> {{item.type}} </td>
                        <td class="color min-width" color="{{item.color}}"><div class="color-box value {{item.color}}"></div></td>
                        <td class="individualPrint min-width" individualPrint="{{item.individualPrint}}">{{item.individualPrint == 1? "是" : "否"}}</td>
                        <td class="printer min-width" printer="{{item.printer}}">{{item.printer}}</td>
                        <td class="printerGroup min-width" printerGroup="{{item.printerGroup}}">{{item.printerGroup}}</td>
                        <td class="kds min-width" kds="{{item.kds}}">{{item.kds}}</td>
                        <td class="serviceCharge medium-width" serviceCharge="{{item.serviceCharge}}">{{item.serviceCharge===null || !item.serviceCharge?"否":"是"}}</td>
                        <td class="discount min-width" discount="{{item.discount}}">{{item.discount == 1? "是" : "否"}}</td>
                        <td class="suspend min-width" suspend="{{item.suspend}}">{{item.suspend == 1? "是" : "否"}}</td>
                        <td class="screenShow medium-width" screenShow="{{item.goMenu}}">{{item.goMenu?"是": "否"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div layout="row" style="height:inherit" ng-show="ItemManager.Mode !='basic'">
        <div flex="" layout="column" style="height:inherit">
            <div class="row no-margin">
                <button ng-click="ItemManager.EditSubmit();" class="btn">確定</button>
                <button ng-click="ItemManager.BackItemListPage();" class="btn" id="back-basic">返回</button>
            </div>
            <div class="tab-container col s12 child-container">
                <ul class="tabs" id="item-tabs">
                    <li class="tab col s3"><a class="active" href="#item-info">餐品資料</a></li>
                    <li class="tab col s3"><a href="#item-option">選項</a></li>
                    <li class="tab col s3"><a href="#item-subItem">子項目</a></li>
                    <li class="tab col s3"><a href="#item-modifier">附加選項</a></li>
                    <li class="tab col s3"><a href="#item-timeRange">Time Range</a></li>
                </ul>
            </div>

            <div layout="row" id="item-modifier" style="height:inherit">
                <div flex="50" layout="column" class="menu-layout-builder-viewport">
                    <p style="margin:0px;">已選附加選項組別</p>
                    <table class="compact data-table style1 tablesorter item-table group-table hasFilters modifier-list-table" style="margin-bottom:150px;">
                        <thead>
                            <tr>
                                <th style="text-align:center;width:10%;">

                                </th>
                                <th>GroupCode</th>
                                <th>名稱</th>
                                <th>goMenu顯示?</th>
                                <th style="width:8%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ModifierManager.selectedModifierGroupList">
                                <td class="center-td">
                                    <button ng-click="ModifierManager.RemoveModifierGroup(item, $index);" class="btn" style="padding:0px; width:60px;">移除</button>
                                </td>
                                <td class="center-td">
                                    {{item.modifierGroupCode}}
                                </td>
                                <td class="center-td">{{item.modifierGroupName}}</td>
                                <td class="center-td">{{item.goMenu==1?'是':'否'}}</td>
                                <td class="center-td">
                                    <button ng-click="ModifierManager.GetAllModifierInGroup(item.modifierGroupCode);" class="btn" style="padding:0px; width:60px;">詳細</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div flex="" layout="column" class="menu-layout-builder-viewport">
                    <p style="margin:0px;">附加選項組別</p>
                    <table class="compact data-table style1 tablesorter item-table group-table hasFilters modifier-list-table" style="margin-bottom:150px;">
                        <thead>
                            <tr>
                                <th style="text-align:center;width:10%;">

                                </th>
                                <th>GroupCode</th>
                                <th>名稱</th>
                                <th>goMenu顯示?</th>
                                <th style="width:8%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ModifierManager.modifierGroupList">
                                <td class="center-td">
                                    <button ng-click="ModifierManager.AddModifierGroup(item, $index);" class="btn" style="padding:0px; width:60px;">加入</button>
                                </td>
                                <td class="center-td">
                                    {{item.modifierGroupCode}}
                                </td>
                                <td class="center-td">{{item.modifierGroupName}}</td>
                                <td class="center-td">{{item.goMenu==1?'是':'否'}}</td>
                                <td class="center-td">
                                    <button ng-click="ModifierManager.GetAllModifierInGroup(item.modifierGroupCode);" class="btn" style="padding:0px; width:60px;">詳細</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="modifier-in-group" class="modal" style="width:80%">
                    <div class="modal-content">
                        <button class="btn" style="float:right;margin-top:5px;" ng-click="ModifierManager.CloseAllModifierInGroup();">X</button>
                        <h4>附加選項列表</h4>
                        <table class="compact data-table style1 tablesorter item-table group-table hasFilters modifier-list-table" style="margin-bottom:150px;">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>中文名稱</th>
                                    <th>中文名稱2</th>
                                    <th>英文名稱</th>
                                    <th>廚房名稱</th>
                                    <th>goMenu顯示?</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ModifierManager.AllModifierInGroupList">
                                    <td>
                                        {{item.modifierCode}}
                                    </td>
                                    <td>{{item.name1}}</td>
                                    <td>{{item.name2}}</td>
                                    <td>{{item.name3}}</td>
                                    <td>{{item.namek}}</td>
                                    <td>{{item.goMenu==1?'是':'否'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div layout="row" id="item-info" style="height:inherit">
                <div flex="" layout="column" ng-show="ItemManager.Mode!='basic'">

                    <form action="" style="  " data-binduid="row">
                        <div class="row no-margin" layout="row">
                            <div class="input-field" flex="15">
                                <md-select ng-model="ItemManager.FoodItem.category" placeholder="餐單" id="category">
                                    <md-option ng-repeat="cate in ItemManager.categories" ng-value="cate.categoryId">
                                        {{cate.name1}}
                                    </md-option>
                                </md-select>
                                <label for="category" class="" style="font-size:0.8rem">餐單<span style="color:red">*</span></label>
                            </div>
                            <div class="input-field" flex="10">
                                <md-select ng-model="ItemManager.FoodItem.color" id="color">
                                    <md-option ng-value="color.val" ng-repeat="color in ItemManager.colors">
                                        <div class="color-box value {{color.val}} color-select"></div>
                                        <div>{{color.name}}</div>
                                    </md-option>
                                </md-select>
                                <label for="color" style="font-size:0.8rem">項目顏色<span style="color:red">*</span></label>
                            </div>

                            <div class="input-field" flex="15">
                                <md-select ng-model="ItemManager.FoodItem.ItemType" placeholder="" id="type">
                                    <md-option ng-repeat="item in ItemManager.ItemType" ng-value="item.val">
                                        {{item.name}}
                                    </md-option>
                                </md-select>
                                <label for="type" class="" style="font-size:0.8rem">類型</label>
                            </div>

                        </div>
                        <div class="row no-margin" layout="row">

                            <div layout="column" flex="15" ng-show="ItemManager.Mode =='add'">
                                <div class="input-field" flex="">
                                    <input class="data-binder" placeholder="例：AA12" id="code" type="text" data-field-type="textfield" ng-model="ItemManager.FoodItem.code">
                                    <label for="code" class="">食品編號<span style="color:red">*</span></label>
                                </div>
                            </div>

                            <div layout="column" flex="15" ng-show="ItemManager.Mode !='add'">
                                <div class="input-field" flex="">
                                    <input class="data-binder" placeholder="例：AA12" id="code" type="text" data-field-type="textfield" ng-model="ItemManager.FoodItem.code" disabled style="color:black" />
                                    <label for="code" class="">食品編號<span style="color:red">*</span></label>
                                </div>
                            </div>

                            <div class="input-field" flex="15">
                                <input class="data-binder" placeholder="" id="plu" type="text" ng-model="ItemManager.FoodItem.plu">
                                <label for="plu" class="">plu<span style="color:red">*</span></label>
                            </div>
                            <!--<div id="form-item-category" id="group" class="input-field category-option-container data-binder option-container" data-field-type="dropdown" flex>
                                 <input placeholder="例：AA" id="group" type="text"> \
                                <label for="group" class="">螢幕類別</label>
                            </div>-->
                            <!--<div class="input-field" flex>
                                <input class="data-binder" placeholder="#" id="sort-order" type="text">
                                <label for="sort-order" class="">#</label>
                            </div>-->
                            <div class="input-field" flex="15">
                                <input class="data-binder" placeholder="" id="printer" type="text" ng-model="ItemManager.FoodItem.printer">
                                <label for="printer" class="">打印位置<span style="color:red">*</span></label>
                            </div>

                            <div class="input-field" flex="15">
                                <input class="data-binder" placeholder="" id="printerGroup" type="text" ng-model="ItemManager.FoodItem.printerGroup">
                                <label for="printerGroup" class="">打印組別</label>
                            </div>

                            <div class="input-field" flex="15">
                                <input class="data-binder" placeholder="KDS1" id="kds" type="text" ng-model="ItemManager.FoodItem.kds">
                                <label for="kds" class="">KDS</label>
                            </div>
                            <!-- 項目顏色 -->

                        </div>
                        <div class="row no-margin" layout="row">
                            <div class="input-field" flex="20">
                                <input class="data-binder" placeholder="例：a12345" id="ename" type="text" ng-model="ItemManager.FoodItem.ename">
                                <label for="ename" class="">英文名稱<span style="color:red">*</span></label>
                            </div>
                            <div class="input-field" flex="20">
                                <input class="data-binder" placeholder="例：a12345" id="cname" type="text" ng-model="ItemManager.FoodItem.cname">
                                <label for="cname" class="">中文名稱<span style="color:red">*</span></label>
                            </div>
                            <div class="input-field" flex="20">
                                <input class="data-binder" placeholder="例：a12345" id="cname2" type="text" ng-model="ItemManager.FoodItem.cname2">
                                <label for="cname2" class="">中文名稱2</label>
                            </div>

                            <div class="input-field" flex="20">
                                <input class="data-binder" placeholder="例：a12345" id="kname" type="text" ng-model="ItemManager.FoodItem.kname">
                                <label for="kname" class="">廚房名稱<span style="color:red">*</span></label>
                            </div>
                        </div>

                        <div class="row no-margin" layout="row">

                            <div class="input-field" flex="15">
                                <select class="data-binder default-select" id="serviceCharge2" ng-model="ItemManager.FoodItem.serviceCharge">
                                    <option value="0" selected>否</option>
                                    <option value="1">是</option>
                                </select>
                                <label for="serviceCharge" class="">收取服務費?</label>
                            </div>

                            <div class="input-field" flex="15">
                                <select class="data-binder default-select" id="discount" ng-model="ItemManager.FoodItem.discount">
                                    <option value="0" selected>否</option>
                                    <option value="1">是</option>
                                </select>
                                <label for="discount" class="">有折扣?</label>
                            </div>

                            <div class="input-field" flex="15">
                                <select class="data-binder default-select" id="screenShow" ng-model="ItemManager.FoodItem.screenShow">
                                    <option value="0" selected>否</option>
                                    <option value="1">是</option>
                                </select>
                                <label for="screenShow" class="">goMenu顯示?</label>
                            </div>

                            <div class="input-field" flex="15">
                                <select class="data-binder default-select" id="individualPrint" ng-model="ItemManager.FoodItem.individualPrint">
                                    <option value="0" selected>否</option>
                                    <option value="1">是</option>
                                </select>
                                <label for="individualPrint" class="">獨立打印?</label>
                            </div>


                            <div class="input-field" flex="15">
                                <select class="data-binder default-select" id="suspend" ng-model="ItemManager.FoodItem.suspend">
                                    <option value="0" selected>否</option>
                                    <option value="1">是</option>
                                </select>
                                <label for="suspend" class="">停售?</label>
                            </div>
                        </div>

                        <br />

                        <!--<div class="row" style="">
                            <button ng-click="submitAdd($event);" class="btn">確定</button>
                            <button ng-click="BackItemListPage($event);" class="btn">返回</button>
                        </div>-->

                    </form>
                </div>
            </div>

            <div layout="row" id="item-option" style="height:inherit">
                <div flex="40" layout="column" class="menu-layout-builder-viewport">
                    <p style="margin:0px;">已選選項組別</p>
                    <table class="compact data-table style1 tablesorter item-table group-table hasFilters group-list-table" style="margin-bottom:150px;">
                        <thead>
                            <tr>
                                <th style="width:80px;"></th>
                                <th>Code</th>
                                <th>中文名稱</th>
                                <th>最少數量</th>
                                <th>最大數量</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in OptionManager.selectedGroupList" ng-click="">
                                <td class="center-td"><button ng-click="OptionManager.RemoveGroup(item, $index);" class="btn" style="padding:0px; width:60px;">移除</button></td>
                                <td class="center-td">
                                    {{item.optionGroupCode}}
                                </td>
                                <td class="center-td">{{item.name1}}</td>
                                <td class="center-td">
                                    <input value="{{item.minQty}}" style="width:100%; text-align:center;" type="number" min="0" step="1" ng-blur="OptionManager.UpdateQty($event, $index, 'min');" />
                                </td>
                                <td class="center-td">
                                    <input value="{{item.maxQty}}" style="width:100%; text-align:center;" type="number" min="0" step="1" ng-blur="OptionManager.UpdateQty($event, $index, 'max');" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div flex="" layout="column" class="menu-layout-builder-viewport">
                    <p style="margin:0px;">選項組別</p>
                    <table class="compact data-table style1 tablesorter item-table group-table hasFilters group-list-table" style="margin-bottom:150px;">
                        <thead>
                            <tr>
                                <th style="width:80px;"></th>
                                <th>Code</th>
                                <th>中文名稱</th>
                                <th>goMenu顯示?</th>
                                <th style="width:8%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in OptionManager.GroupList" ng-click="">
                                <td class="center-td"><button ng-click="OptionManager.AddGroup(item, $index);" class="btn" style="padding:0px; width:60px;">加入</button></td>
                                <td class="center-td">
                                    {{item.optionGroupCode}}
                                </td>
                                <td class="center-td">{{item.name1}}</td>
                                <td class="center-td">{{item.goMenu==1?'是':'否'}}</td>
                                <td class="center-td"><button ng-click="OptionManager.GetAllOptionInGroup(item.optionGroupCode);" class="btn" style="padding:0px; width:60px;">詳細</button></td>
                            </tr>
                        </tbody>
                    </table>



                </div>
                <div id="option-in-group" class="modal" style="width:80%">
                    <div class="modal-content">
                        <button class="btn" style="float:right;margin-top:5px;" ng-click="OptionManager.CloseAllOptionInGroup();">X</button>
                        <h4>選項列表</h4>
                        <table class="compact data-table style1 tablesorter item-table group-table hasFilters option-list-table">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>中文名稱</th>
                                    <th>英文名稱</th>
                                    <th>中文名稱2</th>
                                    <th>廚房名稱</th>
                                    <th>打印位置</th>
                                    <th>打印組別</th>
                                    <th>KDS</th>
                                    <th>goMenu顯示?</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in OptionManager.AllOptionInGroupList">
                                    <td>{{item.optionCode}}</td>
                                    <td>{{item.name1}}</td>
                                    <td>{{item.name2}}</td>
                                    <td>{{item.name3}}</td>
                                    <td>{{item.namek}}</td>
                                    <td>{{item.printer}}</td>
                                    <td>{{item.printerGroup}}</td>
                                    <td>{{item.kds}}</td>
                                    <td>{{item.goMenu==1?'是':'否'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div layout="row" id="item-subItem" style="height:inherit">
                <div flex="40" layout="column" class="menu-layout-builder-viewport">
                    <p style="margin:0px;">已選子項目</p>
                    <table class="compact data-table style1 tablesorter item-table group-table hasFilters" style="margin-bottom:150px;">
                        <thead>
                            <tr>
                                <th style="width:80px;"></th>
                                <th>Code</th>
                                <th>中文名稱</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in SubItemManager.selectedSubitemList">
                                <td class="center-td">
                                    <button ng-click="SubItemManager.RemoveSubitem(item, $index);" class="btn" style="padding:0px; width:60px;">移除</button>
                                </td>
                                <td class="center-td">
                                    {{item.subitemCode}}
                                </td>
                                <td class="center-td">{{item.name1}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div flex="" layout="column" class="menu-layout-builder-viewport">
                    <p style="margin:0px;">子項目</p>
                    <table class="compact data-table style1 tablesorter item-table group-table hasFilters" style="margin-bottom:150px;">
                        <thead>
                            <tr>
                                <th style="width:80px;"></th>
                                <th>Code</th>
                                <th>中文名稱</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in SubItemManager.SubitemList">
                                <td class="center-td">
                                    <button ng-click="SubItemManager.AddSubitem(item, $index);" class="btn" style="padding:0px; width:60px;">加入</button>
                                </td>
                                <td class="center-td">
                                    {{item.subitemCode}}
                                </td>
                                <td class="center-td">{{item.name1}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div layout="row" id="item-timeRange" style="height:inherit">
                <div flex="50" layout="column" class="menu-layout-builder-viewport">
                    <p style="margin:0px;">TimeRange List</p>
                    <table class="compact data-table style1 tablesorter item-table group-table hasFilters" style="margin-bottom:150px;">
                        <thead>
                            <tr>
                                <th></th>
                                <th>名稱</th>
                                <th>開始時間</th>
                                <th>結束時間</th>
                                <th>日期</th>
                                <th>Active Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in TimeRangeManager.selectedTimeRangeList">
                                <td class="center-td">
                                    <button ng-click="TimeRangeManager.RemoveTimeRange(item, $index);" class="btn" style="padding:0px; width:60px;">移除</button>
                                </td>
                                <td class="center-td">
                                    {{item.name}}
                                </td>
                                <td class="center-td">{{item.timeStart | date:'HH:mm:ss'}}</td>
                                <td class="center-td">{{item.timeEnd | date:'HH:mm:ss'}}</td>
                                <td class="center-td">{{item.date}}</td>
                                <td class="center-td"><input type="date" class="datepicker" style="text-align:center" value="{{item.ActiveDate}}" min="{{item.ActiveDate}}" ng-blur="TimeRangeManager.UpdateDate($event, $index);" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div flex="" layout="column" class="menu-layout-builder-viewport">
                    <p style="margin:0px;">TimeRange List</p>
                    <table class="compact data-table style1 tablesorter item-table group-table hasFilters" style="margin-bottom:150px;">
                        <thead>
                            <tr>
                                <th></th>
                                <th>名稱</th>
                                <th>開始時間</th>
                                <th>結束時間</th>
                                <th>日期</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in TimeRangeManager.TimeRangeList">
                                <td class="center-td">
                                    <button ng-click="TimeRangeManager.AddTimeRange(item, $index);" class="btn" style="padding:0px; width:60px;">加入</button>
                                </td>
                                <td class="center-td">
                                    {{item.name}}
                                </td>
                                <td class="center-td">{{item.timeStart | date:'HH:mm:ss'}}</td>
                                <td class="center-td">{{item.timeEnd | date:'HH:mm:ss'}}</td>
                                <td class="center-td">{{item.date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--compact data-table tablesorter item-table-->

</div>
<script>
    $(function () {
        //$('#FoodItem-list').tablesorter();
        //$(window).on('resize', function () {
        //    $('#item-scene-container #FoodItem-list tbody').css('height', $('.item-list-viewpoint').height() - 40);
        //    console.log('resize');
        //});



        $('#item-scene-container #FoodItem-list tbody').css('height', $('.item-list-viewpoint').height() - 40);
    })
</script>