﻿<style>
    select.default-select{
        font-size:12px;
        height:30px;
        margin-top:30px;
        display:block;
    }
    .missing-data {
        border-color:red !important;
    }

    .modifier-list-table tbody tr td, .center-td {
        word-break:break-all;
        text-align:center;
    }

</style>
<h4>附加選項管理</h4>
<div class="tab-container col s12 child-container">
    <ul class="tabs" id="modifier-tabs">
        <li class="tab col s3"><a class="active" href="#item-info">附加選項</a></li>
        <li class="tab col s3"><a href="#item-group">附加選項組別</a></li>
    </ul>
</div>
<div layout="row" id="item-info" style="height:inherit">
    <div flex="" layout="column" class="menu-layout-builder-viewport" ng-show="ItemManager.Mode=='basic'">
        <table class="compact data-table style1 tablesorter item-table group-table hasFilters modifier-list-table" style="margin-bottom:150px;">
            <thead>
                <tr>
                    <th style="text-align:center;">
                    <button ng-click="ItemManager.Mode='add'" class="btn">新增</button>
                    </th>
                    <th>Code</th>
                    <th>中文名稱</th>
                    <th>中文名稱2</th>
                    <th>英文名稱</th>
                    <th>廚房名稱</th>
                    <th>goMenu顯示?</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in modifierItemList">
                    <td><button ng-click="ItemManager.EditBtnClick(item, $index);" class="btn">修改</button></td>
                    <td>
                        {{item.modifierCode}}
                    </td>
                    <td>{{item.name1}}</td>
                    <td>{{item.name2}}</td>
                    <td>{{item.name3}}</td>
                    <td>{{item.namek}}</td>
                    <td>{{item.goMenu==1?'是':'否'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div flex="" layout="column" class="menu-layout-builder-viewport" ng-show="ItemManager.Mode!='basic'">
        <p ng-if="ItemManager.Mode == 'add' ">新增附加選項</p>
        <p ng-if="ItemManager.Mode == 'change' ">修改附加選項</p>
        <div class="row no-margin" >
            <button ng-click="ItemManager.EditSubmit();" class="btn">確定</button>
            <button ng-click="ItemManager.BackBasicList();" class="btn">返回</button>
        </div>
        <br/>
        <div class="row no-margin" layout="row" ng-show="ItemManager.Mode == 'add'">
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="例：MD1234" id="code" type="text" data-field-type="textfield" ng-model="ModifierItem.modifierCode">
                <label for="code" class="" style="color:#9e9e9e;">Code
                <span style="color:red">*</span>
                <span style="color:red">(MD + 4字位)</span>
                </label>
            </div>
        </div>
        <div class="row no-margin" layout="row" ng-show="ItemManager.Mode == 'change'">
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="例：MD1234" id="code" type="text" data-field-type="textfield" ng-model="ModifierItem.modifierCode" disabled style="color:black;">
                <label for="code" class="" style="color:#9e9e9e;">Code<span style="color:red">*</span></label>
            </div>
        </div>
        <div class="row no-margin" layout="row">
            <div class="input-field" flex="30">
                <input class="data-binder" placeholder="例：MD123" id="name1" type="text" data-field-type="textfield" ng-model="ModifierItem.name1">
                <label for="name1" class="">中文名稱<span style="color:red">*</span></label>
            </div>
            <div class="input-field" flex="30">
                <input class="data-binder" placeholder="例：MD123" id="code" type="text" data-field-type="textfield" ng-model="ModifierItem.name2">
                <label for="name2" class="">中文名稱2</label>
            </div>
  
        </div>
        <div class="row no-margin" layout="row">
            <div class="input-field" flex="30">
                <input class="data-binder" placeholder="例：MD123" id="name3" type="text" data-field-type="textfield" ng-model="ModifierItem.name3">
                <label for="name3" class="">英文名稱</label>
            </div>
            <div class="input-field" flex="30">
                <input class="data-binder" placeholder="例：MD123" id="namek" type="text" data-field-type="textfield" ng-model="ModifierItem.namek">
                <label for="namek" class="">廚房名稱<span style="color:red">*</span></label>
            </div>
            <div class="input-field" flex="30" style="margin-top:0px;">
                <select class="data-binder default-select ng-pristine ng-valid ng-touched" id="screenShow" ng-model="ModifierItem.goMenu" tabindex="0" aria-invalid="false">
                    <option value="0" selected="">否</option>
                    <option value="1">是</option>
                </select>
                <label for="screenShow" class="" style="top:2px;">goMenu顯示?</label>
            </div>
        </div>

       </div>



</div>
<div layout="row" id="item-group" style="height:inherit">
    <div flex="30" layout="column" class="menu-layout-builder-viewport">
        <p style="margin:0px;">組別列表</p>
        <table class="compact data-table style1 tablesorter item-table group-table hasFilters group-list-table" style="margin-bottom:150px;">
            <thead>
                <tr>
                    <th style="width:80px;"><button ng-click="GroupManager.GroupInsertClick();" class="btn" style="padding:0px; width:60px;">新增</button></th>
                    <th>Code</th>
                    <th>中文名稱</th>
                    <th>goMenu顯示?</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in modifierGroupList" ng-click="GroupManager.GroupListRowClick(item, $event, $index)">
                    <td class="center-td"><button ng-click="GroupManager.GroupUpdateClick(item, $index);" class="btn"  style="padding:0px; width:60px;">修改</button></td>
                    <td>
                        {{item.modifierGroupCode}}
                    </td>
                    <td>{{item.modifierGroupName}}</td>
                    <td>{{item.goMenu==1?'是':'否'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    

    <div flex="" layout="column" class="menu-layout-builder-viewport" ng-show="GroupManager.Mode!='basic'">
        <p ng-if="GroupManager.Mode == 'add' " style="margin:0px;">新增組別</p>
        <p ng-if="GroupManager.Mode == 'change' " style="margin:0px;">修改組別</p>
        <div class="row no-margin">
            <button ng-click="GroupManager.submitAddGroup();" class="btn">確定</button>
            <button ng-click="GroupManager.BackBasicList();" class="btn">返回</button>
        </div>
        <br />
        <div class="row no-margin" layout="row" ng-show="GroupManager.Mode == 'add'">
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="例：MDG1234" id="group-code" type="text" data-field-type="textfield" ng-model="ModifierGroup.Code">
                <label for="group-code" class="" style="color:#9e9e9e;">Code<span style="color:red">*</span>
                    <span style="color:red">(MDG + 4字位)</span>
                </label>
            </div>
        </div>
        <div class="row no-margin" layout="row" ng-show="GroupManager.Mode == 'change'">
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="例：MD123" id="group-code" type="text" data-field-type="textfield" ng-model="ModifierGroup.currentGroupCode" disabled style="color:black;">
                <label for="group-code" class="" style="color:#9e9e9e;">Code<span style="color:red">*</span></label>
            </div>
        </div>
        <div class="row no-margin" layout="row">


            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="例：MD123" id="group-name" type="text" data-field-type="textfield" ng-model="ModifierGroup.Name">
                <label for="group-name" class="">中文名稱<span style="color:red">*</span></label>
            </div>

            <div class="input-field" flex="20" style="margin-top:0px;">
                <select class="data-binder default-select ng-pristine ng-valid ng-touched" id="group-screenShow" ng-model="ModifierGroup.goMenu" tabindex="0" aria-invalid="false">
                    <option value="0" selected="">否</option>
                    <option value="1">是</option>
                </select>
                <label for="group-screenShow" class="" style="top:2px;">goMenu顯示?</label>
            </div>

        </div>
    </div>

    <div flex="" layout="column"  ng-show="GroupManager.Mode=='basic'" style="height:inherit">

        <div layout="row" style="height:inherit">
            <div flex="" layout="column" class="menu-layout-builder-viewport">
                <p style="margin:0px;">已選附加選項</p>
                <table class="compact data-table style1 tablesorter item-table group-table hasFilters modifier-list-table" style="margin-bottom:150px;">
                    <thead>
                        <tr>
                            <th style="text-align:center;">
                                <button ng-click="GroupManager.OptionMode='add'" class="btn" style="padding:0px; width:60px;">新增</button>
                            </th>
                            <th>Code</th>
                            <th>中文名稱</th>
                            <th>中文名稱2</th>
                            <th>英文名稱</th>
                            <th>廚房名稱</th>
                            <th>goMenu顯示?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in modifierItemListByGroup">
                            <td class="center-td"><button ng-click="GroupManager.RemoveItemInModifierGroup(item.modifierCode)"class="btn" style="padding:0px; width:60px;">移除</button></td>
                            <td>
                                {{item.modifierCode}}
                            </td>
                            <td>{{item.name1}}</td>
                            <td>{{item.name2}}</td>
                            <td>{{item.name3}}</td>
                            <td>{{item.namek}}</td>
                            <td>{{item.goMenu==1?'是':'否'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div flex="50" layout="column" class="menu-layout-builder-viewport" ng-show="GroupManager.OptionMode=='add'">
                <p style="margin:0px;">附加選項</p>
                <table class="compact data-table style1 tablesorter item-table group-table hasFilters modifier-list-table" style="margin-bottom:150px;">
                    <thead>
                        <tr>
                            <th style="text-align:center;">
                                <button ng-click="GroupManager.OptionMode='basic'" class="btn" style="padding:0px; width:60px;">返回</button>
                            </th>
                            <th>Code</th>
                            <th>中文名稱</th>
                            <th>英文名稱</th>
                            <th>廚房名稱</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in modifierItemListNotInGroup" index="{{$index}}">
                            <td><button ng-click="GroupManager.AddItemToModifierGroup('{{item.modifierCode}}')" class="btn" style="padding:0px; width:60px;">加入</button></td>
                            <td>
                                {{item.modifierCode}}
                            </td>
                            <td>{{item.name1}}</td>
                            <td>{{item.namek}}</td>
                            <td>{{item.goMenu==1?'是':'否'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
       
   
    
    
    
     </div>


 </div>

    <!--compact data-table tablesorter item-table-->

