﻿<div class="keypad-amount numeric-keypad materialize-keypad col-4x3" ng-controller="multiPayKeypadController">
    <div class="row">
        <div class="col s4"><button class="btn md-button md-grid-button" ng-click="appendAmount(1)">1</button></div> 
        <div class="col s4"><button class="btn md-button md-grid-button" ng-click="appendAmount(2)">2</button></div> 
        <div class="col s4"><button class="btn md-button md-grid-button" ng-click="appendAmount(3)">3</button></div> 
    </div> 
    <div class="row">
        <div class="col s4"><button class="btn md-button md-grid-button" ng-click="appendAmount(4)">4</button></div> 
        <div class="col s4"><button class="btn md-button md-grid-button" ng-click="appendAmount(5)">5</button></div> 
        <div class="col s4"><button class="btn md-button md-grid-button" ng-click="appendAmount(6)">6</button></div> 
    </div> 
    <div class="row">
        <div class="col s4"><button class="btn md-button md-grid-button" ng-click="appendAmount(7)">7</button></div> 
        <div class="col s4"><button class="btn md-button md-grid-button" ng-click="appendAmount(8)">8</button></div> 
        <div class="col s4"><button class="btn md-button md-grid-button" ng-click="appendAmount(9)">9</button></div> 
    </div> 
    <div class="row">
        <div class="col s4"><button class="btn md-button md-grid-button" ng-click="appendAmount('.')">.</button></div> 
        <div class="col s4"><button class="btn md-button md-grid-button" ng-click="appendAmount(0)">0</button></div> 
        <div class="col s4"><button class="btn md-button md-grid-button" ng-click="truncateAmount()">
            <i class="md-icon">backspace</i></button></div> 
    </div> 
</div>