﻿<md-dialog aria-label="List dialog" style="width:95%;height:70%;" ng-init="init()">
    <md-dialog-content style="height:100%">
        <style>
            .tender-list {
                table-layout: fixed;
            }

                .tender-list thead tr th {
                    border: 1px solid white;
                    padding: 5px 5px;
                }

                .tender-list tbody tr td {
                    border: 1px solid white;
                    padding: 5px 5px;
                }

                    .tender-list tbody tr td.active {
                        background: rgb(255,234,0);
                    }

                    .tender-list tbody tr td.pointer {
                        cursor: pointer;
                    }

                .tender-list.brown-font {
                    color: brown;
                    border-top: 1px solid white;
                }

                    .tender-list.brown-font tbody tr td {
                        padding: 0;
                        font-size: 17px;
                        border-width: 0px;
                    }
        </style>
        <div layout="row" style="height:100%">
            <div layout="column" flex="65" style="background-color:#fef2c0">
                <div class="row" style="height:8%;margin:0px;">
                    <table class="tender-list" style="font-size:18px;">
                        <thead>
                            <tr>
                                <th width="30%">{{::ui.txt_multipay_payment_method}}</th>
                                <th width="18%">{{::ui.txt_multipay_amount}}</th>
                                <th width="18%">{{::ui.txt_multipay_total_amount}}</th>
                                <th width="24%"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div style="height:60%;max-height:60%;overflow-y:auto;">
                    <table class="tender-list">
                        <tbody>
                            <tr ng-repeat="d in MainService.deposit.appliedDeposit track by $index">
                                <td width="30%">
                                    [訂金]{{d.getPaymentName()}}
                                </td>
                                <td width="18%" style="color:red">
                                    {{d.paymentPrice | currency : INFO.currency : 1}}
                                </td>
                                <td width="18%" style="color:red">
                                    {{d.paymentPrice | currency : INFO.currency : 1}}
                                </td>
                                <td width="24%"></td>
                            </tr>
                            <tr ng-repeat="t in MainService.appliedPaymentMethod track by $index" ng-hide="$index == 0 && MainService.deposit.appliedDeposit.length != 0 && MainService.deposit.appliedDeposit[0].refNo != null ">
                                <td width="30%">{{t.name}} <a href="#" class="btn-delete" style="background-color:red;color:white" ng-click="deleteMethod($index)">{{::ui.delete}}</a></td>
                                <td width="18%" class="pointer" ng-class="t.isActive && t.activeField == 'totalAmount' ? 'active' : ''" ng-click="changeCurrentTender(t, 'totalAmount');"><span ng-style="t.totalAmount > 0 && {'color':'red'}">{{t.totalAmount | currency : INFO.currency : 1 }}</span></td>
                                <td width="18%" class="pointer" ng-class="t.isActive && t.activeField == 'amount' ? 'active' : ''" ng-click="changeCurrentTender(t, 'amount');"><span ng-style="t.amount > 0 && {'color':'red'}">{{t.amount | currency : INFO.currency : 1 }}</span></td>
                                <td width="24%">
                                    <span ng-if="t.method!='cash' && t.amount >= t.totalAmount">{{::ui.tips}}: </span> 
                                    <span ng-if="t.method=='cash' && t.amount >= t.totalAmount">{{::ui.payment_change}}: </span>
                                    <span ng-if="t.amount < t.totalAmount">{{::ui.txt_multipay_remainder}}: </span>
                                    <span>{{t.remainder | currency : INFO.currency : 1 }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" style="height:32%;margin:0">
                    <table class="tender-list brown-font" style="height:100%">
                        <tbody>
                            <tr>

                                <td>{{::ui.subtotal}}</td>
                                <td>{{MainService.Cart.price | currency : INFO.currency : 1 }}</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>

                                <td>{{::ui.bill_decimal}}</td>
                                <td>{{MainService.Cart.remainings | currency : INFO.currency : 1 }}</td>
                                <td>{{::ui.service_charge}}</td>
                                <td>{{MainService.Cart.serviceCharge | currency : INFO.currency : 1 }}</td>

                            </tr>
                            <tr>
                                <td>{{::ui.total_amount}}</td>
                                <td>{{MainService.Cart.totalPrice | currency : INFO.currency : 1 }}</td>
                                <!--總金額-->
                                <td>{{::ui.remainder}}</td>
                                <td>{{MainService.multiPayment.getRemainingPayAmount() | currency : INFO.currency : 1 }}</td> 
                                <!--尚欠餘額-->
                            </tr>
                            <tr>
                                <td>{{::ui.txt_multipay_amount}}</td>
                                <td>{{MainService.multiPayment.getAmount('totalAmount') | currency : INFO.currency : 1 }}</td>
                                <!--實收金額-->
                                <td>{{::ui.txt_multipay_total_amount}}</td>
                                <td>{{MainService.multiPayment.getAmount('amount') | currency : INFO.currency : 1 }}</td>
                                <!--已收金額-->
                            </tr>
                            <tr>
                                <td>{{::ui.tips}}</td>
                                <td>{{MainService.multiPayment.getRemainder('tips') | currency : INFO.currency : 1 }}</td>
                                <td>{{::ui.payment_change}}</td>
                                <td>{{MainService.multiPayment.getRemainder('') | currency : INFO.currency : 1 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <!--style="background-color:black;"-->
            <div layout="column" flex="">

                <!--<div class="keypad-amount-shortcur materialize-keypad col-1x3" style="height:10%;">
                    <div class="row" style="margin:0px">
                        <div class="col s6" style="padding:0;border:1px solid white">
                            <button class="btn md-button md-grid-button" ng-click="changeMode('keypad')" style="font-size:100%">金額輸入</button>
                        </div>
                        <div class="col s6" style="padding:0;border:1px solid white">
                            <button class="btn md-button md-grid-button" ng-click="changeMode('tender')" style="font-size:100%">選擇付款方式</button>
                        </div>
                    </div>
                </div>-->
                <div style="height:50%">
                    <h2 class="header right-edge-margin fill-height" style="height:8%;margin:0px;padding:5px; font-size:1.75rem;color:white;background-color:black;">{{::ui.txt_multipay_payment_method}}</h2>
                    <div style="height:92%">
                        <div class="payment-option materialize-keypad long-text col-4x3">
                            <div class="row">
                                <div class="col s4" ng-repeat="tender in MainService.multiPayment.tender() | startFrom:(currentPaymentPage - 1) * paymentPerPage | limitTo: paymentPerPage"><button class="btn md-button md-grid-button" ng-click="addMethod(tender)">{{:: INFO.lang=="001"? tender.name1 : tender.name3}}</button></div>
                                <div class="col s4 dummy-grid" ng-if="noOfPaymentPage == currentPaymentPage && MainService.tender.length % paymentPerPage > 0" ng-repeat="i in reminderPage track by $index"><span></span></div>
                                <pager-custom template="tmpl/pager-materialize-s4.html" total-items="MainService.multiPayment.tender().length" items-per-page="paymentPerPage" ng-model="currentPaymentPage" style="background:white;font-size:45px !important" class="pager-custom"></pager-custom>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="height:50%">
                    <h2 class="header right-edge-margin fill-height" style="height:8%;margin:0px;padding:5px; font-size:1.75rem;color:white;background-color:black;">{{ui.input_amount}}</h2>
                    <div style="height:92%">
                        <div ng-include="'tmpl/bill-numeric-keypad-multiPay.html'" style="height:80%"></div>
                        <div style="background:#FFDE8D;height:20%">
                            <div class="row" style="margin:0; height:100%">
                                <!--<div class="col s6" style="padding:0;height:100%"><button class="cancel md-button md-grid-button icon-with-text" ng-click="closeDialog();"><i class="md-icon dp45">clear</i>返回</button></div>-->
                                <div class="col s12" style="padding:0;height:100%"><button class="proceed md-button md-grid-button icon-with-text" ng-click="submit()"><i class="md-icon dp45">done</i>{{ui.done}}</button></div>
                            </div>
                        </div>
                    </div>
                </div>
                


                <!--<bill-numeric-keypad ></bill-numeric-keypad>-->
            </div>
        </div>
    </md-dialog-content>
</md-dialog>