﻿<style>
    select.default-select {
        font-size: 12px;
        height: 30px;
        margin-top: 30px;
        display: block;
    }

    .missing-data {
        border-color: red !important;
    }

    .option-list-table tbody tr td, .center-td {
        word-break: break-all;
        text-align: center;
    }
</style>
<h4>選項管理</h4>
<div class="tab-container col s12 child-container" ng-show="ItemManager.Mode=='basic'">
    <ul class="basic-tabs tabs" id="option-tabs">
        <li class="tab col s3"><a class="active" href="#item-info">選項</a></li>
        <li class="tab col s3"><a href="#item-group">選項組別</a></li>
    </ul>
</div>

<div class="tab-container col s12 child-container" ng-show="ItemManager.Mode!='basic'">
    <ul class="Edit-tabs tabs">
        <li class="tab col s3"><a class="active" href="#option-info">選項資料</a></li>
        <li class="tab col s3"><a href="#option-modifier">附加選項</a></li>
    </ul>
</div>
<div layout="row" id="item-info" style="height:inherit">

    <div flex="" layout="column" class="menu-layout-builder-viewport" ng-show="ItemManager.Mode=='basic'">
        <table class="compact data-table style1 tablesorter item-table group-table hasFilters option-list-table" style="margin-bottom:150px;" id="optionItemList">
            <thead>
                <tr>
                    <th style="text-align:center;">
                        <button ng-click="ItemManager.InsertBtnClick();" class="btn">新增</button>
                    </th>
                    <th>Code</th>
                    <th>中文名稱</th>
                    <th>英文名稱</th>
                    <th>中文名稱2</th>
                    <th>廚房名稱</th>
                    <th>獨立打印</th>
                    <th>打印位置</th>
                    <th>打印組別</th>
                    <th>KDS</th>
                    <th>goMenu顯示?</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in ItemList">
                    <td><button ng-click="ItemManager.EditBtnClick(item, $index);" class="btn">修改</button></td>
                    <td>{{item.optionCode}}</td>
                    <td>{{item.name1}}</td>
                    <td>{{item.name2}}</td>
                    <td>{{item.name3}}</td>
                    <td>{{item.namek}}</td>
                    <td>{{item.individualPrint == 1? "是" : "否"}}</td>
                    <td>{{item.printer}}</td>
                    <td>{{item.printerGroup}}</td>
                    <td>{{item.kds}}</td>
                    <td>{{item.goMenu==1?'是':'否'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div flex="" layout="column" class="menu-layout-builder-viewport" ng-show="ItemManager.Mode!='basic'" style="height:inherit;overflow-y:hidden">
        <p ng-if="ItemManager.Mode == 'add' ">新增選項</p>
        <p ng-if="ItemManager.Mode == 'change' ">修改選項</p>
        <div class="row no-margin">
            <button ng-click="ItemManager.EditSubmit();" class="btn">確定</button>
            <button ng-click="ItemManager.BackBasicList();" class="btn" id="back-basic">返回</button>
        </div>
        <br />
        <div id="option-info">
            <div class="row no-margin" layout="row" ng-show="ItemManager.Mode == 'add'">
                <div class="input-field" flex="20">
                    <input class="data-binder" placeholder="例：OP12345" id="code" type="text" data-field-type="textfield" ng-model="ItemObject.optionCode">
                    <label for="code" class="" style="color:#9e9e9e;">
                        Code
                        <span style="color:red">*</span>
                        <span style="color:red">(OP + 5字位)</span>
                    </label>
                </div>
            </div>
            <div class="row no-margin" layout="row" ng-show="ItemManager.Mode == 'change'">
                <div class="input-field" flex="20">
                    <input class="data-binder" placeholder="例：MD123" id="code" type="text" data-field-type="textfield" ng-model="ItemObject.optionCode" disabled style="color:black;">
                    <label for="code" class="" style="color:#9e9e9e;">Code<span style="color:red">*</span></label>
                </div>
            </div>
            <div class="row no-margin" layout="row">


                <div class="input-field" flex="20">
                    <input class="data-binder" placeholder="例：MD123" id="name1" type="text" data-field-type="textfield" ng-model="ItemObject.name1">
                    <label for="name1" class="">中文名稱<span style="color:red">*</span></label>
                </div>
                <div class="input-field" flex="20">
                    <input class="data-binder" placeholder="例：MD123" id="name3" type="text" data-field-type="textfield" ng-model="ItemObject.name3">
                    <label for="name3" class="">中文名稱2<span style="color:red">*</span></label>
                </div>
                <div class="input-field" flex="20">
                    <input class="data-binder" placeholder="例：MD123" id="name2" type="text" data-field-type="textfield" ng-model="ItemObject.name2">
                    <label for="name2" class="">英文名稱<span style="color:red">*</span></label>
                </div>
                <div class="input-field" flex="20">
                    <input class="data-binder" placeholder="例：MD123" id="namek" type="text" data-field-type="textfield" ng-model="ItemObject.namek">
                    <label for="namek" class="">廚房名稱<span style="color:red">*</span></label>
                </div>


            </div>
            <div class="row no-margin" layout="row">
                <div class="input-field" flex="20">
                    <input class="data-binder" placeholder="例：MD123" id="printer" type="text" data-field-type="textfield" ng-model="ItemObject.printer">
                    <label for="printer" class="">打印位置</label>
                </div>
                <div class="input-field" flex="20">
                    <input class="data-binder" placeholder="例：MD123" id="printerGroup" type="text" data-field-type="textfield" ng-model="ItemObject.printerGroup">
                    <label for="printerGroup" class="">打印組別</label>
                </div>
                <div class="input-field" flex="20">
                    <input class="data-binder" placeholder="例：MD123" id="kds" type="text" data-field-type="textfield" ng-model="ItemObject.kds">
                    <label for="kds" class="">Kds</label>
                </div>
                <div class="input-field" flex="10">
                    <md-select ng-model="ItemManager.FoodItem.color" id="color">
                        <md-option ng-value="color.val" ng-repeat="color in ItemManager.colors">
                            <div class="color-box value {{color.val}} color-select"></div>
                            <div>{{color.name}}</div>
                        </md-option>
                    </md-select>
                    <label for="color" style="font-size:0.8rem">項目顏色<span style="color:red">*</span></label>
                </div>
            </div>
            <div class="row no-margin" layout="row">
                <div class="input-field" flex="20" style="margin-top:0px;">
                    <select class="data-binder default-select ng-pristine ng-valid ng-touched" id="group-screenShow" ng-model="ItemObject.goMenu" tabindex="0" aria-invalid="false">
                        <option value="0" selected="">否</option>
                        <option value="1">是</option>
                    </select>
                    <label for="group-screenShow" class="" style="top:2px;">goMenu顯示?</label>
                </div>
                <div class="input-field" flex="15" style="margin-top:0px;">
                    <select class="data-binder default-select ng-pristine ng-valid ng-touched" id="group-individualPrint" ng-model="ItemObject.individualPrint" tabindex="0" aria-invalid="false">
                        <option value="0" selected="">否</option>
                        <option value="1">是</option>
                    </select>
                    <label for="group-individualPrint" class="" style="top:2px;">獨立打印?</label>
                </div>
                <div class="input-field" flex="15" style="margin-top:0px;">
                    <select class="data-binder default-select ng-pristine ng-valid ng-touched" id="group-default" ng-model="ItemObject.isDefault" tabindex="0" aria-invalid="false">
                        <option value="0" selected="">否</option>
                        <option value="1">是</option>
                    </select>
                    <label for="group-default" class="" style="top:2px;">默認?</label>
                </div>
            </div>
        </div>
        <div id="option-modifier" layout="row" style="height:inherit">
            <div flex="50" layout="column" class="menu-layout-builder-viewport">
                <p style="margin:0px;">已選附加選項組別</p>
                <table class="compact data-table style1 tablesorter item-table group-table hasFilters modifier-list-table" style="margin-bottom:150px;">
                    <thead>
                        <tr>
                            <th style="text-align:center;width:10%;">

                            </th>
                            <th>GroupCode</th>
                            <th>名稱</th>
                            <th>goMenu顯示?</th>
                            <th style="width:8%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ItemManager.selectedModifierList">
                            <td class="center-td">
                                <button ng-click="ItemManager.RemoveModifierGroup(item, $index);" class="btn" style="padding:0px; width:60px;">移除</button>
                            </td>
                            <td class="center-td">
                                {{item.modifierGroupCode}}
                            </td>
                            <td class="center-td">{{item.modifierGroupName}}</td>
                            <td class="center-td">{{item.goMenu==1?'是':'否'}}</td>
                            <td class="center-td">
                                <button ng-click="ItemManager.GetAllModifierInGroup(item.modifierGroupCode);" class="btn" style="padding:0px; width:60px;">詳細</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div flex="" layout="column" class="menu-layout-builder-viewport">
                <p style="margin:0px;">附加選項組別</p>
                <table class="compact data-table style1 tablesorter item-table group-table hasFilters modifier-list-table" style="margin-bottom:150px;">
                    <thead>
                        <tr>
                            <th style="text-align:center;width:10%;">

                            </th>
                            <th>GroupCode</th>
                            <th>名稱</th>
                            <th>goMenu顯示?</th>
                            <th style="width:8%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ItemManager.modifierList">
                            <td class="center-td">
                                <button ng-click="ItemManager.AddModifierGroup(item, $index);" class="btn" style="padding:0px; width:60px;">加入</button>
                            </td>
                            <td class="center-td">
                                {{item.modifierGroupCode}}
                            </td>
                            <td class="center-td">{{item.modifierGroupName}}</td>
                            <td class="center-td">{{item.goMenu==1?'是':'否'}}</td>
                            <td class="center-td">
                                <button ng-click="ItemManager.GetAllModifierInGroup(item.modifierGroupCode);" class="btn" style="padding:0px; width:60px;">詳細</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div id="modifier-in-group" class="modal" style="width:80%">
                <div class="modal-content">
                    <button class="btn" style="float:right;margin-top:5px;" ng-click="ItemManager.CloseAllModifierInGroup();">X</button>
                    <h4>附加選項列表</h4>
                    <table class="compact data-table style1 tablesorter item-table group-table hasFilters modifier-list-table" style="margin-bottom:150px;">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>中文名稱</th>
                                <th>中文名稱2</th>
                                <th>英文名稱</th>
                                <th>廚房名稱</th>
                                <th>goMenu顯示?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ItemManager.AllModifierInGroupList">
                                <td>
                                    {{item.modifierCode}}
                                </td>
                                <td>{{item.name1}}</td>
                                <td>{{item.name2}}</td>
                                <td>{{item.name3}}</td>
                                <td>{{item.namek}}</td>
                                <td>{{item.goMenu==1?'是':'否'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
<div layout="row" id="item-group" style="height:inherit">
    <div flex="30" layout="column" class="menu-layout-builder-viewport">
        <p style="margin:0px;">組別列表</p>
        <table class="compact data-table style1 tablesorter item-table group-table hasFilters group-list-table" style="margin-bottom:150px;">
            <thead>
                <tr>
                    <th style="width:80px;"><button ng-click="GroupManager.GroupInsertClick($event);" class="btn" style="padding:0px; width:60px;">新增</button></th>
                    <th>Code</th>
                    <th>中文名稱</th>
                    <th>goMenu顯示?</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in GroupList" ng-click="GroupManager.GroupListRowClick(item, $event, $index)">
                    <td class="center-td"><button ng-click="GroupManager.GroupUpdateClick(item, $index);" class="btn" style="padding:0px; width:60px;">修改</button></td>
                    <td class="center-td">
                        {{item.optionGroupCode}}
                    </td>
                    <td class="center-td">{{item.name1}}</td>
                    <td class="center-td">{{item.goMenu==1?'是':'否'}}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <div flex="" layout="column" class="menu-layout-builder-viewport" ng-show="GroupManager.Mode!='basic'">
        <p ng-if="GroupManager.Mode == 'add' " style="margin:0px;">新增組別</p>
        <p ng-if="GroupManager.Mode == 'change' " style="margin:0px;">修改組別</p>
        <div class="row no-margin">
            <button ng-click="GroupManager.EditSubmit();" class="btn">確定</button>
            <button ng-click="GroupManager.BackBasicList();" class="btn">返回</button>
        </div>
        <br />
        <div class="row no-margin" layout="row" ng-show="GroupManager.Mode == 'add'">
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="例：OP12" id="group-code" type="text" data-field-type="textfield" ng-model="GroupObject.optionGroupCode">
                <label for="group-code" class="" style="color:#9e9e9e;">
                    Code<span style="color:red">*</span>
                    <span style="color:red">(OP + 2字位)</span>
                </label>
            </div>
        </div>
        <div class="row no-margin" layout="row" ng-show="GroupManager.Mode == 'change'">
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="例：MD123" id="group-code" type="text" data-field-type="textfield" ng-model="GroupObject.optionGroupCode" disabled style="color:black;">
                <label for="group-code" class="" style="color:#9e9e9e;">Code<span style="color:red">*</span></label>
            </div>
        </div>
        <div class="row no-margin" layout="row">


            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="例：MD123" id="group-name1" type="text" data-field-type="textfield" ng-model="GroupObject.name1">
                <label for="group-name1" class="">中文名稱<span style="color:red">*</span></label>
            </div>
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="例：MD123" id="group-name3" type="text" data-field-type="textfield" ng-model="GroupObject.name3">
                <label for="group-name3" class="">中文名稱2<span style="color:red">*</span></label>
            </div>
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="例：MD123" id="group-name2" type="text" data-field-type="textfield" ng-model="GroupObject.name2">
                <label for="group-name2" class="">英文名稱<span style="color:red">*</span></label>
            </div>
            <div class="input-field" flex="20" style="margin-top:0px;">
                <select class="data-binder default-select ng-pristine ng-valid ng-touched" id="group-screenShow" ng-model="GroupObject.goMenu" tabindex="0" aria-invalid="false">
                    <option value="0" selected="">否</option>
                    <option value="1">是</option>
                </select>
                <label for="group-screenShow" class="" style="top:2px;">goMenu顯示?</label>
            </div>

        </div>
    </div>

    <div flex="" layout="column" ng-show="GroupManager.Mode=='basic'" style="height:inherit">

        <div layout="row" style="height:inherit">
            <div flex="" layout="column" class="menu-layout-builder-viewport">
                <p style="margin:0px;">已選選項</p>
                <table class="compact data-table style1 tablesorter item-table group-table hasFilters option-list-table" style="margin-bottom:150px;">
                    <thead>
                        <tr>
                            <th style="text-align:center;">
                                <button ng-click="GroupManager.OptionMode='add'" class="btn" style="padding:0px; width:60px;">新增</button>
                            </th>
                            <th>Code</th>
                            <th>中文名稱</th>
                            <th>廚房名稱</th>
                            <th>排序</th>
                            <th>goMenu顯示?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in OptionItemListByGroup">
                            <td class="center-td"><button ng-click="GroupManager.RemoveOptionFromGroup(item.optionCode);" class="btn" style="padding:0px; width:60px;">移除</button></td>
                            <td class="center-td">{{item.optionCode}}</td>
                            <td class="center-td">{{item.name1}}</td>
                            <td class="center-td">{{item.namek}}</td>
                            <td class="center-td">
                                <input value="{{item.seq}}" style="width:100%; text-align:center;" type="number" min="0" step="1" class="Edit-Seq"
                                       ng-blur="GroupManager.UpdateSeq($event, item.optionCode, item.seq);" />
                            </td>
                            <td class="center-td">{{item.goMenu==1?'是':'否'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div flex="50" layout="column" class="menu-layout-builder-viewport" ng-show="GroupManager.OptionMode=='add'">
                <p style="margin:0px;">選項</p>
                <table class="compact data-table style1 tablesorter item-table group-table hasFilters option-list-table" style="margin-bottom:150px;">
                    <thead>
                        <tr>
                            <th style="text-align:center;">
                                <button ng-click="GroupManager.OptionMode='basic'" class="btn" style="padding:0px; width:60px;">返回</button>
                            </th>
                            <th>Code</th>
                            <th>中文名稱</th>
                            <th>英文名稱</th>
                            <th>廚房名稱</th>
                            <th>goMenu顯示?</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in OptionItemListNotInGroup">
                            <td class="center-td"><button ng-click="GroupManager.addOptionToGroup(item.optionCode);" class="btn" style="padding:0px; width:60px;">加入</button></td>
                            <td class="center-td">{{item.optionCode}}</td>
                            <td class="center-td">{{item.name1}}</td>
                            <td class="center-td">{{item.name2}}</td>
                            <td class="center-td">{{item.namek}}</td>
                            <td class="center-td">{{item.goMenu==1?'是':'否'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>





    </div>


    <!--<div flex="" layout="column" ng-show="EditGroupPage" class="menu-layout-builder-viewport">
        <p ng-show="GroupPageMode=='add'">
            新增Group
        </p>
        <p ng-show="GroupPageMode=='change'">
            修改Group
        </p>
        <div class="row no-margin" layout="row" ng-show="GroupPageMode=='change'">
            <div class="input-field" flex="30">
                <input class="data-binder" placeholder="請選擇Group" id="currentCode" type="text" data-field-type="textfield" ng-model="ModifierGroup.currentGroupCode" disabled style="color:black;">
                <label for="currentCode" class="" style="color:#9e9e9e;">已選GroupCode</label>
            </div>
        </div>

        <div class="row no-margin" layout="row">
            <div class="input-field" flex="30">
                <input class="data-binder" placeholder="例：MD123" id="group-code" type="text" data-field-type="textfield" ng-model="ModifierGroup.Code" ng-show="GroupPageMode=='add'">
                <input disabled class="data-binder" placeholder="例：MD1231" id="group-code" type="text" data-field-type="textfield" ng-model="ModifierGroup.Code" style="color:black;" ng-show="GroupPageMode=='change'">

                <label for="group-code" class="" style="color:#9e9e9e;">GroupCode<span style="color:red">*</span></label>
            </div>
            <div class="input-field" flex="30">
                <input class="data-binder" placeholder="例：MD123" id="group-name" type="text" data-field-type="textfield" ng-model="ModifierGroup.Name">
                <label for="group-name" class="">中文名稱<span style="color:red">*</span></label>
            </div>
            <div class="input-field" flex="30" style="margin-top:0px;">
                <select class="data-binder default-select ng-pristine ng-valid ng-touched" id="group-screenShow" ng-model="ModifierGroup.goMenu" tabindex="0" aria-invalid="false">
                    <option value="0" selected="">否</option>
                    <option value="1">是</option>
                </select>
                <label for="group-screenShow" class="" style="top:2px;">goMenu顯示?</label>
            </div>
        </div>

        <div class="row no-margin">

            <button ng-click="GroupManager.submitAddGroup();" class="btn">確定</button>
            <button ng-click="EditGroupPage = false;" class="btn">返回</button>
        </div>
    </div>

    <div flex="" layout="column" class="menu-layout-builder-viewport" ng-show="!EditGroupPage">
        <p style="margin:0px;">Item List</p>
        <div class="row no-margin">
            <button ng-click="AddModifierGroupItemPage = true;" class="btn">新增</button>

        </div>


        <br />
        <table class="compact data-table style1 tablesorter item-table group-table hasFilters" style="margin-bottom:150px;">
            <thead>
                <tr>
                    <th style="width:80px;"></th>
                    <th>Code</th>
                    <th>中文名稱</th>
                    <th>中文名稱2</th>
                    <th>英文名稱</th>
                    <th>廚房名稱</th>
                    <th>goMenu顯示?</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in modifierItemListByGroup" index="{{$index}}">
                    <td><button ng-click="GroupManager.RemoveItemInModifierGroup('{{item.modifierCode}}')" class="btn" style="padding:0px; width:60px;">移除</button></td>
                    <td>
                        {{item.modifierCode}}
                    </td>
                    <td>{{item.name1}}</td>
                    <td>{{item.name2}}</td>
                    <td>{{item.name3}}</td>
                    <td>{{item.namek}}</td>
                    <td>{{item.goMenu==1?'是':'否'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div flex="30" layout="column" class="menu-layout-builder-viewport" ng-show="GroupManager.AddModifierGroupItemPageShow();">
        <div class="row no-margin">
            <button ng-click="AddModifierGroupItemPage = false" class="btn">返回</button>
        </div>
        <br />
        <table class="compact data-table style1 tablesorter item-table group-table hasFilters" style="margin-bottom:150px;">
            <thead>
                <tr>
                    <th style="width:80px;"></th>
                    <th>Code</th>
                    <th>中文名稱</th>
                    <th>廚房名稱</th>
                    <th>goMenu顯示?</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in modifierItemListNotInGroup" index="{{$index}}">
                    <td><button ng-click="GroupManager.AddItemToModifierGroup('{{item.modifierCode}}')" class="btn" style="padding:0px; width:60px;">加入</button></td>
                    <td>
                        {{item.modifierCode}}
                    </td>
                    <td>{{item.name1}}</td>
                    <td>{{item.namek}}</td>
                    <td>{{item.goMenu==1?'是':'否'}}</td>
                </tr>
            </tbody>
        </table>
    </div>-->



</div>

<!--compact data-table tablesorter item-table-->
