﻿<div id="order-panel" class="menu-area" layout="row" ng-hide="isModeOrder('split')">

    <!-- sidebar column -->
    <div flex="30" layout="column" class="sidebar" ng-hide="modeCheckBill('summary')">

        <!-- table information -->
        <div layout="row" flex="15" class="header fill-height table-info" style="">


            <div class="table-summary" layout="column" ng-show="isModeOrder('foodControl')">

                <span class="inline-block">{{::ui['food_control']}}</span>
            </div>
            <div layout="column" class="table-summary" ng-hide="isModeOrder('foodControl')">

                <!-- <span flex></span> -->
                <!-- <span class="inline-block no-of-people">4人</span> --><!-- 人 is unit, maybe use filter in the future -->
                <span class="inline-block table-no" ng-if="!MainService.checkIsPayLaterMode()">{{MainService.Cart.tableNo}}</span>
                <div class="inline-block ref-no" ng-if="MainService.checkIsPayLaterMode()" style="margin-top:50px;">{{MainService.Cart.refNo}}</div>

                <div flex class="inline-block" ng-show="MainService.checkIsNotTakeAwayMode();">

                    <input-keypad-noofpeople title="人數" class="inline-block no-of-people display-mode" maxlength="2"><input type="text" ngminlength="1" ngmaxlength="3" ng-model="keypadInfo.value" ng-click="callKeypad(dialogTest1)" custom-always-blur="true" /></input-keypad-noofpeople>

                    <!--<input-keypad title="No of People" class="inline-block no-of-people display-mode" maxlength="2"><input type="text" ngminlength="1" ngmaxlength="3" ng-model="keypadInfo.value" ng-click="callKeypad(dialogTest1)" custom-always-blur="true" /></input-keypad> -->
                    <!-- <input type="text" class="no-of-people display-mode" ngMinlength="1" ngMaxlength="3" name="no_of_people" value="{{loginValue}}" novalidate ng-click="MainService.changePeopleNo($event)"> -->
                    <span class="inline-block unit">{{::ui["txt_split_table_people"]}}</span>
                </div>


                <!-- this present button area  -->
            </div>
            <span flex></span>
            <div style="position: absolute; top: 6px; right: 6px;" class="table-function" ng-controller="scrollController" layout="row">

                <md-button md-no-ink="true" class="md-40p md-raised md-rounded-square md-densed" ng-click="scrollUp( '#order-list', 30 )">

                    <i class="md-icon dp40">keyboard_arrow_up</i>
                </md-button><md-button md-no-ink="true" class="md-40p md-raised md-rounded-square md-densed" ng-click="scrollDown( '#order-list', 30 )">

                    <i class="md-icon dp40">keyboard_arrow_down</i>
                    <!-- ng-show="modeCheckOrderFood();"  -->
                </md-button><md-button md-no-ink="true" class="show-details md-40p md-raised md-rounded-square md-densed" ng-click="toggleItemDisplay1('detail')" aria-label="">

                    <md-icon class="dp30" md-svg-src="assets/icon/identification24.svg"></md-icon>
                </md-button><md-button md-no-ink="true" class="show-details md-40p md-raised md-rounded-square md-densed" ng-click="toggleItemDisplay2('zeroItem')" aria-label="">

                    <i class="md-icon dp48">exposure_zero</i>
                </md-button>
            </div>
        </div>

        <!-- scrollable area only food list -->
        <!-- class="active-item-list" -->
        <md-sidenav id="order-list" flex class="order-list-wrapper" md-is-locked-open="$mdMedia('min-width: 0px')" md-scroll-y style="">


            <order-list ng-hide="isModeOrder('foodControl')"></order-list>

            <div class="col food-control-list" ng-show="isModeOrder('foodControl')">

                <!-- <header class="text-center row-xs-1">食品控制</header> -->
                <footer class="footer">

                    <div class="function">

                        <md-button md-no-ink="true" class="no-margin md-raised md-warn" ng-click="MainService.Cart.cancelOrder2();">{{::ui["close"]}}</md-button>
                        <md-button md-no-ink="true" class="no-margin md-raised proceed" ng-click="MainService.stock.reset(item)">{{::ui["txt_return_all_using_food"]}}</md-button>
                        <!-- <button class="btn btn-default btn-block"></button> -->
                        <!-- <button class="btn btn-danger btn-block" ng-click="panel.showOrderPanel()"><span class="glyphicon glyphicon-remove"></span> {{::ui["close"]}} </button> -->
                    </div>
                </footer>
                <ul class="list-group">

                    <!-- 套餐 -->
                    <li class="list-item" ng-repeat="item in MainService.stock.list track by $index" ng-click="item.editItem();callKeypad($event, dialogTest1,item)" ng-controller="keypadControllerFoodControl" ng-class="{active : item.isEdit}" layout="row">

                        <span flex="75" class="name"><a href="#">{{item.getName()}}</a></span>
                        <span flex class=""></span>
                        <span class="qty" ng-if="item.qty >= 0">{{item.qty}}</span>
                        <span class="qty" ng-if="item.qty === -3">{{::ui["txt_preparing"]}}</span>
                        <span class="qty" ng-if="item.qty === -1">{{::ui["txt_suspend"]}}</span>
                    </li>
                </ul>
            </div>
        </md-sidenav>

        <!-- total etc -->
        <div id="" class="footer account-summary 123" ng-hide="isModeOrder('foodControl')" ng-controller="dineInFoodOtherFooterSummaryController">

            <div class="account row no-margin" ng-show="MainService.Cart.member.vipcode != null">

                <div class=""><strong>{{ ::ui['member'] + ui['colon'] }}</strong><span>{{MainService.Cart.member.name()}} <span class="card-no">#{{MainService.Cart.member.vipcode}}</span></span></div>
            </div>
            <div layout="row" class="row no-margin" ng-show="MainService.Cart.member.vipcode != null">

                <div class="inline-block">{{ ::ui['member_discount'] }}</div><span flex></span><div class="inline-block">{{ MainService.Cart.price | currency : INFO.currency : 1 }}</div>
            </div>

            <div layout="row" class="row no-margin">

                <div class="inline-block">{{ ui['subtotal'] }}</div><span flex></span><div class="inline-block">{{ MainService.Cart.price | currency : INFO.currency : 1 }}</div>
            </div>

            <!--<div layout="row" class="row no-margin" ng-if="MainService.modeDeliveryOrder != MainService.schema.modeDeliveryOrder.writeOrder">
                <div class="inline-block">{{ ::ui['service_charge']}}</div><span flex></span><div class="inline-block">{{ MainService.Cart.serviceCharge | currency : INFO.currency : 1 }}</div>
            </div>-->

            <div layout="row" class="row no-margin" ng-if="MainService.checkIsNotTakeAwayMode();">

                <div class="inline-block">{{ ::ui['service_charge']}}</div><span flex></span><div class="inline-block">{{ MainService.Cart.serviceCharge | currency : INFO.currency : 1 }}</div>
            </div>
            <div layout="row" class="row no-margin" ng-if="MainService.modeDeliveryOrder == MainService.schema.modeDeliveryOrder.writeOrder">

                <div class="inline-block">{{ ::ui['additional_Charge'] }}</div><span flex></span><div class="inline-block">{{ MainService.Cart.serviceCharge | currency : INFO.currency : 1 }}</div>
            </div>


            <div layout="row" class="row no-margin">

                <!--<div class="inline-block discount">{{ ::ui['member_discount'] }}</div><span flex></span><div class="inline-block">-$100.00</div>-->
            </div>
            <div layout="row" class="row no-margin">

                <div class="inline-block">{{ ::ui['bill_decimal'] }}</div><span flex></span><div class="inline-block">{{ MainService.Cart.remainings | currency : INFO.currency : 1 }}</div>
            </div>
            <div layout="row" class="row no-margin">

                <div class="inline-block">{{ ::ui['total_amount'] }}</div><span flex></span><div class="inline-block">{{ MainService.Cart.totalPrice | currency : INFO.currency : 1 }}</div>
            </div>
            <div layout="row" class="row no-margin discount-input row-custom" ng-repeat="discoutList in appliedDiscount() track by $index">
                <div class="inline-block">{{discoutList.name1}}<a ng-if="modeCheckBill('printBill') && !modeCheckBill('amendBill') && isNotModeOrder('searchBill');" href="#" class="warn btn-delete" ng-click="deleteDiscount($index)">{{::ui["delete"]}}</a></div><span flex></span><div class="inline-block">{{discoutList.price | currency : INFO.currency : 1  }}</div>
            </div>

            <div class="row no-margin price-input row-custom" style="background:rgb(244,67,54);color:white" 
                 ng-if="(modeCheckBill() || modeCheckBill('deposit')) && !MainService.isModeOrder('amendBill') && !MainService.isModeOrder('searchBill');" ng-repeat="d in MainService.deposit.appliedDeposit">
                <div class="col s2" style="padding:0px;"><span>{{::ui['txt_deposit']}}:</span></div>
                <div class="col s10" style="padding:0px;"><span>{{d.depositNo}}</span></div>
                <div class="col s12" style="padding:0px;">
                    <div class="inline-block"><span>{{d.getPaymentName()}}</span> 
                        <a href="#" class="warn btn-delete" ng-click="MainService.deposit.deleteAppliedDeposit()">{{::ui['delete']}}</a>
                    </div>
                    <div class="inline-block" style="float:right">{{d.paymentPrice | currency : INFO.currency : 1  }}</div>
                </div>
                <div class="col s12" style="padding:0px" ng-if="MainService.deposit.appliedDeposit.length != 0 && appliedPaymentMethod().length == 0">
                    <div class="inline-block"><span ng-if="MainService.remainerAmount >= 0">{{::ui['txt_deposit_remainder']}}</span><span ng-if="MainService.remainerAmount < 0">{{ ::ui['remainder'] }}</span></div><div class="inline-block" style="float:right">{{ MainService.remainerAmount | currency : INFO.currency : 1  }}</div>
                </div>
            </div>

            <div layout="row" class="row no-margin price-input row-custom" ng-if="modeCheckBill()" ng-repeat="methodList in appliedPaymentMethod() track by $index">

                <div class="row no-margin" ng-if="$index == 0 && MainService.deposit.appliedDeposit.length != 0 && !MainService.isModeOrder('billing')" style="width:100%;background: rgb(244, 67, 54); color: white;margin:0 !important;padding:0px;">
                    <div class="col s3" style="padding:0px;"><span>{{::ui['txt_deposit']}}:</span></div>
                    <div class="col s9" style="padding:0px;"><span>{{MainService.deposit.appliedDeposit[0].depositNo}}</span></div>
                    <div class="col s12 deposit-tender-payment" style="padding:0px;">
                        <div class="inline-block">
                            <span>
                                {{MainService.deposit.appliedDeposit[0].getPaymentName()}}
                            </span>
                            <a href="#" class="warn btn-delete" style="display:none" ng-click="MainService.deposit.deleteAppliedDeposit()">{{::ui['delete']}}</a>
                        </div><div class="inline-block" style="float:right">{{MainService.deposit.appliedDeposit[0].paymentPrice | currency : INFO.currency : 1  }}</div>
                    </div>
                    <div class="col s12" style="padding:0px;" ng-if="MainService.deposit.appliedDeposit.length != 0 && appliedPaymentMethod().length == 1">
                        <div class="inline-block"><span ng-if="MainService.remainerAmount >= 0">{{::ui['txt_deposit_remainder']}}</span><span ng-if="MainService.remainerAmount < 0">{{ ::ui['remainder'] }}</span></div><div class="inline-block" style="float:right">{{ MainService.remainerAmount | currency : INFO.currency : 1  }}</div>
                    </div>
                </div>

                <div ng-if="($index !=0 || MainService.deposit.appliedDeposit.length  == 0) || MainService.isModeOrder('billing')" class="inline-block" style="width:100%">
                    <div class="inline-block"><span ng-if="(MainService.isModeOrder('searchBill') || MainService.isModeOrder('amendBill') )">{{getTenderName(methodList)}}</span> <span ng-if="!(MainService.isModeOrder('searchBill') || MainService.isModeOrder('amendBill') )">{{methodList.name}}</span> 
                    <a ng-if="checkingBtnDeleteOfTender()" href="#" class="warn btn-delete" ng-click="deletePaymentMethod($index)">{{::ui["delete"]}}</a></div><span flex></span><div class="inline-block" style="float:right">{{methodList.amount | currency : INFO.currency : 1  }}</div>
                </div>
        
            </div>
            <!-- appliedPaymentMethod().length > 0 -->

            <div layout="row" class="row no-margin price-input row-custom only-one-payment" 
                 ng-if="checkingNoMultiPaymentChangeOrTips();">
                <div class="inline-block">
                    <span ng-if="MainService.remainerAmount >= 0 && MainService.isCash">{{ ::ui['payment_change'] }}</span>
                    <span ng-if="MainService.remainerAmount < 0">{{ ::ui['remainder'] }}</span>
                    <span ng-if="MainService.remainerAmount >= 0 && MainService.isCard">{{ ::ui['tips'] }}</span>
                </div>
                <span flex></span>
                <div class="inline-block">{{ MainService.remainerAmount | currency : INFO.currency : 1  }}</div>
            </div>


            <!--ng-if="MainService.appliedPaymentMethod.length > 1 && modeCheckBill('searchAmendBill') &&  MainService.multiPayment.isEnable()"-->
            <div layout="row" class="row no-margin price-input row-custom tips-1" ng-if="checkingMultiPaymentChangeOrTips();">
                <div class="inline-block">

                    <!--<span ng-if="MainService.remainerAmount >= 0 && MainService.isCash && MainService.isCard == false">{{ ::ui['payment_change'] }}</span> -->
                    <!--<span ng-if="MainService.remainerAmount < 0">{{ ::ui['remainder'] }}</span>-->
                    <span>{{ ::ui['tips'] }}</span>
                </div>
                <span flex></span>
                <div class="inline-block">{{ MainService.multiPayment.getRemainder('tips') | currency : INFO.currency : 1  }}</div>
            </div>

            <!--ng-if="MainService.appliedPaymentMethod.length > 1 && modeCheckBill('searchAmendBill') && MainService.multiPayment.isEnable()"-->
            <div layout="row" class="row no-margin price-input row-custom remainer-1" ng-if="checkingMultiPaymentChangeOrTips();">
                <div class="inline-block">
                    <span>{{ ::ui['payment_change'] }}</span>
                </div>
                <span flex></span>
                <div class="inline-block">{{ MainService.multiPayment.getRemainder() | currency : INFO.currency : 1  }}</div>
            </div>
        </div>
    </div>

    <!-- dummy control is for shortcut buttons demo display -->
    <div id="food-menu" class="menu-area" flex layout="column" style="" ng-show="isModeOrder('foodMenu') && isModeOrderMenu()" ng-controller="foodMenuController as foodMenu">

        <!-- category items -->
        <div id="category" class="md-custom-grid col-2x5" style="height:25%;" ng-show="isModeItem('normal') && !(MainService.showSubcat === true)">

            <div class="row" style="">

                <div class="col s10-2" ng-repeat="category in MainService.food.category | startFrom:(currentCatsPage - 1) * MainService.catsPerPage | limitTo: MainService.catsPerPage" ng-if="category.items.length > 0"><button class="md-raised md-button md-grid-button {{::category.color}}" ng-click="MainService.selectCategory(category)">{{::category.name[INFO.lang]}}</button></div>


                <div class="col s10-2 dummy-grid" ng-if="MainService.noOfCategoryPage == currentCatsPage && MainService.food.category.length % MainService.catsPerPage > 0" ng-repeat="i in MainService.getPageNumber( MainService.catsPerPage - MainService.food.category.length % MainService.catsPerPage ) track by $index"><span></span></div>
                <pager-custom icon-size="'dp70'" template="tmpl/pager-default-materialize.html" total-items="MainService.totalCats" items-per-page="MainService.catsPerPage" ng-model="currentCatsPage"></pager-custom>
            </div>
        </div>
        <div id="subCategory" class="md-custom-grid col-2x5" style="height:25%;" ng-show="isModeItem('normal') && MainService.showSubcat === true">

            <div class="row" style="">

                <div class="col s10-2" <button class="md-raised md-button md-grid-button " ng-click="MainService.selectCategory(null, MainService.parentCategory, $event)"><i class="md-icon dp70">keyboard_arrow_left</i></button></div>
                <div class="col s10-2" ng-repeat="category in MainService.parentCategory.subCat | startFrom:(currentSubCatsPage - 1) * MainService.subCatsPerPage  | limitTo: MainService.subCatsPerPage " ng-if="category.items.length > 0"><button class="md-raised md-button md-grid-button {{::category.color}}" ng-click="MainService.selectCategory(category, MainService.parentCategory, $event)">{{::category.name[INFO.lang]}}</button></div>

                <div class="col s10-2 dummy-grid" ng-if="MainService.noOfSubCategoryPage == currentSubCatsPage && MainService.totalSubCats % MainService.catsPerPage > 0" ng-repeat="i in MainService.getPageNumber( MainService.subCatsPerPage - (MainService.totalSubCats -1) % MainService.subCatsPerPage ) track by $index"><span></span></div>
                <pager-custom icon-size="'dp70'" template="tmpl/pager-default-materialize.html" total-items="MainService.totalSubCats" items-per-page="MainService.catsPerPage" ng-model="currentSubCatsPage"></pager-custom>
            </div>
        </div>
        <div id="category-item" class="md-custom-grid col-3x5" style="height:50%;margin-bottom: 1px;" ng-show="isModeItem('normal')">

            <div class="row" style="" ng-controller="categoryItemController">

                <div class="col s10-2" ng-repeat="item in MainService.currentCategory.items | startFrom:(currentPage - 1) * MainService.itemsPerPage | limitTo: MainService.itemsPerPage">

                    <!-- food control -->
                    <button class="md-raised md-button md-grid-button {{::item.color}}" ng-click="callKeypadFree($event, dialogTest1,item)" ng-controller="keypadControllerOpenItem" ng-class="{suspend: item.stock != undefined && (item.stock < 0 || item.stock === 0)}">

                        <!--<span class="badge -->
                        <span class="flex-center badge suspend" ng-if="item.stock != undefined && (item.stock === -3)">{{::ui["txt_preparing"]}}</span>
                        <span class="flex-center badge suspend" ng-if="item.stock != undefined && (item.stock === -1 || item.stock === 0)">{{::ui["txt_suspend"]}}</span>
                        <div class="name">{{::MainService.fn.shorten(item.name[INFO.lang])}}</div>

                        <span class="badge stock" ng-if="item.stock != undefined && item.stock > 0">Q: {{item.stock}}</span>
                        <small class="secondary">

                            <span class="code" ng-show="modeCheckOrderItemDetail()">{{::item.code}}</span>
                            <span class="code" ng-show="modeCheckOrderItemDetail('printer')">{{::item.printer}}</span>
                        </small>
                        <div class="price">{{ ::item.unitprice / 100 | currency :INFO.currency :1 }}</div>
                    </button>
                </div>

                <!-- last page?{{ MainService.noOfItemPage - currentPage }}
                recoprocol dummy {{MainService.itemsPerPage - MainService.totalItems % MainService.itemsPerPage}} -->


                <span class="check-page-no" style="display:none">{{MainService.noOfItemPage - currentPage == 0}} {{MainService.itemsPerPage - MainService.totalItems > 0 }}</span>
                <!--|| MainService.itemsPerPage - MainService.totalItems > 0 -->
                <div class="col s10-2 dummy-grid" ng-if="MainService.noOfItemPage - currentPage == 0 " ng-repeat="i in MainService.getPageNumber( MainService.itemsPerPage - MainService.totalItems % MainService.itemsPerPage, 'test' ) track by $index"><span></span></div>
                <pager-custom icon-size="'dp70'" template="tmpl/pager-default-materialize.html" total-items="MainService.totalItems" items-per-page="MainService.itemsPerPage" ng-model="currentPage"></pager-custom>
            </div>
        </div>

        <!--<ng-include include-replace src="'tmpl/options.html'"></ng-include>-->
        <food-options style="height: 75%;" ng-show="isModeItem('option')" class="test123"></food-options>
        <option-food-control ng-show="isModeItem('optionFoodControl') && isModeOrder('foodControl')"></option-food-control>
        <div id="shortcuts" class="md-custom-grid col-1x1" style="height:15%;" ng-controller="dummyCtrl as dummy" ng-show="isNotModeItem(['optionFoodControl', 'cancel', 'modifier', 'compositeItem'])">

            <div class="row" style="margin-bottom: 0;">

                <div class="col s8-1" ng-repeat="shortcut in ::dummy.shortcuts">

                    <button ng-if="$index <=6" class="md-raised md-button md-grid-button" ng-click="MainService.Cart.changeItemQty(shortcut.name)">X {{::shortcut.name}}</button>
                    <md-button ng-if="$index ==7" class="md-raised md-button md-grid-button"><input-keypad-modifier title="Number of Item" class="full-box inline-block display-mode 1234" maxlength="3" style="margin:0px;"><input type="text" ngminlength="1" ngmaxlength="3" ng-click="callKeypad($event, dialogTest1)" custom-always-blur="true" /></input-keypad-modifier><i class="md-icon dp80 md-watermark">keyboard</i></md-button>
                </div>
                <!--<div class="col s8-1 dummy-grid"></div>-->
            </div>
        </div>

        <grid-menu-option class="food_menu-menu-option menu-option md-grid-container no-margin" cancel-param="{}" grid-height="'fit'" grid-col="5" template="tmpl/gridMenuOption-order.html" flex="100" layout="column" style="height:calc(10% - 1px);" ng-if="isModeItem() && isNotModeOrder('billing')"></grid-menu-option>

        <ng-include include-replace src="'tmpl/cancelOptions.html'"></ng-include>
        <ng-include include-replace src="'tmpl/modifier.html'"></ng-include>
        <ng-include include-replace src="'tmpl/compositeItem.html'"></ng-include>
    </div>

    <div class="order-mode-container" id="searchBillContainer" flex layout="column" ng-if="modeCheckBill('searchBill')|| modeCheckBill('amendBill')" ng-include="'tmpl/search-bill-menu.html'" ng-show="modeCheckBill('searchBill')"></div>

    <div class="order-mode-container" flex layout="column" ng-if="modeCheckBill('amendBill');" ng-include="'tmpl/amend-bill-menu.html'"></div>

    <!--<div class="order-mode-container" flex layout="column" ng-if="modeCheckOrder('transfer');" ng-include="'tmpl/transfer-item.html'"></div>-->
    <transfer-item-menu class="order-mode-container" flex layout="column" ng-if="modeCheckOrder('transfer');"></transfer-item-menu>

    <div class="order-mode-container" flex layout="column" ng-if="modeCheckOrder('specialMessage') || modeCheckFloor('kitchenMessage');" ng-include="'tmpl/kitchenMessage.html'"></div>
    <!--<div class="order-mode-container" flex layout="column" ng-if="modeCheckOrder('compositeItem')" ng-include="'tmpl/compositeItem.html'"></div>-->

    <div class="order-mode-container" flex layout="column" id="billing-container" ng-if="modeCheckBill('billPrint');" ng-include="'tmpl/billing-menu.html'"></div>

    <div class="order-mode-container deposit-panel" flex layout="column" id="deposit-container" ng-if="modeCheckBill('deposit');" ng-include="'tmpl/depositPanel.html'">
    </div>
    <div flex layout="column" ng-if="modeCheckBill('summary');" ng-include="'tmpl/billing-summary.html'"></div>
</div><!-- order-panel -->
<div class="divide-bill-container" ng-if="modeCheckFloor('split')" ng-include="'tmpl/divide-bill.html'"></div>