<div class="order__list-order-list col order-list" ng-hide="modeCheckOrder('foodControl')">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="item in MainService.Cart.orderList track by $index" ng-hide="item.getQtyWithVoid() <= 0 && !modeCheckOrder('detail')" ng-click="item.editItem($event);" ng-class="{active : item.isEdit}">
       
      <div layout="row" class="order-list-item">
         <span flex="35" class="index" ng-show="modeCheckOrder('detail')">#{{::item.index}}</span>
         <span flex class="code" ng-show="modeCheckOrder('detail')">{{::item.code}}</span>
         <i class="md-icon delete" ng-click="item.deleteItem($event,'{{::$index}}')" ng-if="modeCheckOrder('detailNormal');">highlight_off</i>
       
         <!-- for font:20 and screen in 1024, it is not enough space to display servant and time here -->
         <!-- <div flex="35" class="order-trace">
           <span class="employee">Mui</span>@<span class="time">18:55:55</span>
        </div> -->
      </div>
     
      <!-- repeatable for food name with price, qty-->
      <ul class="ordered__food__info-container no-padding">
       
          <!-- ng-repeat should go here for more than 1 food -->
          <li layout="row" class="food-info">
             
              <!-- for 1024 space, flex set to 55, overflow hidden, add support to responsive later -->
              <div flex="50" layout="column">
                  <span class="name"><a href="#">{{::item.getName()}}</a></span>
                  <ul class="modifier void-remark" ng-show="item.voidRemark !=''">
                      <!-- ng-repeat should go here for more than 1 modifier -->
                      <li>{{::item.voidRemark}}</li>
                  </ul>
                  <ul class="modifier" ng-show="item.modifier.length != 0">
                      <!-- ng-repeat should go here for more than 1 modifier -->
                      <li ng-repeat="m in item.modifier">{{::m.label}}</li>
                  </ul>
                  <ul class="kitchenMsg" ng-show="item.kitchenMsgOld.length != 0">
                      <!-- ng-repeat should go here for more than 1 modifier -->
                      <li ng-repeat="k in item.kitchenMsgOld track by $index">{{::k.label}} {{item.getIndex()}}</li>
                  </ul>
                  <ul class="kitchenMsg" ng-show="item.kitchenMsg.length != 0">
                      <!-- ng-repeat should go here for more than 1 modifier -->
                      <li ng-repeat="k in item.kitchenMsg track by $index">{{::k.label}}<a href="#" ng-click="MainService.Cart.deleteKitchenMsg(item.kitchenMsg, $index, $event)"><i class="md-icon remove">remove_circle</i></a></li>
                  </ul>
              </div>
              <div flex layout="column">
                  <span class="qty">{{item.getQtyWithVoid()}}</span>
              </div>
             
              <!-- display support up to 5 digits XX,XXX -->
              <div flex="35" layout="column">
                  <span class="price">{{ item.getTotalPriceWithVoid() }}</span>
              </div>
          </li>
          <ul class="food_info-option-list">
            <li ng-repeat="optionList in item.option track by $index" ng-class="{active : option.isEdit}">
              <ul class="food_info-option_list-option">
               
                <!--<li layout="row" ng-repeat="option in optionList.items track by $index" class="order_list-option food-info" ng-if="option.qty > 0 && option.code =='O9999'" ng-click="MainService.Cart.selectOption( $event, option.code, option, item);">
                  <div flex="50" layout="column">
                      <span class="name"><a href="#">{{option.getName()}}</a></span>
                      <ul class="option-modifier"></ul>
                  </div>
                  <div flex layout="column">
                      <span class="qty">{{option.qty}}</span>
                  </div>
                  <div flex="35" layout="column">
                      <span class="price"></span>
                  </div>
                </li>-->
               
                <!--<li layout="row" ng-repeat="option in optionList.items track by $index" class="order_list-option food-info" ng-if="option.qty > 0 && option.code !='O9999'">-->
                <li layout="row" ng-repeat="option in optionList.items track by $index" class="order_list-option food-info" ng-if="option.qty > 0" ng-class="{active : option.isEdit}">
                  <div flex="50" layout="column">
                  	<!--  {{option.getIndex()}} -->
                      <span class="name"><a class="existing__order__list order_list-option-action" href="#" ng-click="MainService.Cart.cartListEditOption($event, option.getIndex(), item, optionList, option);">{{::option.getName()}}</a></span>
                      <ul class="option-modifier"></ul>
                      <ul class="option-modifier" ng-show="option.modifier.length != 0">
                          <!-- ng-repeat should go here for more than 1 modifier -->
                          <li ng-repeat="m in option.modifier">{{::m.label}}</li>
                      </ul>
                      <ul class="option-kitchenMsg" ng-show="option.kitchenMsgOld.length != 0">
                          <!-- ng-repeat should go here for more than 1 modifier -->
                          <li ng-repeat="k in option.kitchenMsgOld">{{::k.label}}</li>
                      </ul>
                      <ul class="option-kitchenMsg option-kitchenMsg-new" ng-show="option.kitchenMsg.length != 0">
                          <!-- ng-repeat should go here for more than 1 modifier -->
                          <li ng-repeat="k in option.kitchenMsg track by $index">{{::k.label}}<a href="#" ng-click="MainService.Cart.deleteKitchenMsg(option.kitchenMsg, $index, $event)"><i class="md-icon remove">remove_circle</i></a></li>
                      </ul>
                  </div>
                  <div flex layout="column">
                      <span class="qty">{{option.qty}}</span>
                  </div>
                  <div flex="35" layout="column">
                      <span class="price"></span>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
          <li layout="row" ng-repeat="subitemList in item.subitem track by $index" class="food-info" ng-if="subitemList.qty > 0">
              <div flex="50" layout="column">
                  <span class="name"><a href="#">{{::subitemList.getName()}}</a></span>
                 
                  <ul class="modifier"></ul>
              </div>
              <div flex layout="column">
                  <span class="qty">{{subitemList.qty}}</span>
              </div>
              <div flex="35" layout="column">
                  <span class="price"></span>
              </div>
          </li>
           
      </ul>
     
      <ul class="details no-padding" layout="column" style="" ng-show="modeCheckOrder('detail')">
          <li class="order-trace">
              <span class="employee">{{::item.staff}}</span>@<span class="time">{{::item.time}}</span>
          </li>
      </ul>
    </li>
   
    <li class="list-group-item new-item" ng-repeat="item in MainService.Cart.cartList track by $index" ng-if="!item.isDelete" ng-class="{active : item.isEdit}">
        <!-- one order# per order -->
        <div layout="row">
            <span flex="35" class="index" ng-show="modeCheckOrder('detail')">#0[New]</span>
            <span flex class="code" ng-show="modeCheckOrder('detail')">{{::item.code}}</span>
            <i class="md-icon delete" ng-click="item.deleteItem($event,'{{::$index}}')">highlight_off</i>
        </div>
        <!-- repeatable for food name with price, qty-->
        <ul class="new__food__info-container no-padding">
            <!-- ng-repeat should go here for more than 1 food -->
            <li layout="row" class="food-info" ng-click="item.editItem($event)">
                <div flex="50" layout="column">
                    <span class="name"><a href="#">{{::item.getName()}}</a></span>
                    <ul class="modifier void-remark" ng-show="item.voidRemark !=''">
                        <!-- ng-repeat should go here for more than 1 modifier -->
                        <li>{{::item.voidRemark}}</li>
                    </ul>
                    <ul class="modifier" ng-show="item.modifier.length != 0">
                        <!-- ng-repeat should go here for more than 1 modifier -->
                        <li ng-repeat="m in item.modifier">{{::m.label}}<a href="#" ng-click="MainService.Cart.addModifier(m, $event)"><i class="md-icon remove">remove_circle</i></a></li>
                    </ul>
                    <ul class="kitchenMsg" ng-show="item.kitchenMsg.length != 0">
                        <!-- ng-repeat should go here for more than 1 modifier -->
                        <li ng-repeat="k in item.kitchenMsg">{{::k.label}}<a href="#" ng-click="MainService.Cart.deleteKitchenMsg(item.kitchenMsg, $index, $event)"><i class="md-icon remove">remove_circle</i></a></li>
                    </ul>
                </div>
                <div flex layout="column">
                    <span class="qty">{{ item.getQty() }}</span>
                </div>
                <div flex="35" layout="column">
                    <span class="price">{{ item.getTotalPrice() }}</span>
                </div>
            </li>
            <ul class="new__food__info-option-list">
            <li ng-repeat="optionList in item.option track by $index" ng-class="{active : option.isEdit}">
              <ul class="new__food__info-option-list-option food_info-option_list-option" ng-init="repeatCount = 0; "><!-- -->
                <li layout="row" ng-repeat="option in optionList.items track by $index" class="order_list-option food-info" ng-if="option.qty > 0" ng-class="{active : option.isEdit}" ng-init="$localIdx = counter();">
                  <div flex="50" layout="column">
                      <span class="name"><a href="#" ng-click="MainService.Cart.cartListSelectOption( $event, $localIdx, item, optionList, option );">{{::option.getName()}}</a><a href="#" ng-click="option.edit($event, optionList.optionGroupCode)"><i class="md-icon remove">create</i></a></span>
                      <ul class="option-modifier" ng-show="option.modifier.length != 0">
                          <!-- ng-repeat should go here for more than 1 modifier -->
                          <li ng-repeat="m in option.modifier">{{::m.label}}<a href="#" ng-click="MainService.Cart.deleteModifier(option.modifier, $index)"><i class="md-icon remove">remove_circle</i></a></li>
                      </ul>
                      <ul class="option-kitchenMsg" ng-show="option.kitchenMsg.length != 0">
                          <!-- ng-repeat should go here for more than 1 modifier -->
                          <li ng-repeat="k in option.kitchenMsg">{{::k.label}}<a href="#" ng-click="MainService.Cart.deleteKitchenMsg(option.kitchenMsg, $index, $event)"><i class="md-icon remove">remove_circle</i></a></li>
                      </ul>
                  </div>
                  <div flex layout="column">
                      <span class="qty">{{ option.qty }}</span>
                  </div>
                  <div flex="35" layout="column">
                      <span class="price"></span>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
             
            <li layout="row" ng-repeat="subitemList in item.subitem track by $index" class="food-info">
                <div flex="50" layout="column">
                    <span class="name"><a href="#">{{ ::subitemList.getName() }}</a></span>
                    <ul class="modifier"></ul>
                </div>
                <div flex layout="column">
                    <span class="qty">{{ subitemList.qty }}</span>
                </div>
                <div flex="35" layout="column">
                    <span class="price"></span>
                </div>
            </li>
        </ul>
    </li>
  </ul>
</div>