﻿<style>
    select.default-select {
        font-size: 12px;
        height: 30px;
        margin-top: 30px;
        display: block;
    }

    .missing-data {
        border-color: red !important;
    }

    .price-batch-list-table tbody tr td, .center-td {
        word-break: break-all;
        text-align: center;
    }
</style>
<h4>售價管理</h4>
<div layout="row" style="height:inherit">
    <div layout="column" flex="35" class="menu-layout-builder-viewport">
        <p>售價組別</p>
        <table class="compact data-table style1 tablesorter item-table group-table hasFilters price-batch-list-table" style="margin-bottom:150px;" id="">
            <thead>
                <tr>
                    <th style="text-align:center;">
                        <button ng-click="priceBatch.insertBatch();" class="btn">新增</button>
                    </th>
                    <th>名稱</th>
                    <th>activateDate</th>
                    <th>expireDate</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in priceBatch.batchList" ng-click="batchDetail.getBatchDetailByBatch(item)">
                    <td><button ng-click="priceBatch.updateBatch(item);" class="btn">修改</button></td>
                    <td>{{item.name}}</td>
                    <td>{{item.activateDate  | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{item.expireDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div layout="column" flex="" class="menu-layout-builder-viewport" ng-show="priceBatch.mode!='basic'">
        <p ng-show="priceBatch.mode=='add'">新増售價組別</p>
        <p ng-show="priceBatch.mode=='change'">修改售價組別</p>
        <div class="row no-margin">
            <button ng-click="priceBatch.submitClick();" class="btn">確定</button>
            <button ng-click="priceBatch.backBasicMode();" class="btn" id="back-basic">返回</button>
        </div>
        <br />
        <div class="row no-margin" layout="row">
            <div class="input-field" flex="40">
                <input class="data-binder" placeholder="例：MD123" id="batch-name" type="text" data-field-type="textfield" ng-model="priceBatch.currentPriceBatch.name"  style="color:black;">
                <label for="batch-name" class="" style="color:#9e9e9e;">組別名稱<span style="color:red">*</span></label>
            </div>
        </div>

        <div class="row no-margin" layout="row">
            <div class="input-field" flex="20">
                <input type="date" id="Date1" placeholder="activateDate" class="data-binder" data-field-type="textfield" ng-model="priceBatch.currentPriceBatch.activateDate" />
                <label for="Date1">activateDate<span style="color:red">*</span></label>
            </div>

            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="0.00" id="activateTime" type="time" ng-model="priceBatch.currentPriceBatch.activateDate">
                <label for="activateTime" class="active">Time<span style="color:red">*</span></label>
            </div>
        </div>
    
        <div class="row no-margin" layout="row">
            <div class="input-field" flex="20">
                <input type="date" id="expireDate" placeholder="expireDate" class="data-binder" ng-model="priceBatch.currentPriceBatch.expireDate" />
                <label for="expireDate" class="active">expireDate</label>
            </div>

            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="0.00" id="expireTime" type="time" ng-model="priceBatch.currentPriceBatch.expireDate">
                <label for="expireTime" class="active">Time</label>
            </div>
        </div>
    
    </div>


    <div layout="column" flex="" class="menu-layout-builder-viewport" ng-show="batchDetail.mode!='change' && priceBatch.mode=='basic'"> <!--ng-show="batchDetail.mode=='basic'"-->
        <p>已有食品項目</p>
        <table class="compact data-table style1 tablesorter item-table group-table hasFilters price-batch-list-table" style="margin-bottom:150px;" id="">
            <thead>
                <tr>
                    <th style="text-align:center;">
                        <button ng-click="batchDetail.btnAddBatchDetailClick();" class="btn">新增</button>
                    </th>
                    <th>食品編號</th>
                    <th>食品名稱</th>
                    <th>售價</th>
                    <th ng-show="batchDetail.mode!='add'">timeStart</th>
                    <th ng-show="batchDetail.mode!='add'">timeEnd</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in batchDetail.batchDetailList">
                    <td ng-show="batchDetail.mode!='add'"><button ng-click="batchDetail.updateBatchDetailItem(item);" class="btn">修改</button></td>
                    <td ng-show="batchDetail.mode =='add'"><button ng-click="batchDetail.removeBatchDetailItem(item, $index)" class="btn">移除</button></td>
                    <td>{{item.itemId}}</td>
                    <td>{{item.Item.name1}}</td>
                    <td>{{item.price1 | currency: INFO.currency : 1}}</td>
                    <td ng-show="batchDetail.mode!='add'">{{item.timeStart  | date:'HH:mm:ss'}}</td>
                    <td ng-show="batchDetail.mode!='add'">{{item.timeEnd | date:'HH:mm:ss'}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div layout="column" flex="" class="menu-layout-builder-viewport" ng-show="batchDetail.mode =='change' && priceBatch.mode=='basic'">
        <p>修改食品售價</p>
        <div class="row no-margin">
            <button ng-click="batchDetail.submitUpdateBatchDetailItem();" class="btn">確定</button>
            <button ng-click="batchDetail.backBasicMode();" class="btn" id="back-basic">返回</button>
        </div>
        <br />
        <div class="row no-margin" layout="row">
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="例：MD123" id="code" type="text" data-field-type="textfield" ng-model="batchDetail.currentSelectDetailItem.itemId" disabled style="color:black;">
                <label for="code" class="" style="color:#9e9e9e;">食品編號</label>
            </div>
            <div class="input-field" flex="40">
                <input class="data-binder" placeholder="例：MD123" id="code" type="text" data-field-type="textfield" ng-model="batchDetail.currentSelectDetailItem.Item.name1" disabled style="color:black;">
                <label for="code" class="" style="color:#9e9e9e;">食品名稱</label>
            </div>
        </div>

        <div class="row no-margin" layout="row">
            

            <div class="input-field" flex="20">
                <input type="time" id="timeStart" placeholder="timeStart" class="data-binder" ng-model="batchDetail.currentSelectDetailItem.timeStart"/>
                <label for="timeStart" class="active">timeStart</label>
            </div>

            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="0.00" id="timeEnd" type="time" ng-model="batchDetail.currentSelectDetailItem.timeEnd">
                <label for="timeEnd" class="active">timeEnd</label>
            </div>
        </div>


        <div class="row no-margin" layout="row">
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="0.00" id="price" type="number" min="0" ng-model="batchDetail.currentSelectDetailItem.price1">
                <label for="price" class="">價格1<span style="color:red">*</span></label>
            </div>
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="0.00" id="price" type="number" min="0" ng-model="batchDetail.currentSelectDetailItem.price2">
                <label for="price" class="">價格2</label>
            </div>
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="0.00" id="price" type="number" min="0" ng-model="batchDetail.currentSelectDetailItem.price3">
                <label for="price" class="">價格3</label>
            </div>
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="0.00" id="price" type="number" min="0" ng-model="batchDetail.currentSelectDetailItem.price4">
                <label for="price" class="">價格4</label>
            </div>
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="0.00" id="price" type="number" min="0" ng-model="batchDetail.currentSelectDetailItem.price5">
                <label for="price" class="">價格5</label>
            </div>
        </div>

    </div>

    <div layout="column" flex="" class="menu-layout-builder-viewport" ng-show="batchDetail.mode =='add' && priceBatch.mode=='basic'">
        <p>未有食品項目</p>
        <table class="compact data-table style1 tablesorter item-table group-table hasFilters price-batch-list-table" style="margin-bottom:150px;" id="">
            <thead>
                <tr>
                    <th style="text-align:center;">
                        <button ng-click="batchDetail.backBasicMode();" class="btn" id="back-basic">返回</button>
                    </th>
                    <th>食品編號</th>
                    <th>食品名稱</th>
                    <th>售價</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in batchDetail.notInBatchDetailList">
                    <td><button ng-click="batchDetail.addDetailItem(item, $index);" class="btn">加入</button></td>
                    <td>{{item.code}}</td>
                    <td>{{item.name1}}</td>
                    <td>
                        <input class="data-binder" placeholder="0.00" type="number" min="0" ng-model="item.price" style="text-align:center">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


</div>

<!--compact data-table tablesorter item-table-->
