<p>
    {{reportData.BRANCH_NAME}}<br ng-if="reportData.BRANCH_NAME" />
    {{::ui["txt_report_shop_code"]}}: {{reportData.SHOP_CODE}}
</p>
<p>{{::ui["daily_item_report"]}} {{reportData.REPORT_CODE}}<br />{{::ui["txt_report_sales_date"]}}: {{reportData.REPORT_DATE}}</p>
<table class="parent-table">
    <colgroup width="60%"></colgroup>
    <colgroup width="10%"></colgroup>
    <colgroup width="10%"></colgroup>
    <colgroup width="10%"></colgroup>
    <colgroup width="10%"></colgroup>
    <thead>

        <tr>
            <td width="373px">{{::ui["txt_report_item"]}}</td>
            <td>{{::ui["txt_report_delivery"]}}</td>
            <td>{{::ui["txt_takeout"]}}</td>
            <td>{{::ui["txt_dinning"]}}</td>
            <td>{{::ui["txt_report_sales_total"]}}</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="cate in reportData.Category">
            <td colspan="5">
                <table class="food-list">
                    <colgroup width="60%"></colgroup>
                    <colgroup width="10%"></colgroup>
                    <colgroup width="10%"></colgroup>
                    <colgroup width="10%"></colgroup>
                    <colgroup width="10%"></colgroup>
                    <tr>
                        <td colspan="5" class="comboName">[{{cate.CateName}}]</td>
                    </tr>
                    <tr ng-repeat="food in cate.PackageList">
                        <td><div class="foodName">{{food.Name}}</div></td>
                        <td>0</td>
                        <td>0</td>
                        <td>{{food.TotalQty}}</td>
                        <td>{{food.TotalQty}}</td>
                    </tr>
                    <tr class="last-row">
                        <td>
                            {{::ui["subtotal"]}}
                        </td>
                        <td>0</td>
                        <td>0</td>
                        <td>{{cate.CateQty}}</td>
                        <td>{{cate.CateQty}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="last-row">
            <td>{{::ui["total_amount"]}}</td>
            <td>0</td>
            <td>0</td>
            <td class="padding2">{{reportData.AllQty}}</td>
            <td class="padding2">{{reportData.AllQty}}</td>
        </tr>
        <tr class="last-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="last-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>

</table>
<div class="align-center">*** End of Report {{reportData.REPORT_CODE}} ***</div>
<p>
    {{::ui["txt_report_sales_staff_using"]}}: {{reportData.USER_NAME}}<br />
    {{reportData.REPORT_DATE}} {{reportData.REPORT_TIME}}
</p>
<style>
    .parent-table tr td, .parent-table tr th {
        padding: 0px;
        vertical-align:top;
    }

    .parent-table thead {
        border-bottom: 1px solid black;
    }

    .parent-table tr.last-row td {
        border-top: 1px solid black;
    }

    .food-list tr.last-row td {
        border-top: 1px solid black;
        height: 65px;
        vertical-align: top;
    }

    .food-list tr td:not(:first-child),.padding2 {
        padding:2px !important;
    }

    
    .food-list tr td:last-child:not(.comboName) {
        /*background-color:lightgrey;*/
    }

    .foodName {
        width: 275px;
        word-wrap: break-word;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }
</style>
