
<div layout="row">
    <div layout="column" flex="30">
        {{::ui["txt_report_sales_clearance_date"]}}:
    </div>
    <div layout="column" flex="45">
        <select class="form-control" ng-change="cleanObj.changeCleanTime();" ng-model="cleanObj.currentCleanTime" 
                style="font-weight:bold">

            <option 
                    ng-repeat="clearData in cleanObj.cleanTimeList track by $index" 
                    value="{{clearData.archiveDate}}"
                    ng-selected="cleanObj.currentCleanTime == clearData.archiveDate">

                {{clearData.archiveDate}}
            </option>


        </select>

    </div>
</div>

<p>
    {{reportData.BRANCH_NAME}}<br ng-if="reportData.BRANCH_NAME" />
    {{::ui["txt_report_shop_code"]}}: {{reportData.SHOP_CODE}}
</p>
<p>{{reportData.title}} {{reportData.REPORT_CODE}}<br />{{::ui["txt_report_sales_date"]}}: {{reportData.REPORT_DATE}}</p>
<table class="reportTable report-table">
    <col style="width: 50%;" />
    <col style="width: 25%;" />
    <col style="width: 25%;" />
    <tr>
        <td>{{::ui["txt_report_sales_total_amount"]}}</td>
        <td></td>
        <td>{{reportData.GROSS_TOTAL_AMOUNT | currency : INFO.currency : 1}}</td>
    </tr>
    <tr>
        <td>- {{::ui["txt_report_sales_discount"]}}</td>
        <td></td>
        <td>{{reportData.DISCOUNT | currency : INFO.currency : 1}}</td>
    </tr>
    <tr ng-hide="reportData.ENTERTAINMENT == 0" ng-repeat="ent in reportData.ENTERTAINMENT">
        <td>{{ent.paymentType}}</td>
        <td>{{ent.count}}</td>
        <td>-{{ent.paymentValue | currency : INFO.currency : 1}}</td>
    </tr>
    <tr>
        <td>+ {{::ui["bill_decimal"]}}</td>
        <td></td>
        <td>{{reportData.DECIMAIL_POINT | currency : INFO.currency : 1}}</td>
    </tr>
    <tr>
        <td>+ {{::ui["txt_report_sales_serivce_charge"]}}</td>
        <td></td>
        <td>{{reportData.SERVICE_CHARGE | currency : INFO.currency : 1}}</td>
    </tr>
    <tr>
        <td>= {{::ui["txt_report_sales_net_sales_amount"]}}</td>
        <td></td>
        <td>{{reportData.GROSS_SALES_NET | currency : INFO.currency : 1}}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>{{::ui["txt_report_sales_credit_card"]}}</td>
        <td>{{reportData.TOTAL_NO_OF_CARD}}</td>
        <td>{{reportData.TOTAL_CARD_AMOUNT | currency : INFO.currency : 1}}</td>
    </tr>
    <tr ng-hide="reportData.TOTAL_CARD_TIPS == 0">
        <td>{{::ui["txt_report_sales_card_tips"]}}</td>
        <td></td>
        <td>{{reportData.TOTAL_CARD_TIPS | currency : INFO.currency : 1}}</td>
    </tr>
    <!-- <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr> -->
</table>
<table class="reportTable report-table">
    <col style="width: 50%;" />
    <col style="width: 25%;" />
    <col style="width: 25%;" />
    <caption>{{::ui["txt_report_sales_cash_audit"]}}</caption>
    <tr>
        <td>{{::ui["txt_report_sales_net_sales_amount"]}}</td>
        <td></td>
        <td>{{reportData.GROSS_SALES_NET | currency : INFO.currency : 1}}</td>
    </tr>
    <tr ng-repeat="sales in reportData.NONCASHSALES">
        <td>-{{sales.paymentType}}({{sales.till}})</td>
        <td>{{sales.count}}</td>
        <td>{{sales.paymentValue | currency : INFO.currency : 1}}</td>
    </tr>
    <tr>
        <td>= {{::ui["txt_report_sales_cash_turnover"]}}</td>
        <td>{{reportData.TOTAL_CASH_COUNT}}</td>
        <td>{{reportData.TOTAL_CASH_AMOUNT | currency : INFO.currency : 1}}</td>
    </tr>
    <tr ng-repeat="sales in reportData.CASHSALES">
        <td>({{sales.till}})</td>
        <td>{{sales.count}}</td>
        <td>{{sales.paymentValue | currency : INFO.currency : 1}}</td>
    </tr>
    <!--<tr>
      <td>+ 開機金額</td>
      <td>{{reportData.AMOUNT_AT_OPEN}}</td>
      <td></td>
    </tr>
    <tr>
      <td>- 支單/Petty Cash</td>
      <td>{{reportData.NO_OF_PETTY_CASH}}</td>
      <td>{{reportData.PETTY_CASH}}</td>
    </tr>
    <tr>
      <td>= 現金過多(-) / 不足(+)</td>
      <td>{{reportData.GROSS_CASH}}</td>
      <td></td>
    </tr>-->
</table>

<table class="reportTable report-table" ng-hide="reportData.DISCOUNTDETAILS.length == 0">
    <col style="width: 50%;" />
    <col style="width: 25%;" />
    <col style="width: 25%;" />
    <caption>{{::ui["txt_report_sales_discount_detail"]}}</caption>
    <tr ng-repeat="dis in reportData.DISCOUNTDETAILS">
        <td>{{dis.discountCode}}</td>
        <td>{{dis.count}}</td>
        <td>{{dis.discountValue | currency : INFO.currency : 1}}</td>
    </tr>
    <tr>
        <td>= {{::ui["txt_report_sales_total"]}}</td>
        <td>{{reportData.NO_OF_DISCOUNT}}</td>
        <td>{{reportData.DISCOUNT | currency : INFO.currency : 1}}</td>
    </tr>
</table>
<table class="reportTable report-table" ng-hide="reportData.CARDTIPS.length == 0">
    <col style="width: 50%;" />
    <col style="width: 25%;" />
    <col style="width: 25%;" />
    <caption>{{::ui["txt_report_sales_tips_detail"]}}</caption>
    <tr ng-repeat="tips in reportData.CARDTIPS">
        <td>{{tips.paymentType}}({{tips.till}})</td>
        <td>{{tips.count}}</td>
        <td>{{tips.tipsValue | currency : INFO.currency : 1}}</td>
    </tr>
    <tr>
        <td>= {{::ui["txt_report_sales_total"]}}</td>
        <td>{{reportData.NO_OF_CARD_TIPS}}</td>
        <td>{{reportData.TOTAL_CARD_TIPS | currency : INFO.currency : 1}}</td>
    </tr>
</table>
<table class="reportTable report-table">
    <col style="width: 50%;" />
    <col style="width: 25%;" />
    <col style="width: 25%;" />
    <caption>{{::ui["txt_report_sales_audit_info"]}}</caption>
    <thead>
        <tr>
            <th>{{::ui["txt_report_sales_audit"]}}</th>
            <th>{{::ui["txt_report_sales_quantity"]}}</th>
            <th>{{::ui["txt_report_sales_amount"]}}</th>
        </tr>
    </thead>
    <tr>
        <td>{{::ui["txt_report_sales_bills"]}}</td>
        <td>{{reportData.NO_OF_INVOICE}}</td>
        <td>{{reportData.GROSS_SALES_NET | currency : INFO.currency : 1}}</td>
    </tr>
    <tr>
        <td>{{::ui["txt_report_sales_average_of_bills"]}}</td>
        <td></td>
        <td>{{reportData.GROSS_SALES_NET_PER_INVOICE | currency : INFO.currency : 1}}</td>
    </tr>
    <tr>
        <td>{{::ui["txt_report_sales_num_of_people"]}} / {{::ui["txt_report_sales_average"]}}</td>
        <td>{{reportData.TOTAL_PAX}}</td>
        <td>{{reportData.TOTAL_PAX_PER_AMOUNT | currency : INFO.currency : 1}}</td>
    </tr>
</table>
<table class="reportTable report-table" ng-hide="reportData.TABLEORDER.length == 0">
    <col style="width: 50%;" />
    <col style="width: 25%;" />
    <col style="width: 25%;" />
    <caption>{{::ui["txt_report_not_complete_bills"]}}</caption>
    <tr>
        <td>{{::ui["txt_report_sales_num_of_people"]}}/Disp.</td>
        <td>{{::ui["txt_report_sales_quantity"]}}</td>
        <td>{{::ui["txt_report_sales_amount"]}}</td>
    </tr>
    <tr>
        <td>{{reportData.TABLEORDER[0].pax}}</td>
        <td>{{reportData.TABLEORDER[0].count}}</td>
        <td>{{reportData.TABLEORDER[0].price | currency : INFO.currency : 1}}</td>
    </tr>
    <tfoot>
        <tr>
            <td>+ {{::ui["txt_report_sales_net_sales_amount"]}}</td>
            <td></td>
            <td>{{reportData.GROSS_SALES_NET | currency : INFO.currency : 1}}</td>
        </tr>
        <tr>
            <td>= {{::ui["total_amount"]}}</td>
            <td></td>
            <td>{{reportData.TOTAL_SALES_AMOUNT | currency : INFO.currency : 1}}</td>
        </tr>
    </tfoot>
</table>

<table class="reportTable report-table" ng-hide="reportData.timeslot == undefined ">
    <col style="width: 50%;" />
    <col style="width: 50%;" />
    <caption>{{::ui["txt_report_timeslot"]}}</caption>
    <tbody ng-repeat="t in reportData.timeslot track by $index">
        <tr>
            <td>{{t.timeStart | date: 'HH:mm:ss'}} - {{t.timeEnd | date: 'HH:mm:ss'}} [{{t.name}}]</td>
            <td>{{::ui["txt_report_sales_num_of_people"]}}:{{t.pax}}</td>
        </tr>
        <tr>
            <td>{{::ui["txt_dinning"]}}</td>
            <td>{{t.dineInPrice | currency : INFO.currency : 1}}</td>

        </tr>
        <tr>
            <td>
                {{::ui["txt_report_dineIn_avg_price"]}}
            </td>
            <td>
                {{t.avgPrice | currency : INFO.currency : 1}}
            </td>
        </tr>
        <tr>
            <td>{{::ui["txt_takeout"]}}</td>
            <td>{{t.takeawayPrice | currency : INFO.currency : 1}}</td>
        </tr>
        <tr>
            <td>[{{t.name}}]{{::ui["txt_report_sales_total"]}}:</td>
            <td>{{t.turnover | currency : INFO.currency : 1}}</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td>{{::ui["txt_report_total_pax"]}}</td>
            <td>{{reportData.TOTAL_PAX}}</td>
        </tr>
        <tr>
            <td>{{::ui["txt_report_sales_net_sales_amount"]}}</td>
            <td>{{reportData.GROSS_SALES_NET | currency : INFO.currency : 1}}</td>
        </tr>
    </tbody>
</table>


<div class="align-center">*** End of Report {{reportData.REPORT_CODE}} ***</div>
<p>
    {{::ui["txt_report_sales_staff_using"]}}: {{reportData.USER_NAME}}<br />
    {{reportData.REPORT_DATE}} {{reportData.REPORT_TIME}}
</p>