<p>
    {{reportData.BRANCH_NAME}}<br ng-if="reportData.BRANCH_NAME" />
    {{::ui["txt_report_shop_code"]}}: {{reportData.SHOP_CODE}}
</p>
<p>{{::ui["daily_watch_service_report"]}} {{reportData.REPORT_CODE}}<br />{{::ui["txt_report_sales_date"]}}: {{reportData.REPORT_DATE}}</p>


<div>
    <div ng-repeat="obj in reportData.message" style="border-top:1px dashed black;">
        <table class="reportTable report-table">
            <tr>
                <td>{{::ui["txt_report_operations_staff"]}}:</td>
                <td>[{{obj.staffId}}] {{obj.name}}</td>
            </tr>
            <tr>
                <td>{{::ui["txt_report_action"]}}:</td>
                <td>{{obj.action}}</td>
            </tr>
            <tr>
                <td>{{ui["txt_report_start_time"]}}:</td>
                <td>{{obj.date | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
            <tr>
                <td>{{ui["txt_report_execute_time"]}}:</td>
                <td>{{obj.updateDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
            <tr>
                <td>{{ui["txt_report_complete_time"]}}:</td>
                <td>{{obj.deleteDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            </tr>
        </table>
    </div>
    <div style="border-bottom:1px dashed black"></div>
</div>


<div class="align-center">*** End of Report {{reportData.REPORT_CODE}} ***</div>
<p>
    {{::ui["txt_report_sales_staff_using"]}}: {{reportData.USER_NAME}}<br />
    {{reportData.REPORT_DATE}} {{reportData.REPORT_TIME}}
</p>