<p>
    {{reportData.BRANCH_NAME}}<br ng-if="reportData.BRANCH_NAME" />
    {{::ui["txt_report_shop_code"]}}: {{reportData.SHOP_CODE}}
</p>
<p>{{::ui["daily_discount"]}} {{reportData.REPORT_CODE}}<br />{{::ui["txt_report_sales_date"]}}: {{reportData.REPORT_DATE}}</p>
<table class="parent-table">
    <colgroup width="60%"></colgroup>
    <colgroup width="20%"></colgroup>
    <colgroup width="20%"></colgroup>
    <thead>
        <tr>
            <th>{{::ui["txt_report_item"]}}</th>
            <th>{{::ui["txt_report_sales_quantity"]}}</th>
            <th>{{::ui["txt_report_sales_amount"]}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="Discount in reportData.DiscountList">
            <td colspan="3" style="border-bottom:1px dashed black;">
                <table class="food-list">
                    <colgroup width="60%"></colgroup>
                    <colgroup width="20%"></colgroup>
                    <colgroup width="20%"></colgroup>
                    <tbody>
                        <tr>
                            <td ng-if="INFO.lang == '001'">{{Discount.TransactionDiscount.discountName1}}</td>
                            <td ng-if="INFO.lang == '003'">{{Discount.TransactionDiscount.discountName2}}</td>
                            <!--<td>{{Discount.TransactionDiscount.discountName2}}</td>-->
                            <td>{{Discount.AllQty}}</td>
                            <td>{{Discount.AllPrice | currency: INFO.currency : 1}}</td>
                        </tr>
                        <tr ng-repeat="Record in Discount.Records">
                            <td style="white-space:normal !important;">{{::ui["txt_report_void_bills_ref_no"]}}: {{Record.refNo}}</td>
                            <td></td>
                            <td>{{Record.discountValue | currency: INFO.currency : 1}}</td>
                        </tr>
                        <tr class="last-row">
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr class="last-solid-row">
            <td>{{::ui["txt_report_sales_total"]}}</td>
            <td>{{reportData.AllQty}}</td>
            <td>{{reportData.AllPrice | currency: INFO.currency : 1}}</td>
        </tr>
        <tr class="last-solid-row">
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>

</table>
<br />
<div class="align-center">*** End of Report {{reportData.REPORT_CODE}} ***</div>
<p>
    {{::ui["txt_report_sales_staff_using"]}}: {{reportData.USER_NAME}}<br />
    {{reportData.REPORT_DATE}} {{reportData.REPORT_TIME}}
</p>
<style>
    .parent-table tr td, .parent-table tr th {
        padding: 0px;
    }

    .parent-table thead {
        border-bottom: 1px dashed black;
    }


    tr.last-solid-row td {
        border-bottom: 1px solid black;
        height: 10px;
    }
</style>
