<p>
  {{reportData.BRANCH_NAME}}<br ng-if="reportData.BRANCH_NAME" />
    {{::ui["txt_report_shop_code"]}}: {{reportData.SHOP_CODE}}
</p>
<p>{{::ui["daily_attendance"]}} {{reportData.REPORT_CODE}}<br />{{::ui["txt_report_sales_date"]}}: {{reportData.REPORT_DATE}}</p>
<table class="reportTable report-table">
  <colgroup>
    <col style="width: 25%;" />
    <col style="width: 50%;" />
    <col style="width: 25%;" />
  </colgroup>
  <tr ng-repeat="att in reportData.attendances">
    <td>{{att.staffName}}</td>
    <td>{{att.datetime}}</td>
    <td>{{att.type}}</td>
  </tr>
</table>
