<p>
    {{reportData.BRANCH_NAME}}<br ng-if="reportData.BRANCH_NAME" />
    {{::ui["txt_report_shop_code"]}}: {{reportData.SHOP_CODE}}
</p>
<p>{{::ui["daily_category_sales"]}} {{reportData.REPORT_CODE}}<br />{{::ui["txt_report_sales_date"]}}: {{reportData.REPORT_DATE}}</p>
<table class="parent-table">
    <thead>
        <tr>
            <th width="40%">{{::ui["txt_report_category"]}}</th>
            <th width="20%">{{::ui["txt_report_sales_quantity"]}}</th>
            <th width="20%">{{::ui["txt_report_sales_amount"]}}</th>
            <th width="20%">{{::ui["txt_report_sales_amount"]}}%</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="Cate in reportData.Category">
            <td>{{Cate.CateName}}</td>
            <td>{{Cate.CateQty}}</td>
            <td>{{Cate.CatePrice | currency: INFO.currency : 1}}</td>
            <td>{{Cate.Percentage}}</td>
        </tr>
        <tr class="last-dashed-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>{{::ui["total_amount"]}}</td>
            <td>{{reportData.AllQty}}</td>
            <td>{{reportData.AllPrice | currency: INFO.currency : 1 }}</td>
        </tr>
        <tr class="last-dashed-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>- {{::ui["discount"]}}</td>
            <td></td>
            <td>{{reportData.DiscountPrice | currency: INFO.currency : 1 }}</td>
        </tr>
        <tr>
            <td>+ {{::ui["txt_report_sales_serivce_charge"]}}</td>
            <td></td>
            <td>{{reportData.ServiceCharge | currency: INFO.currency : 1 }}</td>
        </tr>
        <tr>
            <td>+ {{::ui["bill_decimal"]}}</td>
            <td></td>
            <td>{{reportData.Remaining | currency: INFO.currency : 1 }}</td>
        </tr>
        <tr>
            <td>= {{::ui["txt_report_sales_net_sales_amount"]}}</td>
            <td></td>
            <td>{{reportData.SaleAllPrice | currency: INFO.currency : 1 }}</td>
        </tr>
        <tr class="last-dashed-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="last-dashed-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>

</table>
<br/>
<div class="align-center">*** End of Report {{reportData.REPORT_CODE}} ***</div>
<p>
    {{::ui["txt_report_sales_staff_using"]}}: {{reportData.USER_NAME}}<br />
    {{reportData.REPORT_DATE}} {{reportData.REPORT_TIME}}
</p>
<style>
    .parent-table tr td, .parent-table tr th {
        padding: 0px;
    }

    .parent-table thead {
        border-bottom: 1px dashed black;
    }


    tr.last-dashed-row td {
        border-bottom: 1px dashed black;
        height: 10px;
    }

    tr.last-solid-row td {
        border-bottom: 1px solid black;
        height: 10px;
    }
</style>
