<p>{{reportData.BRANCH_NAME}}<br ng-if="reportData.BRANCH_NAME"/> 
    {{::ui["txt_report_shop_code"]}}: {{reportData.SHOP_CODE}}</p>
<p>{{::ui["daily_food_timeslot_report"]}} {{reportData.REPORT_CODE}}<br/>{{::ui["txt_report_sales_date"]}}: {{reportData.REPORT_DATE}}</p>
<table class="parent-table">
  <tr ng-repeat="timeslot in reportData.timeslots">
    <td>
        <table class="timeslot-table">
            <colgroup width="80%"></colgroup>
            <colgroup width="20%"></colgroup>

            <tr>
                <td colspan="2">{{::ui["txt_report_sales_timeslot"]}} {{timeslot.TIMESLOT_VALUE}} {{timeslot.TIMESLOT_NAME}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <table class="food-table">
                        <colgroup width="80%"></colgroup>
                        <colgroup width="20%"></colgroup>
                        <tr ng-repeat="food in timeslot.FOODMENU">
                            <td colspan="2">
                                <table>
                                    <colgroup width="80%"></colgroup>
                                    <colgroup width="20%"></colgroup>
                                    <tr class="non-border">
                                        <td style="width:80%">{{food.Name}}</td>
                                        <td style="width:20%">{{food.TotalPrice | currency : INFO.currency : 1}}</td>
                                    </tr>
                                    <tr ng-repeat="option in food.options" class="non-border">
                                        <td>- {{option.Name}}</td>
                                        <td>{{option.TotalPrice | currency : INFO.currency : 1}}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>- {{::ui["txt_report_sales_discount"]}}</td> 
                <td>{{timeslot.DiscountPrice | currency: INFO.currency : 1}}</td>
            </tr>
            <tr>
                <td>+ {{::ui["txt_report_sales_serivce_charge"]}}</td>
                <td>{{timeslot.ServiceCharge | currency: INFO.currency : 1}}</td>
            </tr>
            <tr>
                <td>+ {{::ui["bill_decimal"]}}</td>
                <td>{{timeslot.Remaining | currency: INFO.currency : 1}}</td>
            </tr>
            <tr class="cost-space">
                <td>
                    = {{::ui["txt_report_sales_net_sales_amount"]}}
                </td>
                <td>
                    {{timeslot.SaleNetPrice | currency : INFO.currency : 1}}
                </td>
            </tr>
            <tr>
                <td class="sub-value">
                    <div>{{::ui["txt_report_sales_bills"]}}</div>
                    <div class="center-value">{{timeslot.NumOfOrder}}</div>
                </td>
                <td>
                    {{timeslot.SaleNetPrice | currency : INFO.currency : 1}}
                </td>
            </tr>
            <tr>
                <td>
                    {{::ui["txt_report_average_of_bills"]}}
                </td>
                <td>
                    {{timeslot.AvgOfNumOfOrder | currency : INFO.currency : 1}}
                </td>
            </tr>
            <tr>
                <td class="sub-value">
                    <div>{{::ui["txt_report_sales_num_of_people"]}} / {{::ui["txt_report_sales_average"]}}</div>
                    <div class="center-value">{{timeslot.NumOfPax}}</div>
                </td>
                <td>
                   {{timeslot.AvgTotalPriceOfPax | currency : INFO.currency : 1}}
                </td>
            </tr>
            <tr>
                <td class="sub-value">
                    <div>{{::ui["txt_report_sales_average"]}} / {{::ui["txt_dinning"]}}</div>
                    <div class="center-value">{{timeslot.AvgTotalPriceOfPax | currency : INFO.currency : 1}}</div>
                </td>
                <td>
                   {{timeslot.SaleNetPrice | currency : INFO.currency : 1}}
                </td>
            </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<div class="align-center">*** End of Report {{reportData.REPORT_CODE}} ***</div>
<p>
    {{::ui["txt_report_sales_staff_using"]}}: {{reportData.USER_NAME}}<br />
    {{reportData.REPORT_DATE}} {{reportData.REPORT_TIME}}
</p>
<style>
    .parent-table tr td {
        padding-left:0px;
    }
    .timeslot-table tr td{
        padding:0px;
    }
   .timeslot-table tr td:nth-child(2){
        padding:0px;
        text-align:center;
    }
    .timeslot-table tr:first-child td {
        border-top:1px dashed black;
    }
   .timeslot-table tr td.sub-value div {
        width:60%;
        float:left;
       
    } 

    div.center-value{
        text-align:center;
    }

    .timeslot-table tr td.sub-value div + div {
        width:30%;
        float:left;
    }
    tr.cost-space td {
        padding-top:10px; padding-bottom:10px;
    }
    tr.cost-space td:nth-child(2){
        border-top:1px dashed black;
        border-bottom:1px dashed black;
    }

    tr.non-border td{

        border-width:0px !important;

    }

    .report-content table tbody tr td, .report-content table tbody tr th {
        white-space:normal;
    }
</style>
