<p>{{reportData.BRANCH_NAME}}<br ng-if="reportData.BRANCH_NAME"/> 
    {{::ui["txt_report_shop_code"]}}: {{reportData.SHOP_CODE}}</p>
<p>{{::ui["daily_report_void_bill"]}} {{reportData.REPORT_CODE}}<br/>{{::ui["txt_report_sales_date"]}}: {{reportData.REPORT_DATE}}</p>
<table class="parent-table">
    <thead>
        <tr>
            <td></td>
        </tr>
    </thead>
    <tbody ng-repeat="bill in reportData.voidBillList">
    <tr> 
        <td>
            <table class="child-table">
                <colgroup style="width: 40%;" />
                <colgroup style="width: 60%;" />
                <tbody>
                    <tr>
                    <td>{{::ui["txt_report_void_bills_ref_no"]}}:</td>
                    <td>{{bill.refNo}}</td>
                    </tr>
                    <tr>
                    <td>{{::ui["txt_report_void_bills_create_date"]}}:</td>
                        <td>{{bill.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    </tr>
                    <tr>
                        <td>{{::ui["txt_report_void_bills_void_date"]}}:</td>
                        <td>{{bill.transTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    </tr>
                    <tr>
                        <td>{{::ui["txt_report_void_bills_operationg_staff"]}}:</td>
                        <td>{{bill.name}}</td>
                    </tr>
                    <tr>
                        <td>{{::ui["txt_report_sales_amount"]}}:</td>
                        <td>{{bill.price | currency : INFO.currency : 1}}</td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
</tbody>
</table>

<table class="total-count">
    <colgroup style="width: 40%;" />
    <colgroup style="width: 60%;" />
    <tbody>
        <tr>
            <td>{{::ui["txt_report_sales_total"]}}</td>
            <td>{{reportData.AllQty}}</td>
        </tr>
        <tr class="last-row">
            <td>{{::ui["total_amount"]}}</td>
            <td>{{reportData.AllPrice  | currency : INFO.currency : 1}}</td>
        </tr>
    </tbody>
</table>
<br/>
<div class="align-center">*** End of Report {{reportData.REPORT_CODE}} ***</div>
<p>
    {{::ui["txt_report_sales_staff_using"]}}: {{reportData.USER_NAME}}<br />
    {{reportData.REPORT_DATE}} {{reportData.REPORT_TIME}}
</p>
<style>

    .parent-table tr td, .parent-table tr th {
        padding:0px;
        border-bottom:1px dashed black;
    }
    .parent-table thead{
        border-bottom:1px dashed black;
    }

    .last-row td{
        border-bottom:1px dashed black;
    }

    .child-table tbody tr td {
        border-bottom-width:0px;
    }

    .total-count tbody tr td {
        padding:0px;
    }


 
</style>
