<p>{{reportData.BRANCH_NAME}}<br ng-if="reportData.BRANCH_NAME"/>	
  店舖編號: {{reportData.SHOP_CODE}}</p>
<p>每日取消帳單(ECR)報表 {{reportData.REPORT_CODE}}<br/>營業日期: {{reportData.REPORT_DATE}}</p>
<table class="reportTable report-table">
  <thead>
      <tr>
          <th>帳單號碼:</th>
          <th>追蹤號碼:</th>
          <th>時間:</th>
          <th>卡種類:</th>
          <th>價錢:</th>
      </tr>
  </thead>
    <tbody>
        <tr ng-repeat="obj in reportData.voidList">
            <td>{{obj.refNo}}</td>
            <td>{{obj.Trace_Number}}</td>
            <td>{{obj.DateTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{obj.Card_Type}}</td>
            <td>{{obj.Amount | currency: INFO.currency : 2}}</td>
        </tr>
    </tbody>
</table>


<div class="align-center">*** End of Report {{reportData.REPORT_CODE}} ***</div>
<p>讀取人員: {{reportData.USER_NAME}}<br/>
  {{reportData.REPORT_DATE}} {{reportData.REPORT_TIME}}</p>