<p>
    {{reportData.BRANCH_NAME}}<br ng-if="reportData.BRANCH_NAME" />
    {{::ui["txt_report_shop_code"]}}: {{reportData.SHOP_CODE}}
</p>
<p>{{::ui["daily_per_hour_sales"]}} {{reportData.REPORT_CODE}}<br />{{::ui["txt_report_sales_date"]}}: {{reportData.REPORT_DATE}}</p>
<table class="parent-table">
    <thead>
        <tr>
            <th width="20%">{{::ui["txt_report_hours"]}}</th>
            <th width="20%">{{::ui["txt_report_sales_bills"]}}</th>
            <th width="20%">{{::ui["txt_report_sales_num_of_people"]}}</th>
            <th width="20%">{{::ui["txt_report_sales_amount"]}}</th>
            <th width="20%">{{::ui["txt_report_sales_amount"]}}%</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="timeslot in reportData.Timeslot">
            <td>{{timeslot.Display}}</td>
            <td>{{timeslot.AllOrderQty}}</td>
            <td>{{timeslot.AllPax}}</td>
            <td>{{timeslot.AllPrice  | currency: INFO.currency : 1 }}</td>
            <td>{{timeslot.Percentage}}</td>
        </tr>
        <tr class="last-dashed-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>{{::ui["txt_report_sales_total"]}}</td>
            <td>{{reportData.AllQty}}</td>
            <td>{{reportData.AllPax}}</td>
            <td>{{reportData.AllPrice | currency: INFO.currency : 1 }}</td>
            <td></td>
        </tr>

        <tr class="last-dashed-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="last-dashed-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
<br />
<div class="align-center">*** End of Report {{reportData.REPORT_CODE}} ***</div>
<p>
    {{::ui["txt_report_sales_staff_using"]}}: {{reportData.USER_NAME}}<br />
    {{reportData.REPORT_DATE}} {{reportData.REPORT_TIME}}
</p>
<style>
    .parent-table tr td, .parent-table tr th {
        padding: 0px;
    }

    .parent-table thead {
        border-bottom: 1px dashed black;
    }


    tr.last-dashed-row td {
        border-bottom: 1px dashed black;
        height: 10px;
    }

    tr.last-solid-row td {
        border-bottom: 1px solid black;
        height: 10px;
    }
</style>
