<style>
    .test {
        /*max-width:120px !important;
        width:120px !important;
        word-break:keep-all !important ;
        word-wrap:break-word !important;
        overflow-wrap:break-word !important;*/
        white-space:normal !important;
    }

    .food-list tbody tr td {
        padding:5px;
    }
</style>
<p>{{reportData.BRANCH_NAME}}<br ng-if="reportData.BRANCH_NAME"/> 
    {{::ui["txt_report_shop_code"]}}: {{reportData.SHOP_CODE}}</p>
<p>{{::ui["daily_net_sales"]}} {{reportData.REPORT_CODE}}<br/>{{::ui["txt_report_sales_date"]}}: {{reportData.REPORT_DATE}}</p>
<table class="parent-table">
    <thead>
        <tr>
            <th style="width:40%;padding:5px;">{{::ui["txt_report_item"]}}</th>
            <th style="width:20%;padding:5px;">{{::ui["txt_report_sales_quantity"]}}</th>
            <th style="width:20%;padding:5px;">{{::ui["txt_report_sales_amount"]}}</th>
            <th style="width:20%;padding:5px;">{{::ui["txt_report_sales_amount"]}}%</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="cate in reportData.CategoryList">
        <td colspan="4">
            <div style="width:100%">
                <table class="food-list" style="width:100%">
                    <tbody>
                        <tr>
                            <td colspan="4">[{{cate.CateName}}]</td>
                        </tr>
                        <tr ng-repeat="food in cate.PackageList">
                            <td style="width:40%" class="test">{{food.Name}}</td>                            
                            <td style="width:20%">{{food.TotalQty}}</td>
                            <td style="width:20%">{{food.TotalPrice | currency: INFO.currency : 1}}</td>
                            <td style="width:20%">{{food.Percentage}}</td>
                        </tr>
                        <tr class="last-row">
                            <td>
                                {{::ui["subtotal"]}}
                            </td>
                            <td>{{cate.CateQty}}</td>
                            <td>{{cate.CatePrice | currency: INFO.currency : 1}}</td>
                            <td>{{cate.Percentage}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </td>
    </tr>
        <tr class="last-row">
            <td>{{::ui["total_amount"]}}</td>
            <td>{{reportData.AllQty}}</td>
            <td>{{reportData.AllPrice | currency: INFO.currency : 1}}</td>
        </tr>
 
        <tr class="last-row">
            <td>- {{::ui["txt_report_sales_discount"]}}</td>
            <td></td>
            <td>{{reportData.DiscountPrice | currency: INFO.currency : 1}}</td>
            <td></td>
        </tr>
        <tr>
            <td>+ {{::ui["txt_report_sales_serivce_charge"]}}</td>
            <td></td>
            <td>{{reportData.ServiceCharge | currency: INFO.currency : 1}}</td>
        </tr>
        <tr>
            <td>+ {{::ui["bill_decimal"]}}</td>
            <td></td>
            <td>{{reportData.Remaining | currency: INFO.currency : 1}}</td>
        </tr>
        <tr>
            <td>= {{::ui["txt_report_sales_net_sales_amount"]}}</td>
            <td></td>
            <td>{{reportData.SaleAllPrice | currency: INFO.currency : 1}}</td>
        </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
</tbody>

</table>
<br/>
<div class="align-center">*** End of Report {{reportData.REPORT_CODE}} ***</div>
<p>
    {{::ui["txt_report_sales_staff_using"]}}: {{reportData.USER_NAME}}<br />
    {{reportData.REPORT_DATE}} {{reportData.REPORT_TIME}}
</p>
<style>

    .parent-table tr td, .parent-table tr th {
        padding:0px;
    }
    .parent-table thead{
        border-bottom:1px dashed black;
    }

    .parent-table tr.last-row td{
         border-top:1px dashed black;
    }

    .food-list tr.last-row td {
        border-top:1px dashed black;
        height:65px;
        vertical-align:top;
    }

 
</style>
