<p>[BRANCH_NAME]<br ng-if="reportData.BRANCH_NAME"/>	
  店舖編號: {{reportData.SHOP_CODE}}</p>
<p>銷售報表 {{reportData.REPORT_CODE}}<br/>營業日期: {{reportData.REPORT_DATE}}</p>
<table class="reportTable report-table">
  <col style="width: 34%;" />
  <col style="width: 22%;"/>
  <col style="width: 22%;"/>
  <col style="width: 22%;"/>
  <thead>
      <tr>
        <th>項目</th>
        <th>數量</th>
        <th>金額</th>
        <th>金額%</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
      <tr>
        <td>+ 營業金額淨值</td>
        <td>[GROSS_SALES_NET]</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>= 總金額</td>
        <td>[TOTAL_SALES_AMOUNT]</td>
        <td></td>
        <td></td>
      </tr>
  </tfoot>
</table>
<div class="align-center">*** End of Report {{reportData.REPORT_CODE}} ***</div>
<p>讀取人員: {{reportData.USER_NAME}}<br/>
  {{reportData.REPORT_DATE}} {{reportData.REPORT_TIME}}</p>