<p>[BRANCH_NAME]<br/>	
  店舖編號: [SHOP_CODE]</p>
<p>每日營業報表 [REPORT_CODE]<br/>營業日期: [REPORT_DATE]</p>
<table>
  <col style="width: 50%;" />
  <col style="width: 25%;"/>
  <col style="width: 25%;"/>
  <tr>
    <td>營業金額總數</td>
    <td>[GROSS_SALES_TOTAL] {{reportData.NO_OF_TOTAL_AMOUNT}}</td>
    <td></td>
  </tr>
  <tr>
    <td>- 折扣</td>
    <td>[DISCOUNT]</td>
    <td></td>
  </tr>
  <tr>
    <td>+ 服務費</td>
    <td>[SERVICE_CHARGE]</td>
    <td></td>
  </tr>
  <tr>
    <td>+ 帳單小數</td>
    <td>[DECIMAIL_POINT]</td>
    <td></td>
  </tr>
  <tr>
    <td>= 營業金額淨值</td>
    <td>[GROSS_SALES_NET]</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>信用卡</td>
    <td>[TOTAL_NO_OF_VISA]</td>
    <td>[TOTAL_VISA_AMOUNT]</td>
  </tr>
  <tr>
    <td>卡貼士</td>
    <td>[TOTAL_TIPS]</td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<table>
  <col style="width: 50%;" />
  <col style="width: 25%;"/>
  <col style="width: 25%;"/>
  <caption>現金核數</caption>
  <tr>
    <td>營業金額淨值</td>
    <td>[GROSS_SALES_NET]</td>
    <td></td>
  </tr>
  <tr>
    <td>- Visa</td>
    <td>[NO_OF_SALES_VISA]</td>
    <td>[SALES_VISA]</td>
  </tr>
  <tr>
    <td>- 銀聯</td>
    <td>[NO_OF_SALES_UNIONPAY]</td>
    <td>[SALES_UNIONPAY]</td>
  </tr>
  <tr>
    <td>- Diners</td>
    <td>[NO_OF_SALES_DINERS]</td>
    <td>[SALES_DINERS]</td>
  </tr>
  <tr>
    <td>- 銀聯$50現金券</td>
    <td>[NO_OF_SALES_UNIONPAY_CASH_COUPON_50]</td>
    <td>[SALES_UNIONPAY_CASH_COUPON_50]</td>
  </tr>
  <tr>
    <td>- 板長/板前現金券(20)</td>
    <td>[NO_OF_SALES_CASH_COUPON]</td>
    <td>[SALES_CASH_COUPON]</td>
  </tr>
  <tr>
    <td>  (溢收 $1.0)</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>= 現金營業額</td>
    <td>[NO_OF_ORDER_GROSS_SALES_CASH]</td>
    <td>[GROSS_SALES_CASH]</td>
  </tr>
  <tr>
    <td>+ 開機金額</td>
    <td>[AMOUNT_AT_OPEN]</td>
    <td></td>
  </tr>
  <tr>
    <td>+ 現金貼士</td>
    <td>[NO_OF_TIPS_IN_CASH]</td>
    <td>[TIPS_IN_CASH]</td>
  </tr>
  <tr>
    <td>- 支單/Petty Cash</td>
    <td>[NO_OF_PETTY_CASH]</td>
    <td>[PETTY_CASH]</td>
  </tr>
  <tr>
    <td>- 撇取金額</td>
    <td>[SKIMMING_AMOUNT]</td>
    <td></td>
  </tr>
  <tr>
    <td>- 截數金額</td>
    <td>[CUT_OFF_AMOUNT]</td>
    <td></td>
  </tr>
  <tr>
    <td>= 現金過多(-) / 不足(+)</td>
    <td>[GROSS_CASH]</td>
    <td></td>
  </tr>
</table>

<table>
  <col style="width: 50%;" />
  <col style="width: 25%;"/>
  <col style="width: 25%;"/>
  <caption>折扣詳細資料</caption>
  <tr>
    <td>8折</td>
    <td>[NO_OF_DISCOUNTED_AMOUNT_20_OFF]</td>
    <td>[DISCOUNTED_AMOUNT_20_OFF]</td>
  </tr>
  <tr>
    <td>= 總數</td>
    <td>[NO_OF_TOTAL_DISCOUNT]</td>
    <td>[TOTAL_DISCOUNT]</td>
  </tr>
</table>
<table>
  <col style="width: 50%;" />
  <col style="width: 25%;"/>
  <col style="width: 25%;"/>
  <caption>貼士詳細資料</caption>
  <tr>
    <td>Visa</td>
    <td>[NO_OF_TIPS_BY_VISA]</td>
    <td>[TIPS_BY_VISA]</td>
  </tr>
  <tr>
    <td>銀聯</td>
    <td>[NO_OF_TIPS_BY_UNIONPAY]</td>
    <td>[TIPS_BY_UNIONPAY]</td>
  </tr>
  <tr>
    <td>Diners</td>
    <td>[NO_OF_TIPS_BY_DINERS]</td>
    <td>[TIPS_BY_DINERS]</td>
  </tr>
  <tr>
    <td>= 總數</td>
    <td>[NO_OF_TOTAL_TIPS_AMOUNT]</td>
    <td>[TOTAL_TIPS_AMOUNT]</td>
  </tr>
</table>
<table>
  <col style="width: 50%;" />
  <col style="width: 25%;"/>
  <col style="width: 25%;"/>
  <thead>
      <tr>
        <th>核數</th>
        <th>數量</th>
        <th>金額</th>
    </tr>
  </thead>
  <tr>
    <td>經理取消</td>
    <td>[NO_OF_MANAGER_CANCEL]</td>
    <td>[MANAGER_CANCEL_AMOUNT]</td>
  </tr>
  <tr>
    <td>收銀員取消</td>
    <td>[NO_OF_CASHIER_CANCEL]</td>
    <td>[CASHIER_CANCEL_AMOUNT]</td>
  </tr>
  <tr>
    <td>退款 (以項目計)</td>
    <td>[NO_OF_RETURNED_ITEM]</td>
    <td>[RETURNED_ITEM_AMOUNT]</td>
  </tr>
  <tr>
    <td>退款 (以金額計)</td>
    <td>[NO_OF_RETURNED_CASH]</td>
    <td>[RETURNED_CASH_AMOUNT]</td>
  </tr>
  <tr>
    <td>訓練</td>
    <td>[NO_OF_TRAINING]</td>
    <td>[TRAINING_AMOUNT]</td>
  </tr>
  <tr>
    <td>取消 / 合併帳單數目</td>
    <td>[NO_OF_MERGE_N_CANCEL]</td>
    <td>[MERGE_N_CANCEL_AMOUNT]</td>
  </tr>
  <tr>
    <td>非營業項目帳單</td>
    <td>[NO_OF_NON_BUSINESS_ITEM]</td>
    <td>[NON_BUSINESS_ITEM_AMOUNT]</td>
  </tr>
  <tr>
    <td>帳單數目</td>
    <td>[NO_OF_INVOICE]</td>
    <td>[INVOICE_AMOUNT]</td>
  </tr>
  <tr>
    <td>平均每帳單</td>
    <td>[NO_OF_AVERAGE_ITEM_PER_INVOICE]</td>
    <td>[AVERAGE_ITEM_PER_INVOICE_AMOUNT]</td>
  </tr>
  <tr>
    <td>人數 / 平均</td>
    <td>[NO_OF_AVERAGE_PEOPLE]</td>
    <td>[AVERAGE_PEOPLE_AMOUNT]</td>
  </tr>
  <tr>
    <td>平均 / 堂食</td>
    <td>[NO_OF_DINE_IN]</td>
    <td>[DINE_IN_AMOUNT]</td>
  </tr>
</table>
<table>
  <col style="width: 34%;" />
  <col style="width: 22%;"/>
  <col style="width: 22%;"/>
  <col style="width: 22%;"/>
  <caption>未完成帳單</caption>
  <tr>
    <td>類別</td>
    <td>數量</td>
    <td>金額</td>
    <td>人數/Disp.</td>
  </tr>
  <tr>
    <td>堂食</td>
    <td>[NO_OF_DINE_IN]</td>
    <td>[DINE_IN_AMOUNT]</td>
    <td>[NO_OF_PEOPLE_DINE_IN]</td>
  </tr>
  <tr>
    <td>自取</td>
    <td>[NO_OF_TAKE_AWAY]</td>
    <td>[TAKE_AWAY_AMOUNT]</td>
    <td></td>
  </tr>
  
  <tfoot>
      <tr>
        <td>總數</td>
        <td>[NO_OF_INCOMPLETED_INVOICE]</td>
        <td>[TOTAL_INCOMPLETED_INVOICE_AMOUNT]</td>
        <td></td>
      </tr>
      <tr>
        <td>+ 營業金額淨值</td>
        <td>[GROSS_SALES_NET]</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>= 總金額</td>
        <td>[TOTAL_SALES_AMOUNT]</td>
        <td></td>
        <td></td>
      </tr>
  </tfoot>
</table>
<div class="align-center">*** End of Report [REPORT_CODE] ***</div>
<p>讀取人員: [USER_NAME]<br/>
  [REPORT_DATE] [REPORT_TIME]</p>