<p>{{reportData.BRANCH_NAME}}<br ng-if="reportData.BRANCH_NAME"/> 
    {{::ui["txt_report_shop_code"]}}: {{reportData.SHOP_CODE}}</p>
<p>{{::ui["daily_payment_detail"]}} {{reportData.REPORT_CODE}}<br/>{{::ui["txt_report_sales_date"]}}: {{reportData.REPORT_DATE}}</p>
<table class="parent-table"> 
    <thead>
        <tr>
            <th width="60%">{{::ui["txt_report_item"]}}</th>
            <th width="40%">{{::ui["txt_report_sales_amount"]}}</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="payment in reportData.PaymentList">
         <td colspan="2"  ng-if="payment.Code != 'cash'">
             <table>
                 <colgroup width="60%"></colgroup>
                 <colgroup width="20%"></colgroup>
                 <colgroup width="20%"></colgroup>
                 <tr>
                     <td>{{payment.Name}}</td>
                     <td></td>
                     <td>{{::ui["txt_report_tips"]}}</td>
                 </tr>
                 <tr class="last-dashed-row">
                    <td>{{::ui["txt_report_sales_total"]}}({{payment.AllQty}})</td>
                     <td>{{payment.TotalPrice | currency: INFO.currency : 1 }}</td>
                     <td>{{payment.Tips | currency: INFO.currency : 1 }}</td>
                 </tr>
                 <tr ng-repeat="record in payment.Records">
                     <td>{{record.refNo}}</td>
                     <td>{{record.paymentValue | currency: INFO.currency : 1 }}</td>
                     <td>{{record.Tips | currency: INFO.currency : 1 }}</td>
                 </tr>
                 <tr class="last-solid-row">
                     <td colspan="3"></td>
                 </tr>
             </table>
         </td>

        <td colspan="2" ng-if="payment.Code == 'cash'">
            <table>
                <colgroup width="60%"></colgroup>
                <colgroup width="20%"></colgroup>
                <colgroup width="20%"></colgroup>
                <tr>
                    <td>{{payment.Name}}</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="last-dashed-row">
                    <td>{{::ui["txt_report_sales_total"]}}({{payment.AllQty}})</td>
                    <td>{{payment.TotalPrice | currency: INFO.currency : 1 }}</td>
                    <td></td>
                </tr>
                <tr ng-repeat="record in payment.Records">
                    <td>{{record.refNo}}</td>
                    <td>{{record.paymentValue | currency: INFO.currency : 1 }}</td>
                    <td></td>
                </tr>
                <tr class="last-solid-row">
                    <td colspan="3"></td>
                </tr>
            </table>
        </td>

    </tr>
        <tr>
            <td>{{::ui["txt_report_sales_total_amount"]}}</td>
            <td>{{reportData.AllPrice | currency: INFO.currency : 1 }}</td>
        </tr>
        <tr class="last-dashed-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="last-dashed-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
</tbody>

</table>
<div class="align-center">*** End of Report {{reportData.REPORT_CODE}} ***</div>
<p>
    {{::ui["txt_report_sales_staff_using"]}}: {{reportData.USER_NAME}}<br />
    {{reportData.REPORT_DATE}} {{reportData.REPORT_TIME}}
</p>
<style>

    .parent-table tr td, .parent-table tr th {
        padding:0px;
    }
    .parent-table thead{
        border-bottom:1px dashed black;
    }


    tr.last-dashed-row td{
        border-bottom:1px dashed black;
        height:10px;
    }

    tr.last-solid-row td{
        border-bottom:1px solid black;
        height:10px;
    }
 
</style>
