<p>{{reportData.BRANCH_NAME}}<br ng-if="reportData.BRANCH_NAME"/> 
    {{::ui["txt_report_shop_code"]}}: {{reportData.SHOP_CODE}}</p>
<p>{{::ui["daily_most_sales_food"]}} {{reportData.REPORT_CODE}}<br/>{{::ui["txt_report_sales_date"]}}: {{reportData.REPORT_DATE}}</p>
<table class="parent-table" style="white-space:normal">
    <thead>
        <tr>
            <th width="5%"></th>
            <th width="55%">{{::ui["txt_report_item"]}}</th>
            <th width="20%">{{::ui["txt_report_sales_quantity"]}}</th>
            <th width="20%">{{::ui["txt_report_sales_amount"]}}</th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="food in reportData.FoodList">
            <td>{{$index + 1}}</td>
            <td>{{food.Name}}</td>
            <td>{{food.TotalQty}}</td>
            <td>{{food.TotalPrice | currency: INFO.currency : 1}}</td>
    </tr>
        <tr class="last-solid-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr class="last-solid-row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
</tbody>

</table>
<br />
<div class="align-center">*** End of Report {{reportData.REPORT_CODE}} ***</div>
<p>
    {{::ui["txt_report_sales_staff_using"]}}: {{reportData.USER_NAME}}<br />
    {{reportData.REPORT_DATE}} {{reportData.REPORT_TIME}}
</p>
<style>

    .parent-table tr td, .parent-table tr th {
        padding:0px;
    }
    .parent-table thead{
        border-bottom:1px dashed black;
    }


    tr.last-solid-row td{
        border-bottom:1px dashed black;
        height:10px;
    }

 .report-content table tbody tr td, .report-content table tbody tr th {
        white-space:normal;
    }
</style>
