<p>{{reportData.BRANCH_NAME}}<br ng-if="reportData.BRANCH_NAME"/> 
    {{::ui["txt_report_shop_code"]}}: {{reportData.SHOP_CODE}}</p>
<p>{{::ui["daily_cancel_item"]}} {{reportData.REPORT_CODE}}<br/>{{::ui["txt_report_sales_date"]}}: {{reportData.REPORT_DATE}}</p>
<table class="parent-table">
  <tr>
    <td>
        <table class="timeslot-table">
            <colgroup width="80%"></colgroup>
            <colgroup width="20%"></colgroup>
            <tr ng-repeat="CancelItem in reportData.CancelList">
                <td colspan="2">
                    <table class="food-table">
                        <colgroup width="80%"></colgroup>
                        <colgroup width="20%"></colgroup>
                        <tr class="dashed-border">
                            <td class="sub-value" style="width:80%; font-size:16px;">
                                <div style="width:70%;white-space:normal">{{::ui["txt_report_void_bills_ref_no"]}}: {{CancelItem.refNo}}</div>
                                <div class="center-value" style="width:30%;text-align:left">{{::ui["table_no"]}}: {{CancelItem.TableCode}}</div>
                            </td>
                            <td style="width:20%;vertical-align:top;white-space:normal;font-size:16px;">
                               {{CancelItem.Time}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">{{::ui["txt_report_operations_staff"]}}: {{CancelItem.Staff[0].name}}[{{CancelItem.Staff[0].staffId}}]</td>
                        </tr>
                        <!--<tr>
                            <td colspan="2">{{::ui["txt_report_approved_staff"]}}: {{CancelItem.ApproveStaff}}</td>
                        </tr>-->
                        <tr>
                            <td class="sub-value">
                                <div>{{CancelItem.FoodName}}</div>
                                <div class="center-value">{{CancelItem.Qty}}</div>
                            </td>
                            <td>
                                {{CancelItem.Price | currency : INFO.currency : 1}}
                            </td>
                        </tr>
                        <tr ng-repeat="option in CancelItem.Options">
                            <!--<td class="sub-value">
                                <div>{{option.FoodName}}</div>
                                <div class="center-value">{{option.Qty}}</div>
                            </td>-->
                            <td>
                                -{{option.FoodName}}
                            </td>
                            <td>{{option.Price | currency : INFO.currency : 1}}</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-left:15px;">:{{CancelItem.Reason}}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="dashed-border">
                <td class="sub-value">
                    <div>{{::ui["txt_report_sales_total"]}}</div>
                    <div class="center-value">{{reportData.NumOfAllQty}}</div>
                </td>
                <td>
                   {{reportData.TotalPrice | currency : INFO.currency : 1}}
                </td>
            </tr>
            <tr class="solid-border">
                <td colspan="2"></td>
            </tr>
        </table>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
<div class="align-center">*** End of Report {{reportData.REPORT_CODE}} ***</div>
<p>
    {{::ui["txt_report_sales_staff_using"]}}: {{reportData.USER_NAME}}<br />
    {{reportData.REPORT_DATE}} {{reportData.REPORT_TIME}}
</p>
<style>
    .parent-table tr td {
        padding-left:0px;
    }
    .timeslot-table tr td{
        padding:0px;
    }
   .timeslot-table tr td:nth-child(2){
        padding:0px;
        text-align:center;
    }



    tr.dashed-border td{
        border-top:1px dashed black;
       
    }
 
    tr.solid-border td {
        border-top:1px solid black;
        border-bottom:1px solid black;
        height:15px;
    }


   .timeslot-table tr td.sub-value div {
        width:60%;
        float:left;
       
    }

    div.center-value{
        text-align:center;
    }

    .timeslot-table tr td.sub-value div + div {
        width:30%;
        float:left;
    }
</style>
