﻿<div id="qr-code" class="menu-area" layout="row">
    <!-- sidebar column -->
  
    <div flex layout="row" class="sidebar">
        <div flex="" layout="column">
            <div class="row no-margin" layout="row">
                <div layout="column" flex="15" aria-hidden="false" class="" style="">
                    <div class="input-field md-input-focused" flex="">
                        <form ng-submit="payBill();">
                            <input class="data-binder ng-pristine ng-valid ng-touched md-input-focused" id="code" type="text" data-field-type="textfield" tabindex="0" aria-invalid="false" ng-model="QR_Code" custom-always-focus="true">
                            <label for="code" class="active">QR Code:</label>
                        </form>
                            
                        </div>
                </div>
            </div>
            <div class="row no-margin" layout="row">
                <div layout="column" flex="15" aria-hidden="false" class="" style="padding:2px;">
                    <button class="btn" ng-click="printBill();">印單</button>
                </div>
                <!--<div layout="column" flex="15" aria-hidden="false" class=""  style="padding:2px;">
                    <button class="btn" ng-click="payBill();">結帳</button>
                </div>-->
            </div>
        </div>
    </div>

</div><!-- take-away-menu -->');
