﻿<style>
    select.default-select{
        font-size:12px;
        height:30px;
        margin-top:30px;
        display:block;
    }
    .missing-data {
        border-color:red !important;
    }

    .subitem-list-table tbody tr td, .center-td {
        word-break:break-all;
        text-align:center;
    }


</style>
<h4>子項目管理</h4>
<div layout="row" style="height:inherit">
    <div flex="" layout="column" class="menu-layout-builder-viewport" ng-show="Mode=='basic'">
        <table class="compact data-table style1 tablesorter item-table group-table hasFilters subitem-list-table" style="margin-bottom:150px;">
            <thead>
                <tr>
                    <th style="text-align:center;">
                    <button ng-click="Mode='add'" class="btn">新增</button>
                    </th>
                    <th>Code</th>
                    <th>中文名稱</th>
                    <th>英文名稱</th>
                    <th>中文名稱2</th>
                    <th>廚房名稱</th>
                    <th>獨立打印</th>
                    <th>打印位置</th>
                    <th>打印組別</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in SubitemList">
                    <td><button ng-click="EditBtnClick(item, $index);" class="btn">修改</button></td>
                    <td>{{item.subitemCode}}</td>
                    <td>{{item.name1}}</td>
                    <td>{{item.name2}}</td>
                    <td>{{item.name3}}</td>
                    <td>{{item.namek}}</td>
                    <td>{{item.individualPrint == 1? "是" : "否"}}</td>
                    <td>{{item.printer}}</td>
                    <td>{{item.printerGroup}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div flex="" layout="column" class="menu-layout-builder-viewport" ng-show="Mode!='basic'">
        <div class="row no-margin" >
            <button ng-click="EditSubmit();" class="btn">確定</button>
            <button ng-click="BackBasicList();" class="btn">返回</button>
        </div>
        <br/>
        <div class="row no-margin" layout="row" ng-show="Mode == 'add'">
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="例：SB12345" id="code" type="text" data-field-type="textfield" ng-model="ItemObject.subitemCode">
                <label for="code" class="" style="color:#9e9e9e;">Code
                <span style="color:red">*</span>
                <span style="color:red">(SB + 5字位)</span>
                </label>
            </div>
        </div>
        <div class="row no-margin" layout="row" ng-show="Mode == 'change'">
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="例：MD123" id="code" type="text" data-field-type="textfield" ng-model="ItemObject.subitemCode" disabled style="color:black;">
                <label for="code" class="" style="color:#9e9e9e;">Code<span style="color:red">*</span></label>
            </div>
        </div>
        <div class="row no-margin" layout="row">
          

            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="例：MD123" id="name1" type="text" data-field-type="textfield" ng-model="ItemObject.name1">
                <label for="name1" class="">中文名稱<span style="color:red">*</span></label>
            </div>
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="例：MD123" id="name3" type="text" data-field-type="textfield" ng-model="ItemObject.name3">
                <label for="name3" class="">中文名稱2<span style="color:red">*</span></label>
            </div>
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="例：MD123" id="name2" type="text" data-field-type="textfield" ng-model="ItemObject.name2">
                <label for="name2" class="">英文名稱<span style="color:red">*</span></label>
            </div>
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="例：MD123" id="namek" type="text" data-field-type="textfield" ng-model="ItemObject.namek">
                <label for="namek" class="">廚房名稱<span style="color:red">*</span></label>
            </div>

  
        </div>
        <div class="row no-margin" layout="row">
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="例：MD123" id="printer" type="text" data-field-type="textfield" ng-model="ItemObject.printer">
                <label for="printer" class="">打印位置</label>
            </div>
            <div class="input-field" flex="20">
                <input class="data-binder" placeholder="例：MD123" id="printerGroup" type="text" data-field-type="textfield" ng-model="ItemObject.printerGroup">
                <label for="printerGroup" class="">打印組別</label>
            </div>
            <div class="input-field" flex="20" style="margin-top:0px;">
                <select class="data-binder default-select ng-pristine ng-valid ng-touched" id="individualPrint" ng-model="ItemObject.individualPrint" tabindex="0" aria-invalid="false">
                    <option value="0" selected="">否</option>
                    <option value="1">是</option>
                </select>
                <label for="individualPrint" class="" style="top:2px;">獨立打印?</label>
            </div>
        </div>

       </div>



</div>

    <!--compact data-table tablesorter item-table-->

