﻿<style>
    div.void-ecr-page .void-bill-history-table thead tr th {
        height: 50px;
        padding: 5px 0;
    }

    div.void-ecr-page .void-bill-history-table tbody tr td {
        height: 50px;
        padding: 5px 0;
    }

    div.void-ecr-page button.btn {
        width: 100%;
        padding: 0;
    }


    /*.void-bill-history-table thead {
         width: 97%;
       }
       .void-bill-history-table tbody {
         height: 90%;
         overflow-y: auto;
         width: 100%;
       }
       .void-bill-history-table thead, .void-bill-history-table tbody, .void-bill-history-table tr, .void-bill-history-table td, .void-bill-history-table th {
           display: block;
       }
       .void-bill-history-table tbody td, .void-bill-history-table thead > tr> th {
         float: left;
         border-bottom-width: 0;
       }*/
</style>


<div id="take-away-menu" class="menu-area" ng-if="MainService.getOtherWriteOrderService().mode == MainService.getOtherWriteOrderService().schema.viewPage" ng-init="init()">
    <!-- sidebar column -->
    <div layout="row" style="height:inherit">

        <div flex layout="column" class="sidebar" style="overflow-y:scroll" ng-show="isBasicMode();">
            <ul class="take-away__info-container no-padding">
                <li class="ticket-info" ng-repeat="order in TakeOutOrderList" refno="{{order.refNo}}" ng-click="BillRowClick(order.refNo)" ng-style="MainService.takeAwayCollected && takeAwayCollected.isCollected(order.remark)[0] && {'background-color':'rgba(255, 138, 128, 0.35)'}">
                    <div class="order-id">#{{order.refNo}}</div>
                    <div layout="row">
                        <span flex="45">{{order.price | currency : INFO.currency : 1}}</span>
                        <span flex></span>
                        <span flex="45">{{order.startTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    </div>
                    <div layout="row" ng-show="MainService.takeAwayCollected && MainService.getOtherWriteOrderService().modeSetting.mode.value=='takeAway'" ng-repeat="remark in takeAwayCollected.isCollected(order.remark);">
                        <div flex="100" ng-if="!remark" style="width:100%">
                            <span flex="45">
                                Status:
                                <span> Uncollected</span>
                            </span>
                            <span flex></span>
                            <button class="btn" style="float:right;" ng-click="takeAwayCollected.changeStatus(true, order.refNo)">Collect</button>
                        </div>
                        <div fex="100" ng-if="remark" style="width:100%">
                            <span flex="45">
                                Status:
                                <span> Collected</span>
                            </span>
                            <span flex></span>
                            <button class="btn" style="float:right;background-color:rgb(198,40,40)" ng-click="takeAwayCollected.changeStatus(false, order.refNo)">Uncollected</button>
                        </div>
                    </div>
                    <!--MainService.getOtherWriteOrderService().takeOutAndDelivery &&-->
                    <div ng-show="order.customerData.phone">
                        <div>
                            <div layout="row">
                                <div layout="column" flex="">
                                    <span style="color:red" ng-show="order.paymentLater==1">
                                        {{::ui["txt_takeOutAndDelivery_input_phone_no"]}}:
                                        <span>{{::order.customerData.phone}}</span>
                                    </span>
                                    <span ng-if="order.paymentLater!=1">
                                        {{::ui["txt_takeOutAndDelivery_input_phone_no"]}}:
                                        <span>{{::order.customerData.phone}}</span>
                                    </span>
                                </div>

                            </div>
                            <div layout="row">
                                <div layout="column" flex="55">
                                    <button class="btn blue" ng-click="showCustomerInfo(order.customerData);">{{::ui["txt_takeOutAndDelivery_btn_input_customer_info"]}}.</button>
                                </div>
                                <div layout="column" flex="5"></div>
                                <div layout="column" flex="" ng-show="order.paymentLater==1">
                                    <button class="btn cancel" ng-click="setPaymentForLaterPay(order.refNo);">{{::ui["txt_takeOutAndDelivery_btn_payment"]}}</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>


        <div flex layout="column" class="sidebar">
            <!-- table information -->
            <div layout="row" class="header fill-height table-info" style="">
                <div class="table-summary" layout="column" ng-show="isModeOrder('foodControl')">

                    <span class="inline-block">{{::ui['food_control']}}</span>
                </div>
                <span flex></span>
                <div style="position: absolute; top: 6px; right: 6px;" class="table-function" ng-controller="scrollController" layout="row">

                    <md-button md-no-ink="true" class="md-40p md-raised md-rounded-square md-densed" ng-click="scrollUp( '#order-list-takeaway', 30 )">

                        <i class="md-icon dp40">keyboard_arrow_up</i>
                    </md-button><md-button md-no-ink="true" class="md-40p md-raised md-rounded-square md-densed" ng-click="scrollDown( '#order-list-takeaway', 30 )">

                        <i class="md-icon dp40">keyboard_arrow_down</i>
                        <!-- ng-show="modeCheckOrderFood();"  -->
                    </md-button><md-button md-no-ink="true" class="show-details md-40p md-raised md-rounded-square md-densed" ng-click="toggleItemDisplay1('detail')" aria-label="">

                        <md-icon class="dp30" md-svg-src="assets/icon/identification24.svg"></md-icon>
                    </md-button><md-button md-no-ink="true" class="show-details md-40p md-raised md-rounded-square md-densed" ng-click="toggleItemDisplay2('zeroItem')" aria-label="">

                        <i class="md-icon dp48">exposure_zero</i>
                    </md-button>
                </div>
            </div>
            <!-- scrollable area only food list -->
            <!-- class="active-item-list" -->
            <md-sidenav id="order-list-takeaway" flex class="order-list-wrapper" md-is-locked-open="$mdMedia('min-width: 0px')" md-scroll-y style="">
                <order-list ng-hide="isModeOrder('foodControl')"></order-list>
            </md-sidenav>
            <!-- total etc -->
            <div id="" class="footer account-summary" ng-hide="isModeOrder('foodControl')" >

                <!--<div class="account row no-margin" ng-show="MainService.Cart.member.vipcode != null">
                    <div class=""><strong>{{ ::ui['member'] + ui['colon'] }}</strong><span>{{MainService.Cart.member.name()}} <span class="card-no">#{{MainService.Cart.member.vipcode}}</span></span></div>
                </div>
                <div layout="row" class="row no-margin" ng-show="MainService.Cart.member.vipcode != null">

                    <div class="inline-block">{{ ::ui['member_discount'] }}</div><span flex></span><div class="inline-block">{{ MainService.Cart.price | currency : INFO.currency : 1 }}</div>
                </div>-->

                <div layout="row" class="row no-margin">
                    <div class="inline-block order-id">{{ ::ui['orderID'] }}</div><span flex></span><div class="inline-block">{{MainService.Cart.refNo}}</div>
                </div>

                <!--<div layout="row" class="row no-margin">

                    <div class="inline-block">{{ ui['subtotal'] }}</div><span flex></span><div class="inline-block">{{ MainService.Cart.price | currency : INFO.currency : 1 }}</div>
                </div>-->
                <div layout="row" class="row no-margin">

                    <div class="inline-block">{{ ::ui['bill_decimal'] }}</div><span flex></span><div class="inline-block">{{ MainService.Cart.remainings | currency : INFO.currency : 1 }}</div>
                </div>

                <div layout="row" class="row no-margin">

                    <div class="inline-block">{{ ::ui['total_amount'] }}</div><span flex></span><div class="inline-block">{{ MainService.Cart.totalPrice | currency : INFO.currency : 1 }}</div>
                </div>

                <div layout="row" class="row no-margin discount-input row-custom" ng-repeat="discoutList in appliedDiscount() track by $index">
                    <!--isAmendBillMode();-->
                    <div class="inline-block">
                        {{discoutList.name1}}
                        <!--<a ng-show="isAmendBillMode()" href="#" class="warn btn-delete" ng-click="deletDiscount($index)">刪除</a>-->
                    </div>
                    <span flex></span><div class="inline-block">{{discoutList.price | currency : INFO.currency : 1  }}</div>
                </div>

                <div layout="row" class="row no-margin price-input row-custom" ng-if="!isBasicMode()" ng-repeat="methodList in appliedPaymentMethod() track by $index">

                    <div class="row no-margin" ng-if="$index == 0 && MainService.deposit.appliedDeposit.length != 0" style="width:100%;background: rgb(244, 67, 54); color: white;margin:0 !important;padding:0px">
                        <div class="col s3" style="padding:0px;"><span>{{::ui["txt_deposit"]}}:</span></div>
                        <div class="col s9" style="padding:0px;"><span>{{MainService.deposit.appliedDeposit[0].depositNo}}</span></div>
                        <div class="col s12 deposit-tender-payment" style="padding:0px;">
                            <div class="inline-block">
                                <span>
                                    {{MainService.deposit.appliedDeposit[0].getPaymentName()}}
                                </span>
                                <a href="#" class="warn btn-delete" style="display:none" ng-click="MainService.deposit.deleteAppliedDeposit()">{{::ui["delete"]}}</a>
                            </div><div class="inline-block" style="float:right">{{MainService.deposit.appliedDeposit[0].paymentPrice | currency : INFO.currency : 1  }}</div>
                        </div>
                        <div class="col s12" style="padding:0px;" ng-if="MainService.deposit.appliedDeposit.length != 0 && appliedPaymentMethod().length == 1">
                            <div class="inline-block"><span ng-if="MainService.remainerAmount >= 0">{{::ui["txt_deposit_remainder"]}}</span><span ng-if="MainService.remainerAmount < 0">{{ ::ui['remainder'] }}</span></div><div class="inline-block" style="float:right">{{ MainService.remainerAmount | currency : INFO.currency : 1  }}</div>
                        </div>
                    </div>

                    <div ng-if="$index !=0 || MainService.deposit.appliedDeposit.length  == 0" style="width:100%">
                        <div class="inline-block">
                            {{getTenderName(methodList)}}
                            <a ng-if="isAmendBillMode() && (methodList.isNewAdd || !config.ecrPayment) && (MainService.appliedPaymentMethod.length > 0 || !MainService.multiPayment.isEnable()) && checkingBtnDeleteOfTender()" href="#" class="warn btn-delete" ng-click="deletePaymentMethod($index)">{{::ui["delete"]}}</a>
                        </div>
                        <span flex></span>
                        <div class="inline-block" style="float:right">{{methodList.amount | currency : INFO.currency : 1  }}</div>
                    </div>
                </div>

                <!--
                <div style="display:none" layout="row" class="row no-margin price-input row-custom"
                     ng-if="MainService.deposit.appliedDeposit.length == 0 && (((appliedPaymentMethod().length > -1 || appliedDiscount().length > 0) && !isBasicMode() && !MainService.multiPayment.isEnable()) ||(MainService.multiPayment.isEnable() && MainService.appliedPaymentMethod.length == 1 && !isBasicMode()))" >
                    <div class="inline-block">
                        <span ng-if="MainService.remainerAmount >= 0 && MainService.isCash">{{ ::ui['payment_change'] }}</span>
                        <span ng-if="MainService.remainerAmount < 0">{{ ::ui['remainder'] }}</span>
                        <span ng-if="MainService.remainerAmount >= 0 && !MainService.isCash">{{ ::ui['tips'] }}</span>
                    </div>
                    <span flex></span><div class="inline-block">{{ MainService.remainerAmount | currency : INFO.currency : 1  }}</div>
                </div>-->

                <div layout="row" class="row no-margin price-input row-custom" ng-if="MainService.deposit.appliedDeposit.length == 0 && ((!MainService.multiPayment.isEnable() && appliedPaymentMethod().length != 0 && !isBasicMode()) || (MainService.multiPayment.isEnable() && !isBasicMode() && appliedPaymentMethod().length == 1))">
                    <div class="inline-block">
                        <span ng-if="MainService.remainerAmount >= 0 && MainService.isCash">{{ ::ui['payment_change'] }}</span>
                        <span ng-if="MainService.remainerAmount < 0">{{ ::ui['remainder'] }}</span>
                        <span ng-if="MainService.remainerAmount >= 0 && !MainService.isCash">{{ ::ui['tips'] }}</span>
                    </div>
                    <span flex></span><div class="inline-block">{{ MainService.remainerAmount | currency : INFO.currency : 1  }}</div>
                </div>

                <div layout="row" class="row no-margin price-input row-custom" ng-if="MainService.deposit.appliedDeposit.length != 0 && !isBasicMode() && appliedPaymentMethod().length == 2">
                    <div class="inline-block">
                        <span ng-if="MainService.remainerAmount >= 0 && MainService.isCash">{{ ::ui['payment_change'] }}</span>
                        <span ng-if="MainService.remainerAmount < 0">{{ ::ui['remainder'] }}</span>
                        <span ng-if="MainService.remainerAmount >= 0 && !MainService.isCash">{{ ::ui['tips'] }}</span>
                    </div>
                    <span flex></span><div class="inline-block">{{ MainService.remainerAmount | currency : INFO.currency : 1  }}</div>
                </div>

                <div layout="row" class="row no-margin price-input row-custom multi-pay-tips-1" ng-if="(MainService.appliedPaymentMethod.length > 1 && !isBasicMode() && MainService.multiPayment.isEnable() && MainService.deposit.appliedDeposit.length == 0) || (MainService.deposit.appliedDeposit.length != 0 && !isBasicMode() && MainService.multiPayment.isEnable() && MainService.appliedPaymentMethod.length > 2)">
                    <div class="inline-block">
                        <span>{{ ::ui['tips'] }}</span>
                    </div>
                    <span flex></span>
                    <div class="inline-block">{{ MainService.multiPayment.getRemainder('tips') | currency : INFO.currency : 1  }}</div>
                </div>

                <div layout="row" class="row no-margin price-input row-custom multi-pay-remainer-1" ng-if="(MainService.appliedPaymentMethod.length > 1 && !isBasicMode() && MainService.multiPayment.isEnable() && MainService.deposit.appliedDeposit.length == 0) || (MainService.deposit.appliedDeposit.length != 0 && !isBasicMode() && MainService.multiPayment.isEnable() && MainService.appliedPaymentMethod.length > 2)">
                    <div class="inline-block">
                        <span>{{ ::ui['payment_change'] }}</span>
                    </div>
                    <span flex></span>
                    <div class="inline-block">{{ MainService.multiPayment.getRemainder() | currency : INFO.currency : 1  }}</div>
                </div>

            </div>



        </div>



        <div flex="70" layout="column" style="height:inherit" ng-show="isSearchMode()">
            <div class="order-mode-container" flex layout="column" ng-include="'tmpl/search-bill-menu-takeAway.html'"></div> <!--MainService.modeOrder = MainService.schema.modeOrder.searchBill;-->
        </div>
        <div flex="70" layout="column" style="height:inherit" ng-show="isAmendBillMode() && !config.ecrPayment">
            <div class="order-mode-container" flex layout="column" ng-include="'tmpl/amend-bill-menu.html'"></div>
        </div>

        <div flex="70" layout="column" style="height:inherit" ng-if="isAmendBillMode() && changeBill.isOpen && config.ecrPayment" ng-controller="changeBillController">
            <div class="order-mode-container" flex layout="column" ng-include="'tmpl/amend-bill-menu.html'" ng-show="MainService.ecrChangePaymentMode==1"></div>
            <div class="order-mode-container  void-ecr-page" flex layout="column" style="height:100%;" ng-show="MainService.ecrChangePaymentMode==0">
                <div class="md-grid-container" style="height:45%">
                    <h2 class="header left-edge-margin fill-height" style="height:10%">
                        取消付款方式紀錄
                    </h2>
                    <table class="striped highlight void-bill-history-table centered" style="height:10%;width:99%">
                        <thead>
                            <tr>
                                <th style="width:25%">付款方式</th>
                                <th style="width:15%">金額</th>
                                <th style="width:25%">執行員工</th>
                                <th style="width:35%">時間</th>
                            </tr>
                        </thead>
                    </table>
                    <div style="width:100%;height:75%;max-height:75%;overflow-y:auto">
                        <table class="striped highlight void-bill-history-table centered">
                            <tbody>
                                <tr ng-repeat="payment in voidPayment">
                                    <td style="width:25%">{{payment.name1}} <span ng-if="payment.traceNumber"> ({{payment.traceNumber}}) </span></td>
                                    <td style="width:15%">{{payment.paymentValue | currency: INFO.currency : 2}}</td>
                                    <td style="width:25%">{{payment.voidStaff}}</td>
                                    <td style="width:35%">{{payment.voidDate | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="md-grid-container" style="height:47%">
                    <h2 class="header left-edge-margin fill-height" style="height:10%">
                        現有付款方式
                    </h2>

                    <table class="striped highlight void-bill-history-table centered" style="height:10%;width:99%">
                        <thead>
                            <tr>
                                <th style="width:25%">付款方式</th>
                                <th style="width:15%">金額</th>
                                <th style="width:15%">執行員工</th>
                                <th style="width:35%">時間</th>
                                <th style="width:10%"></th>
                            </tr>
                        </thead>
                    </table>
                    <div style="width:100%;height:75%;max-height:75%;overflow-y:auto">
                        <table class="striped highlight void-bill-history-table centered">

                            <tbody>
                                <tr ng-repeat="payment in currentPayment">
                                    <td style="width:25%">{{payment.name1}} <span ng-if="payment.traceNumber"> ({{payment.traceNumber}}) </span></td>
                                    <td style="width:15%">{{payment.paymentValue | currency: INFO.currency : 2}}</td>
                                    <td style="width:15%">{{payment.staffId}}</td>
                                    <td style="width:35%">{{payment.paymentDate | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                    <td style="width:10%">
                                        <button class="btn red" ng-click="deletePayment(payment.seq, $index)">刪除</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


                <div class="row" style="height:8%;margin:0px;">

                    <div class="col s3" style="background-color:#ccc;padding:0px;height:100%;border:0.5px solid white"></div>
                    <div class="col s3" style="background-color:#ccc;padding:0px;height:100%;border:0.5px solid white"></div>

                    <div class="col s3" style="background-color:#ccc;padding:0px;height:100%;border:0.5px solid white">
                        <md-button class="md-raised cancel icon-with-text" ng-click="changeBill.backSearchMode();" style="margin:0; height:100%; width:100%;font-size:18px;font-weight:bold"><i class="md-icon dp45">clear</i>{{::ui["cancel_back"] || "取消/返回"}}</md-button>
                    </div>
                    <div class="col s3" style="background-color:#ccc;padding:0px;height:100%;border:0.5px solid white">
                        <md-button class="md-raised proceed icon-with-text" ng-click="insertPayment();" style="margin:0; height:100%; width:100%;font-size:18px;font-weight:bold"><i class="md-icon dp45">done</i>新增</md-button>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div id="take-away__menu-option" flex="10"></div> -->

    </div>

</div><!-- take-away-menu -->
