<!DOCTYPE html>
<html ng-app="rms" ng-controller="globalController as globalCtrl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="./bower_components/angular-material101/angular-material.css">
    <!--<link rel="stylesheet" href="./bower_components/materialize/dist/css/materialize.css">--><!-- 0.97 -->
    <link rel=stylesheet href="./css/angular-material-tweak.css">
    <link rel=stylesheet href="./css/material-iconfont.css">
    <link rel=stylesheet href="./bower_components/spectrum/spectrum.css" />
    <link rel="stylesheet" href="./bower_components/materialize-v0.97.3/css/materialize.css"><!-- 0.97.3 -->
    <link rel="stylesheet" href="./bower_components/select2/select2.css" />
    <link rel=stylesheet href="./css/version5.css">
    <link rel=stylesheet href="./css/admin5.css">
    <link rel=stylesheet href="./css/menuLayoutBuilder-v2.css">
    <link rel=stylesheet href="./css/font.css">
</head>
<body class="min-visible health-food">
        <section class="app-container md-rms-theme " style="">
            <side-nav-left ng-controller="sideMenuCtrl as vm"></side-nav-left>
            <rms-top></rms-top>
            <md-content class="content-area md-rms-theme" style="">
              <order-scene class="background" ng-show="MainService.mode == MainService.schema.mode.order"></order-scene>
              <main-scene class="background style2 " ng-show="MainService.mode == MainService.schema.mode.main"></main-scene>
              <item-scene class="background" ng-if="MainService.mode == MainService.schema.mode.itemAdmin"></item-scene>
              <category-scene class="background" ng-if="MainService.mode == MainService.schema.mode.categoryAdmin"></category-scene>
              <report-scene class="background" ng-if="MainService.mode == MainService.schema.mode.report"></report-scene>
              <menu-layout-list-scene class="background" ng-show="MainService.mode == MainService.schema.mode.menuLayoutList"></menu-layout-list-scene>
              <menu-layout-builder-scene class="menu-layout-builder menu-area background" ng-show="MainService.mode == MainService.schema.mode.menuLayoutBuilder"></menu-layout-builder-scene>
              <time-range-scene class="background" ng-if="MainService.mode == MainService.schema.mode.timeRangeSetting"></time-range-scene>
                <modifier-scene class="background" ng-if="MainService.mode == MainService.schema.mode.modifierAdmin"></modifier-scene>
                <option-scene class="background" ng-if="MainService.mode == MainService.schema.mode.optionAdmin"></option-scene>
                <subitem-scene class="background" ng-if="MainService.mode == MainService.schema.mode.subitemAdmin"></subitem-scene>
                <price-scene class="background" ng-if="MainService.mode == MainService.schema.mode.priceAdmin"></price-scene>
            </md-content>
            <rms-status></rms-status>
        </section>

    <script src="./bower_components/jquery/dist/jquery.min.js"></script><!-- 1.11.1 -->
    <script src="./bower_components/jquery-ui/dist/js/jquery-ui.min.js"></script><!-- 1.11.1 -->
    <script src="./bower_components/fittext/jquery.fittext.js"></script>

    <!-- using bower package manager to manage, install and update -->
    <script src="./bower_components/angular/angular.min.js"></script><!-- 1.3.15 -->

    <!-- Angular Material Dependencies -->
    <script src="./bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="./bower_components/angular-material101/angular-material.js"></script>
    
    <script src="./bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="./bower_components/angular-deferred-bootstrap/angular-deferred-bootstrap.min.js"></script>
    <script src="./bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="./bower_components/angular-momentum-scroll/scrollable.min.js"></script>
    <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!--<script src="./bower_components/materialize/dist/js/materialize.js"></script>-->
    <script src="./bower_components/materialize-v0.97.3/js/materialize.js"></script>
    <script src="./bower_components/handlebars/handlebars.min.js"></script>
    <script src="./bower_components/handlebars-intl/dist/handlebars-intl.min.js"></script>
    <script src="./bower_components/spectrum/spectrum.js"></script>
    <script src="./bower_components/select2/select2.min.js"></script>
    
    <script src="./js/shared/common.js"></script>
    <script src="./js/vendor/socket.js"></script>
    <script src="./js/vendor/socket.io-1.3.5.js"></script>
    <script src="./js/vendor/jquery.lazyload.min.js"></script>

    <script src="./js/admin/commonDev.js"></script> <!-- for admin only -->
    <script src="./js/admin/jQuery.makeEditable.js"></script><!-- inside custom materialize select for color -->
    <script src="./js/shared/view.js"></script><!-- handlebar settings -->
    <script src="./js/shared/templates-shared.js"></script>
    <script src="./js/admin/settings.js"></script><!-- share settings with core(demo3) -->
    <script src="./js/admin/adminApp-a5.js"></script>
    <script src="./js/admin/admin-templates.js"></script> <!-- order of loading is not matter -->
    <script src="./js/admin/commonServices.js"></script>
    <script src="./js/admin/commonControllers.js"></script>
    <script src="./js/admin/commonDirectives.js"></script>
    <script src="./js/admin/directives-a5.js"></script>
    <script src="./js/admin/controllers-a5.js"></script>
    <script src="./js/admin/directives-dummy.js"></script>
    <script src="./js/admin/menuLayoutBuilder-v2.js"></script>
    <script src="./bower_components/moment.min.js"></script>



    <script id="tpl-table-itemlist" type="text/x-handlebars-template">
        <table id="item-list" class="compact data-table style1 tablesorter item-table" data-sortlist="[[0,0]]">
            <thead><tr><th class="helper"></th>{{#each tableHead}}<th class="{{widthClass}}" onclick="alert('{{this.name}}')">{{name}}</th>{{/each}}</tr></thead>
            <tbody>
                {{#each tableContent}}
                {{#each items}}
                <tr id="itemlist-{{itemCounter ../../tableContent @../index @index}}" class="scrollspy" data-rowID="{{itemCounter ../../tableContent @../index @index}}" data-object-pos="{{@../index}}-{{@index}}">
                    <td class="helper"><i class="md-icon indicator"></i></td>
                    <td class="editable code" data-field-type="{{../../tableHead.[0].fieldType}}">{{code}}</td>
                    <td class="editable name1" data-field-type="{{../../tableHead.[1].fieldType}}">{{#getName name "003"}}{{/getName}}</td>
                    <td class="editable name2" data-field-type="{{../../tableHead.[2].fieldType}}">{{#getName name "001"}}{{/getName}}</td>
                    <td class="editable category {{../../tableHead.[3].fieldType}}" data-bind-row{{rowID}}="group" data-field-type="{{../../tableHead.[3].fieldType}}" data-field-style="normal"><span class="value">{{../code}}</span></td>
                    <td class="editable sortNo" data-bind-row{{rowID}}="sortNo" data-field-type="{{../../tableHead.[4].fieldType}}">{{sortOrder}}</td>
                    <td class="editable color {{../../tableHead.[5].fieldType}}" data-bind-row{{rowID}}="color" data-field-type="{{../../tableHead.[5].fieldType}}" data-field-style="color"><div class="color-box value {{color}}" title="{{color}}"></div></td>
                    <td class="editable plu" data-bind-row{{rowID}}="plu" data-field-type="{{../../tableHead.[6].fieldType}}">-</td>
                    <td class="editable unitprice" data-bind-row{{rowID}}="price1" data-field-type="{{../../tableHead.[7].fieldType}}">{{formatNumber unitprice }}</td>
                    <td class="editable point" data-bind-row{{rowID}}="point" data-field-type="{{../../tableHead.[8].fieldType}}">-</td>
                    <td class="editable printer" data-bind-key="printer" data-bind-row{{rowID}}="printer" data-field-type="{{../../tableHead.[9].fieldType}}">{{printer}}</td>
                    <td class="editable separate-print" data-bind-row{{rowID}}="separatePrint" data-field-type="{{../../tableHead.[10].fieldType}}">{{getCheck '-'}}</td>
                    <td class="editable label" data-bind-key="label" data-bind-row{{rowID}}="label" data-field-type="{{../../tableHead.[11].fieldType}}">{{label}}</td>
                    <td class="editable service-charge" data-bind-row{{rowID}}="seviceCharge" data-field-type="{{../../tableHead.[12].fieldType}}">{{getCheck '-'}}</td>
                    <td class="editable set" data-bind-row{{rowID}}="set" data-field-type="{{../../tableHead.[13].fieldType}}">{{getCheck '-'}}</td>
                    <td class="editable subitem" data-bind-row{{rowID}}="subitem" data-field-type="{{../../tableHead.[14].fieldType}}">-</td>
                    <td class="editable coupon" data-bind-row{{rowID}}="coupon" data-field-type="{{../../tableHead.[15].fieldType}}">{{coupon}}{{rowID}}</td>
                    <td class="editable remark" data-bind-row{{rowID}}="remark" data-field-type="{{../../tableHead.[16].fieldType}}">{{remark}}{{rowID}}</td>
                </tr>
                {{/each}}
                {{/each}}
            </tbody>
        </table>
    </script>

    <!-- because not every item have subitem and when item is selected, the subitem content will be refreshed, so separate template is needed rather than rerender the whole part with header, save some performance -->
    <!-- <tbody>{{#each tableContent}}<tr><td>{{code}}</td><td>{{#getName name}}{{/getName}}</td></tr>{{/each}}</tbody> -->
    <script id="tpl-table-subitem" type="text/x-handlebars-template">
        <table class="data-table style1 tablesorter item-table subitem-table" data-sortlist="[[0,0]]">
            <thead><tr><th class="helper"></th>{{#each tableHead}}<th class="{{widthClass}}">{{name}}</th>{{/each}}</tr></thead>
            <tbody></tbody>
        </table>
    </script>

    <script id="tpl-table-subitem-content" type="text/x-handlebars-template">
        {{#each this}}
        <tr>
            <td>{{code}}</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>{{#getName name "001"}}{{/getName}}</td>
            <td>{{#getName name "003"}}{{/getName}}</td>
            <td>{{unitprice}}</td>
            <td>{{printer}}</td>
            <td>{{label}}</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
        </tr>{{/each}}
    </script>

    <script id="tpl-table-category" type="text/x-handlebars-template">
        <table class="compact data-table style1 tablesorter group-table" data-sortlist="[[0,0]]">
            <thead><tr>{{#each tableHead}}<th class="{{widthClass}}">{{name}}</th>{{/each}}</tr></thead>
            <tbody>
                {{#each tableContent}}
                <tr id="categorylist-{{counter ../tableContent @index catrow}}" class="scrollspy" data-rowID="{{@index}}" data-object-pos="{{@index}}">
                    <td class="editable code" data-field-type="{{../tableHead.[0].fieldType}}" data-bind-catrow{{rowID}}="code">{{code}}</td>
                    <td class="editable" data-field-type="{{../tableHead.[1].fieldType}}" data-bind-catrow{{rowID}}="sortNo">-</td>
                    <td class="editable" data-field-type="{{../tableHead.[2].fieldType}}" data-bind-catrow{{rowID}}="name1">{{#getName name "003"}}{{/getName}}</td>
                    <td class="editable" data-field-type="{{../tableHead.[3].fieldType}}" data-bind-catrow{{rowID}}="name2">{{#getName name "001"}}{{/getName}}</td>
                    <td class="editable" data-field-type="{{../tableHead.[4].fieldType}}" data-bind-catrow{{rowID}}="enabled">{{getCheck '-'}}</td>
                    <td class="editable color {{../tableHead.[5].fieldType}}" data-field-type="{{../tableHead.[5].fieldType}}" data-field-style="color" data-bind-catrow{{rowID}}="color"><div class="color-box value {{color}}" title="{{color}}"></div></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>

    <script>
        $(document).bind("contextmenu", function(e) {
            // console.log(userConfig.dev);
                if( !userConfig.dev ) {
                    return false;
                }
                // return false
        });
    </script>
</body>
</html>