﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="fdm" ng-controller="globalController as globalCtrl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>RARe Customer Display</title>

    <link rel="stylesheet" href="./bower_components/angular-material101/angular-material.css">
    <link rel="stylesheet" href="./bower_components/materialize-v0.97.3/css/materialize.css"><!-- 0.97.3 -->
    <link rel=stylesheet href="./css/material-iconfont.css">
    <link rel=stylesheet href="./css/version5.css">
    <link rel=stylesheet href="./css/customerDisplay.css" >
</head>
<body>
    <div id="main-scene" ng-controller="FDMController">
        <div layout="row">
            <advert-image flex="100" layout="column" class="signage-image"></advert-image>
            <div class="background" ng-show="modeCheckBill('summary') || MainService.Cart.cartList.length > 0 || MainService.Cart.enquiredOctopusBalance"></div>
            <div flex="100" layout="column" class="sidebar" ng-hide="modeCheckBill('summary')">
                <div class="order-list-wrapper">
                    <order-list ></order-list>
                </div>

                <div id="" class="footer account-summary">
                    <div class="account row no-margin" ng-show="MainService.Cart.member.vipcode != null">
                        <div class=""><strong>{{ ::ui['member'] + ui['colon'] }}</strong><span>{{MainService.Cart.member.name()}} <span class="card-no">#{{MainService.Cart.member.vipcode}}</span></span></div>
                    </div>
                    <div layout="row" class="row no-margin" ng-show="MainService.Cart.member.vipcode != null">
                        <div class="inline-block">{{ ::ui['member_discount'] }}</div><span flex></span><div class="inline-block">{{ MainService.Cart.price | currency : INFO.currency : 1 }}</div>
                    </div>
                    <div layout="row" class="row no-margin" ng-if="MainService.Cart.price != MainService.Cart.totalPrice">
                        <div class="inline-block">{{ ::ui['subtotal'] }}</div><span flex></span><div class="inline-block">{{ MainService.Cart.price | currency : INFO.currency : 1 }}</div>
                    </div>
                    <div layout="row" class="row no-margin" ng-if="MainService.modeDeliveryOrder == MainService.schema.modeDeliveryOrder.writeOrder">
                        <div class="inline-block">{{ ::ui['additional_Charge'] }}</div><span flex></span><div class="inline-block">{{ MainService.Cart.serviceCharge | currency : INFO.currency : 1 }}</div>
                    </div>
                    <div layout="row" class="row no-margin">
                        <!--<div class="inline-block discount">{{ ::ui['member_discount'] }}</div><span flex></span><div class="inline-block">-$100.00</div>-->
                    </div>
                    <div layout="row" class="row no-margin" style="display:none">
                        <div class="inline-block">{{ ::ui['bill_decimal'] }}</div><span flex></span><div class="inline-block">{{ MainService.Cart.remainings | currency : INFO.currency : 1 }}</div>
                    </div>
                    <div layout="row" class="row no-margin">
                        <div class="inline-block">{{ ::ui['total_amount'] }}</div><span flex></span><div class="inline-block">{{ MainService.Cart.totalPrice | currency : INFO.currency : 1 }}</div>
                    </div>
                    <!--<div layout="row" class="row no-margin discount-input row-custom" ng-if="modeCheckBill();" ng-repeat="discoutList in appliedDiscount() track by $index">-->
                    <div layout="row" class="row no-margin discount-input row-custom" ng-repeat="discoutList in appliedDiscount() track by $index">
                        <div class="inline-block">{{discoutList.name1}}</div><span flex></span><div class="inline-block">{{discoutList.price | currency : INFO.currency : 1  }}</div>
                    </div>
                    <div layout="row" class="row no-margin price-input row-custom" ng-if="modeCheckBill();" ng-repeat="methodList in appliedPaymentMethod() track by $index">
                        <div class="inline-block">{{methodList.name}}</div><span flex></span><div class="inline-block">{{methodList.amount | currency : INFO.currency : 1  }}</div>
                    </div>
                    <div layout="row" class="row no-margin price-input row-custom" ng-if="(appliedPaymentMethod().length > -1 || appliedDiscount().length > 0) && modeCheckBill();">
                        <div class="inline-block"><span ng-if="MainService.remainerAmount >= 0 && MainService.isCash">{{ ::ui['payment_change'] }}</span><span ng-if="MainService.remainerAmount < 0">{{ ::ui['remainder'] }}</span><span ng-if="MainService.remainerAmount >= 0 && !MainService.isCash">{{ ::ui['tips'] }}</span></div>
                        <span flex></span><div class="inline-block">{{ MainService.remainerAmount | currency : INFO.currency : 1  }}</div>
                    </div>
                </div>
            </div>
            <div flex layout="column" class="billing-summary" ng-class="{active: modeCheckBill('summary')}" ng-if="modeCheckBill('summary');" ng-include="'tmpl/billing-summary.html'"></div>
            <div flex layout="column" class="octopus-balance" ng-class="{active: MainService.Cart.enquiredOctopusBalance}" ng-if="MainService.Cart.enquiredOctopusBalance">
                <div id="billing-summary">
                    <div class="md-grid-container">
                        <div class="paid-container" style="height: 100%;">
                            <div class="row">
                                <div class="col s8 head"><span class="cell">{{ui['octopus_wording_remaining_value']}}</span></div>
                                <div class="col s4 content"><span class="cell">{{MainService.Cart.enquiredOctopusBalance | currency : INFO.currency : 1  }}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script><!-- 1.11.1 -->
    <!--<script src="./bower_components/jquery-ui/dist/js/jquery-ui.min.js"></script>--><!-- 1.11.1 -->
    <script src="./bower_components/fittext/jquery.fittext.js"></script>
    <!--<script src="./bower_components/bootstrap/dist/js/jquery-ui-touch-punch.min.js"></script>-->
    <script src="./bower_components/angular/angular.min.js"></script><!-- 1.3.15 -->
    <script src="./bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="./bower_components/angular-material101/angular-material.js"></script>

    <script src="./bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="./bower_components/angular-momentum-scroll/scrollable.min.js"></script>
    <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!--<script src="dist/js/jquery-impromptu.min.js"></script>-->

    <script src="./js/shared/common.js"></script>
    <script src="./js/vendor/socket.js"></script>
    <script src="./js/vendor/socket.io-1.3.5.js"></script>
    <!--<script src="./js/vendor/slides.min.jquery.js"></script>-->
    <script src="./js/vendor/jquery.slides.min.js"></script>

    <script src="./js/pos/settings.js"></script>
    <script src="./js/shared/templates-shared.js"></script>
    <script src="./js/shared/directives-shared.js"></script>
    <script src="./js/pos/rmsApp-v5.js"></script>
    <script src="./js/pos/rms-templates.js"></script> <!-- order of loading is not matter -->
    <script src="./js/pos/commonServices.js"></script>
    <script src="./js/pos/commonControllers.js"></script>
    <script src="./js/pos/commonDirectives.js"></script>
    <script src="./js/pos/multiPaymentManagement.js"></script>
    <script src="./js/pos/takeOutAndDelivery.js"></script>
    <script src="./js/pos/depositManagement.js"></script>
    <script src="./js/pos/directives-v5.js"></script>
    <script src="./js/pos/controllers-v5.js"></script>
    <script src="./js/pos/directives-dummy.js"></script>
    <script src="./js/view/customerDisplay.js"></script>
</body>
</html>
