<!DOCTYPE html>
<html ng-app="rms" ng-controller="globalController as globalCtrl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="./css/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./bower_components/angular-material101/angular-material.css">
    <link rel="stylesheet" href="./bower_components/materialize/dist/css/materialize.css"><!-- 0.97 -->
    <link rel=stylesheet href="./css/angular-material-tweak.css">
    <link rel=stylesheet href="./css/material-iconfont.css">
    <link rel=stylesheet href="./css/version5.css">
</head>
<body>
    <!--   <button class="box box-3 " style="word-wrap: break-word; height: 70px;" ellipsis>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
               </button> -->
    <section class="app-container md-rms-theme " style="">
        <side-nav-left ng-controller="sideMenuCtrl as vm"></side-nav-left>
        <rms-top></rms-top>
        <md-content class="content-area md-rms-theme" style="">
            <!-- <rms-svg class="control-content background background-wood" ng-show="MainService.mode == MainService.schema.mode.floorPlan"></rms-svg> -->
            <order-scene class="background" ng-show="MainService.mode == MainService.schema.mode.order"></order-scene>
            <main-scene class="background style2" ng-show="MainService.mode == MainService.schema.mode.main"></main-scene>
            <login-scene class="background" ng-if="MainService.mode == MainService.schema.mode.login"></login-scene>
            <cash-management-scene class="background" ng-if="MainService.mode == MainService.schema.mode.cashManagement"></cash-management-scene>
            <report-scene class="background" ng-if="MainService.mode == MainService.schema.mode.report"></report-scene>
            <clearance-scene class="background" ng-if="MainService.mode == MainService.schema.mode.dailyClearance"></clearance-scene>
            <user-scene class="padding-scene background" ng-if="MainService.mode == MainService.schema.mode.userManagement"></user-scene>
            <user-group-scene class="padding-scene background" ng-if="MainService.mode == MainService.schema.mode.userGroupManagement"></user-group-scene>
            <user-clock-scene class="padding-scene background" ng-if="MainService.mode == MainService.schema.mode.userClockManagement"></user-clock-scene>
            <table-list-scene class="padding-scene background" ng-if="MainService.mode == MainService.schema.mode.tableList"></table-list-scene>
            <settings-scene class="padding-scene background" ng-if="MainService.mode == MainService.schema.mode.settings"></settings-scene>
            <take-away-scene class="padding-scene background" ng-if="MainService.mode == MainService.schema.mode.takeAway"></take-away-scene>
            <scan-qrcode-scene class="padding-scene background" ng-if="MainService.mode == MainService.schema.mode.scanQrcode"></scan-qrcode-scene>
            <table-scene class="control-content background"></table-scene>
            <!--  ng-show="MainService.mode == MainService.schema.mode.floorPlan" -->
            <!-- <kitchen-info-scene class="padding-scene background" ng-show="MainService.mode == MainService.schema.mode.kitchenInformation"></kitchen-info-scene> -->
            <!-- <search-bill-scene class="background"></search-bill-scene> -->
        </md-content>
        <rms-status></rms-status>
    </section>


    <script src="./bower_components/jquery/dist/jquery.min.js"></script><!-- 1.11.1 -->
    <script src="./bower_components/fittext/jquery.fittext.js"></script>
    <!-- <script src="./bower_components/dotdotdot/src/js/jquery.dotdotdot.min.js"></script> -->
    <script src="./bower_components/snap.svg/dist/snap.svg-min.js"></script><!-- 0.4.0 -->
    <script src="./js/pos/snap.svg-plugin.js"></script>

    <!-- using bower package manager to manage, install and update -->
    <script src="./bower_components/angular/angular.min.js"></script><!-- 1.3.15 -->
    <!-- Angular Material Dependencies -->
    <script src="./bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="./bower_components/angular-material101/angular-material.js"></script>

    <script src="./bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="./bower_components/angular-deferred-bootstrap/angular-deferred-bootstrap.min.js"></script>
    <!--<script src="./bower_components/angular-route/angular-route.min.js"></script>-->
    <script src="./bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="./bower_components/angular-momentum-scroll/scrollable.min.js"></script>
    <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="./bower_components/materialize/dist/js/materialize.js"></script>
    <script src="./bower_components/handlebars/handlebars.min.js"></script>
    <script src="./bower_components/handlebars-intl/dist/handlebars-intl.min.js"></script>

    <script src="js/shared/common.js"></script>
    <script src="js/vendor/socket.js"></script>
    <script src="js/vendor/socket.io-1.3.5.js"></script>


    <!-- <script src="js/rms.js"></script>-->
    <script src="./js/pos/snap.freetransform.js"></script>
    <script src="./js/pos/settings.js"></script>
    <script src="./js/shared/view.js"></script>
    <!-- <script src="./js/shared/services-shared.js"></script> -->
    <script src="./js/shared/templates-shared.js"></script>
    <script src="./js/shared/directives-shared.js"></script>
    <script src="./js/pos/takeout/rmsApp-v5.js"></script>
    <script src="./js/pos/takeout/rms-templates.js"></script> <!-- order of loading is not matter -->
    <script src="./js/pos/commonServices.js"></script>
    <script src="./js/pos/commonControllers.js"></script>
    <script src="./js/pos/commonDirectives.js"></script>
    <script src="./js/pos/directives-v5.js"></script>
    <script src="./js/pos/controllers-v5.js"></script>
    <script src="./js/pos/directives-dummy.js"></script>

    <script id="tpl-table-user-group" type="text/x-handlebars-template">
        <table class="compact data-table style1 tablesorter group-table">
            <caption><a class="btn" ng-click="edit()"><i class="md-icon" style="vertical-align: top;">note_add</i>{{caption}}</a></caption>
            <thead>
                <tr>
                    {{#each tableHead}}
                    <th class="{{widthClass}}">{{name}}</th>{{/each}}
                    {{#each permissionListName}}
                    <!-- {{#getPermissionName this ../lang}}{{/getPermissionName}} -->
                    <th class="permission {{@key}}" title="{{#getPermissionName this ../lang}}{{/getPermissionName}}" ng-click="highlightMe('{{@key}}')">{{@key}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each tableContent}}
                <tr class="scrollspy" ng-click="edit({{staffGroupCode}})">
                    <td class="code" data-group-code="{{staffGroupCode}}">{{staffGroupCode}}</td>
                    <td class="">{{staffGroupName}}</td>
                    <td class="permission-item p1" data-permission="{{p1}}">{{#getPermission p1 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p2" data-permission="{{p2}}">{{#getPermission p2 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p3" data-permission="{{p3}}">{{#getPermission p3 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p4" data-permission="{{p4}}">{{#getPermission p4 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p5" data-permission="{{p5}}">{{#getPermission p5 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p6" data-permission="{{p6}}">{{#getPermission p6 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p7" data-permission="{{p7}}">{{#getPermission p7 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p8" data-permission="{{p8}}">{{#getPermission p8 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p9" data-permission="{{p9}}">{{#getPermission p9 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p10" data-permission="{{p10}}">{{#getPermission p10 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p11" data-permission="{{p11}}">{{#getPermission p11 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p12" data-permission="{{p12}}">{{#getPermission p12 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p13" data-permission="{{p13}}">{{#getPermission p13 ../lang}}{{/getPermission}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>
    <script>
        $(document).bind("contextmenu", function(e) {
            // console.log(userConfig.dev);
                if( !userConfig.dev ) {
                    return false;
                }
                // return false
        });
    </script>
</body>
</html>