<!DOCTYPE html>
<html ng-app="rms" ng-controller="globalController as globalCtrl">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="./bower_components/angular-material101/angular-material.css">
    <link rel="stylesheet" href="./bower_components/materialize/dist/css/materialize.css"><!-- 0.97 -->
    <link rel=stylesheet href="./css/angular-material-tweak.css">
    <link rel=stylesheet href="./css/material-iconfont.css">
    <link rel=stylesheet href="./css/version5.css">
</head>
<body class="min-visible">
<!--   <button class="box box-3 " style="word-wrap: break-word; height: 70px;" ellipsis>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
           </button> -->
        <section class="app-container md-rms-theme " style="">
            <rms-top></rms-top>
            <md-content class="content-area md-rms-theme" style="">
              <!-- <rms-svg class="control-content background background-wood" ng-show="MainService.mode == MainService.schema.mode.floorPlan"></rms-svg> -->
              <!-- <test-scene></test-scene> -->
              <table-scene class="control-content background" ng-show="MainService.mode == MainService.schema.mode.floorPlan"></table-scene>
              <order-scene class="background" ng-show="MainService.mode == MainService.schema.mode.order"></order-scene>
              <main-scene class="background" ng-show="MainService.mode == MainService.schema.mode.main"></main-scene>
              <login-scene class="background" ng-if="MainService.mode == MainService.schema.mode.login"></login-scene>
              <cash-management-scene class="background" ng-if="MainService.mode == MainService.schema.mode.cashManagement"></cash-management-scene>
              <report-scene class="background" ng-if="MainService.mode == MainService.schema.mode.report"></report-scene>
              <clearance-scene class="background" ng-if="MainService.mode == MainService.schema.mode.dailyClearance"></clearance-scene>
              <user-scene class="padding-scene background" ng-if="MainService.mode == MainService.schema.mode.userManagement"></user-scene>
              <user-group-scene class="padding-scene background" ng-if="MainService.mode == MainService.schema.mode.userGroupManagement"></user-group-scene>
              <user-clock-scene class="padding-scene background" ng-if="MainService.mode == MainService.schema.mode.userClockManagement"></user-clock-scene>
              <!-- <kitchen-info-scene class="padding-scene background" ng-show="MainService.mode == MainService.schema.mode.kitchenInformation"></kitchen-info-scene> -->
              <!-- <search-bill-scene class="background"></search-bill-scene> -->
            </md-content>
            <rms-status></rms-status>
        </section>
  

    <script src="./bower_components/jquery/dist/jquery.min.js"></script><!-- 1.11.1 -->
    <script src="./bower_components/fittext/jquery.fittext.js"></script>
    <!-- <script src="./bower_components/dotdotdot/src/js/jquery.dotdotdot.min.js"></script> -->
    <script src="./bower_components/snap.svg/dist/snap.svg-min.js"></script><!-- 0.4.0 -->
    <script src="./js/pos/snap.svg-plugin.js"></script>

    <!-- using bower package manager to manage, install and update -->
    <script src="./bower_components/angular/angular.min.js"></script><!-- 1.3.15 -->

    <!-- Angular Material Dependencies -->
    <script src="./bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="./bower_components/angular-material101/angular-material.js"></script>
    
    <script src="./bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="./bower_components/angular-deferred-bootstrap/angular-deferred-bootstrap.min.js"></script>
    <!--<script src="./bower_components/angular-route/angular-route.min.js"></script>-->
    <script src="./bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="./bower_components/angular-momentum-scroll/scrollable.min.js"></script>
    <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="./bower_components/materialize/dist/js/materialize.js"></script>
    <script src="./bower_components/handlebars/handlebars.min.js"></script>
    <script src="./bower_components/handlebars-intl/dist/handlebars-intl.min.js"></script>
    
    <script src="js/shared/common.js"></script>
    <script src="js/vendor/socket.js"></script>
    <script src="js/vendor/socket.io-1.3.5.js"></script>


    <!-- <script src="js/rms.js"></script>-->
    <script src="./js/pos/snap.freetransform.js"></script>
    <script src="./js/pos/settings.js"></script>
    <script src="./js/shared/view.js"></script>
    <script src="./js/pos/rmsApp-v5-handelbar.js"></script>
    <script src="./js/shared/templates-shared.js"></script>
    <script src="./js/pos/rms-templates-handlebar.js"></script> <!-- order of loading is not matter -->
    <script src="./js/pos/commonControllers.js"></script>
    <script src="./js/pos/commonDirectives.js"></script>
    <script src="./js/pos/directives-v5.js"></script>
    <script src="./js/pos/controllers-v5.js"></script>
    <script src="./js/pos/directives-dummy.js"></script>

    <script id="tpl-table-user-group" type="text/x-handlebars-template">
        <table class="compact data-table style1 tablesorter group-table">
            <caption><a class="btn" ng-click="edit()"><i class="md-icon" style="vertical-align: top;">note_add</i>{{caption}}</a></caption>
            <thead><tr>{{#each tableHead}}<th class="{{widthClass}}">{{name}}</th>{{/each}}
            {{#each permissionListName}}
            <!-- {{#getPermissionName this ../lang}}{{/getPermissionName}} -->
                <th class="permission {{@key}}" title="{{#getPermissionName this ../lang}}{{/getPermissionName}}" ng-click="highlightMe('{{@key}}')">{{@key}}</th>
              {{/each}}
            </tr></thead>
            <tbody>
                {{#each tableContent}}
                <tr class="scrollspy" ng-click="edit({{staffGroupCode}})">
                    <td class="code" data-group-code="{{staffGroupCode}}">{{staffGroupCode}}</td>
                    <td class="">{{staffGroupName}}</td>
                    <td class="permission-item p1" data-permission="{{p1}}">{{#getPermission p1 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p2" data-permission="{{p2}}">{{#getPermission p2 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p3" data-permission="{{p3}}">{{#getPermission p3 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p4" data-permission="{{p4}}">{{#getPermission p4 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p5" data-permission="{{p5}}">{{#getPermission p5 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p6" data-permission="{{p6}}">{{#getPermission p6 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p7" data-permission="{{p7}}">{{#getPermission p7 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p8" data-permission="{{p8}}">{{#getPermission p8 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p9" data-permission="{{p9}}">{{#getPermission p9 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p10" data-permission="{{p10}}">{{#getPermission p10 ../lang}}{{/getPermission}}</td>
                    <td class="permission-item p11" data-permission="{{p11}}">{{#getPermission p11 ../lang}}{{/getPermission}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </script>

    <script id="tpl-order-list" type="text/x-handlebars-template">
        <div class="order__list-order-list col order-list" ng-hide="modeCheckOrder('foodControl')">
          <ul class="list-group">
            {{#each this}}
            <!-- item.editItem($event);  getQtyWithVoid() <= 0 &&-->
            <!-- data-id="{{addIndex this @index}}" -->
            <li class="list-group-item" ng-hide="getQtyWithVoid({{@index}}) <= 0 && !modeCheckOrder('detail')" ng-class="{active : {{isEdit}} }" ng-click="editItem($event, {{@index}});">
              <div layout="row" class="order-list-item">
                 <span flex="35" class="index" ng-show="modeCheckOrder('detail')">#{{index}}</span>
                 <span flex class="code" ng-show="modeCheckOrder('detail')">{{code}}</span>
                 <i class="md-icon delete" ng-click="deleteItem($event, {{@index}})" ng-if="modeCheckOrder('detailNormal');">highlight_off</i>
              </div>

              <!-- repeatable for food name with price, qty-->
              <ul class="ordered__food__info-container no-padding">
               
                  <!-- ng-repeat should go here for more than 1 food -->
                  <li layout="row" class="food-info">
                     
                      <!-- for 1024 space, flex set to 55, overflow hidden, add support to responsive later -->
                      <div flex="50" layout="column">
                          <span class="name"><a href="#">{{execFuncThis this 'getName'}}</a></span>
                          <ul class="modifier" ng-show="item.voidRemark !=''">
                              <!-- ng-repeat should go here for more than 1 modifier -->
                              <li>{{voidRemark}}</li>
                          </ul>
                          <ul class="modifier" ng-show="item.modifier.length != 0">
                              <!-- ng-repeat should go here for more than 1 modifier / m -->
                              {{#each modifier}}
                              <li>{{label}}</li>
                              {{/each}}
                          </ul>
                          <ul class="kitchenMsg" ng-show="item.kitchenMsgOld.length != 0">
                              <!-- ng-repeat should go here for more than 1 kitchenMsgOld / k -->
                              {{#each kitchenMsgOld}}
                              <li>{{label}} {{execFuncThis this 'getIndex'}}</li>
                              {{/each}}
                          </ul>
                          <ul class="kitchenMsg" ng-show="item.kitchenMsg.length != 0">
                              <!-- ng-repeat should go here for more than 1 kitchenMsg -->
                              {{#each kitchenMsg}}
                              <li>{{label}}<a href="#" ng-click="MainService.Cart.deleteKitchenMsg(item.kitchenMsg, $index, $event)"><i class="md-icon remove">remove_circle</i></a></li>
                              {{/each}}
                          </ul>
                      </div>
                      <div flex layout="column">
                          <span class="qty">{{execFuncThis this 'getQtyWithVoid'}}</span>
                      </div>

                      <!-- display support up to 5 digits XX,XXX | currency : INFO.currency : 1 -->
                      <div flex="35" layout="column">
                          <span class="price">{{ execFuncThis this 'getTotalPriceWithVoid' 'currency' 1}}</span>
                      </div>
                  </li>
                  <ul class="food_info-option-list">
                    <!-- ng-repeat="optionList in item.option track by $index" -->
                    {{#each option}}
                    <li ng-class="{active : {{chkContent this 'isEdit'}} }">
                      <ul class="food_info-option_list-option">

                        <!--  ng-repeat="option in optionList.items track by $index"  -->
                        {{#each items}}
                        <li layout="row" class="order_list-option food-info" ng-if="{{qty}} > 0" ng-class="{active : {{chkContent ../this ../isEdit}} }">
                          <div flex="50" layout="column">
                              <span class="name"><a class="existing__order__list order_list-option-action" href="#" ng-click="
                              cartListEditOption($event, {{execFuncThis this 'getIndex' }}, {{@../index}}, {{@index}});">{{execFuncThis this 'getName'}} {{execFuncThis this 'getIndex'}}</a></span>
                              <ul class="option-modifier"></ul>
                              <ul class="option-modifier" ng-show="{{modifier.length}} != 0">
                                  <!-- ng-repeat should go here for more than 1 modifier -->
                                  <!-- ng-repeat="m in option.modifier" -->
                                  {{#each modifier}}<li>{{label}}</li>{{/each}}
                              </ul>
                              <ul class="option-kitchenMsg" ng-show="{{kitchenMsgOld.length}} != 0">
                                  <!-- ng-repeat should go here for more than 1 modifier -->
                                  <!-- ng-repeat="k in option.kitchenMsgOld" -->
                                  {{#each kitchenMsgOld}}<li>{{label}}</li>{{/each}}
                              </ul>
                              <ul class="option-kitchenMsg option-kitchenMsg-new" ng-show="{{kitchenMsg.length}} != 0">
                                  <!-- ng-repeat should go here for more than 1 modifier -->
                                  <!--  ng-repeat="k in option.kitchenMsg track by $index" -->
                                  {{#each kitchenMsg}}<li>{{label}}<a href="#" ng-click="deleteKitchenMsg({{@index}}, $event)"><i class="md-icon remove">remove_circle</i></a></li>{{/each}}
                              </ul>
                          </div>
                          <div flex layout="column">
                              <span class="qty">{{qty}}</span>
                          </div>
                          <div flex="35" layout="column">
                              <span class="price"></span>
                          </div>
                        </li>
                        {{/each}}
                       
                      </ul>
                    </li>
                    {{/each}}
                  </ul>
                   
              </ul>
            </li>
            {{/each}}
          </ul>
        </div>
        
    </script>

    <script id="tpl-test" type="text/x-handlebars-template">

        {{#each tableHead}}<div> <span>{{stringifyFunc this}}1111</span>{{name}} {{{obj}}}</div>{{/each}}
    </script>

    <script>
        $(document).bind("contextmenu", function(e) {
            // console.log(userConfig.dev);
                if( !userConfig.dev ) {
                    return false;
                }
                // return false
        });
    </script>
</body>
</html>'