﻿<!DOCTYPE html>
<html lang="en" ng-app="goBeacon">
<head>
	<meta charset="UTF-8">
	<title>Flagged Table Template</title>
	<link rel="stylesheet" href="./bower_components/angular-material/angular-material.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/robo_bold_macroman.css">
</head>
<body ng-controller="sceneControl" ng-keydown="down($event)" class="background-graph-paper background">

	<!-- <md-button> Flat Button </md-button>
	<md-button href="http://google.com"> Flat link </md-button>
	<md-button class="md-raised"> Raised Button </md-button>
	<md-button ng-disabled="true"> Disabled Button </md-button>
	<md-button>
	  <md-icon md-svg-src="your/icon.svg"></md-icon>
	  Register Now
	</md-button>
 -->
 <!-- <md-button class="md-primary">Click me</md-button>
 <md-button class="md-accent">or maybe me</md-button>
 <md-button class="md-warn">Careful</md-button> -->
 <!-- <tt>text = {{command.text}}</tt> -->
 <!-- <div ng-show="command.text == '1'">something is shown</div> -->
 <input type="text" id="table-no" style="" maxlength="5" onblur="this.focus()" autofocus 
 	ng-model="command.text">

 	<svg-canvas></svg-canvas>

	<md-grid-list id="flagged-list" md-cols="4" md-gutter="0" md-row-height="4:3" class="ng-hide">
	  <md-grid-tile class="rms-palette-orange"><div>1-1 </div><div class="flag">1</div></md-grid-tile>
	  <md-grid-tile class="rms-palette-gold"><div>2-2</div><div class="flag">4</div></md-grid-tile>
	  <!-- <md-grid-tile class="rms-palette-grass"><div>3-3</div></md-grid-tile>
	  <md-grid-tile class="rms-palette-sky"><div>1-4</div></md-grid-tile>
	  <md-grid-tile class="rms-palette-lemon"><div>1-5</div></md-grid-tile> -->
	  <!-- <md-grid-tile class="rms-palette-jade">asdsa</md-grid-tile>
	  <md-grid-tile class="rms-palette-navy">asdsa</md-grid-tile>
	  <md-grid-tile class="rms-palette-orange">asdsa</md-grid-tile>
	  <md-grid-tile class="rms-palette-gold">asdsa</md-grid-tile>
	  <md-grid-tile class="rms-palette-grass">asdsa</md-grid-tile>
	  <md-grid-tile class="rms-palette-sky">asdsa</md-grid-tile> -->
	</md-grid-list>

	

	<!-- using bower package manager to manage, install and update -->
	<script src="./bower_components/jquery/dist/jquery.min.js"></script><!-- 1.11.1 -->
	<script src="./bower_components/snap.svg/dist/snap.svg-min.js"></script><!-- 0.4.0 -->
	<script src="./bower_components/angular/angular.min.js"></script><!-- 1.3.15 -->

	<!-- Angular Material Dependencies -->
	<script src="./bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="./bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="./bower_components/angular-material/angular-material.min.js"></script>
    <script src="js/vendor/socket.io.js"></script>

	<script>
	jQuery(document).ready(function($) {
		$("input#table-no").keydown(function(event){
		    var ew = event.which;

		    /* 
		    	0 - 9 => 48 - 57, 96 - 105 (keypad)
		    	delete = 0
		    	backspace = 8
		    	110 => .
		    	116 => F5
		    	122 => F11
			*/
			
			console.log(ew);
		    if(96 <= ew && ew <= 105 || 48 <= ew && ew <= 57 || ew == 8 || ew == 0 || ew == 46 || ew === 27 || ew === 13 || ew === 116 || ew === 122 || ew === 107 || ew === 109 || ew === 110 ) { // if skip 0 and 8, Old IE and FF doesnt work but Chrome still work
		    	// console.log(ew);
		    	

		        return true;
		    } else {
		    	// alert(ew)
		    }


		    return false;
		});

	});
	var app = angular.module('goBeacon', ['ngMaterial']);

	app.config(function($mdThemingProvider) {
	    $mdThemingProvider.theme('default')
	      .primaryPalette('pink')
	      .accentPalette('orange');
	  });

	app.directive('svgCanvas', function ($compile, $http, $animate) {
		return {
		    restrict: 'E',
		    // template: '<svg id="svg-canvas" class="" style="visibility: visible; width: 100%; height: 100%;"></svg>',
		    template: '<div class="stretchy-wrapper"><svg id="svg-canvas" style="visibility: visible;"></svg></div>',
		    // templateUrl: 'testtmpl.html',
		    link: function (scope, element, attrs) {
		    	var svgScene = Snap("#svg-canvas");
		    	var sceneHeight = 1080;
		    	svgScene.attr({
		    	    "viewBox": "0 0 1920 " + sceneHeight // 4:3
		    	});
		    	// add a reference rect
		    	svgScene.prepend(svgScene.rect(0, 0, 1920, sceneHeight).attr({ id: "work-canvas", fill: "transparent" }));

		    	Snap.load("floorplan.svg", function (f) {
		    	    // svgScene.append( f.selectAll( "g#bottomGroup" ) );
		    	    // console.log(f.selectAll());

		    	    svgScene.append(svgScene.group(f.selectAll("g#floorplan")).attr({
                            "id": "floorplan"
                        })
		    	    );

		    	    this.workArea = {
		    	        w: svgScene.select("#work-canvas").getBBox().w,
		    	        h: svgScene.select("#work-canvas").getBBox().h
		    	    };

		    	    this.layoutArea = {
		    	        w: svgScene.select("#floorplan").getBBox().w,
		    	        h: svgScene.select("#floorplan").getBBox().h
		    	    };

		    	    var offset = {
		    	        x: (this.workArea.w - this.layoutArea.w) / 2,
		    	        y: 0
		    	    };

		    	    console.log("workArea.w " + this.workArea.w);
		    	    console.log("layoutArea.w " + this.layoutArea.w);

		    	    eleMatrix = new Snap.Matrix();
		    	    eleMatrix.translate(offset.x, offset.y);
		    	    svgScene.select("#floorplan").transform(eleMatrix);
		    	    
		    	}) // snap.load
		    }
		}
	});

	app.controller('sceneControl',['$scope', 'SocketFactory', function ($scope, SocketFactory) {
      $scope.command = {
        text: ''
        //,
        // word: /^\s*\w*\s*$/
      };

      function arrays_equal(a,b) { return !(a<b || b<a); }

      $scope.keyBuffer = [];
      $scope.down = function(e) {
      	$scope.keyBuffer.push(e.keyCode);
        // console.log($scope.keyBuffer);

        $scope.trigger_svg = [107, 13];
        $scope.trigger_list = [109, 13];
        if (arrays_equal($scope.trigger_svg, $scope.keyBuffer)) {
	        // alert('thats it!');
	        // console.log('display floorplan');
	        angular.element("#flagged-list").addClass('ng-hide');
	        angular.element("svg-canvas").removeClass('ng-hide');
	    }

        if (arrays_equal($scope.trigger_list, $scope.keyBuffer)) {
	        // alert('thats it!');
	        // console.log('display list');
	        angular.element("#flagged-list").removeClass('ng-hide');
	        angular.element("svg-canvas").addClass('ng-hide');
	    }
	    console.log(e.keyCode);
	    

	    if( e.keyCode === 13) {
	    	console.log("emit " + $("input#table-no").val());
	    	// console.log($("input#table-no").val());
	    	SocketFactory.emit('keypress', $("input#table-no").val(), function (a) {
	    		console.log($("input#table-no").val());
	    	});
	    }

	    // if( e.keyCode === 27 ) {
	    // 	$("input#table-no").val('');
	    // }

        // 27 escape, 13 return/enter, - 109, + 107, * 106, / 111, . 190
        // reset when esc or enter is pressed
        if( e.keyCode === 27 || e.keyCode === 13) {
        	$scope.keyBuffer = [];
        	$("input#table-no").val('');
        }
      };
    }]);

	app.factory('SocketFactory', function ($rootScope) {
	    var socketConnection = 'http://' + location.hostname + ':5000';
	    var socket = io.connect(socketConnection);
	    io.Manager(socketConnection, { reconnect: true });
	    var asyncAngularify = function (socket, callback) {
	        return callback ? function () {
	            var args = arguments;
	            $timeout(function () {
	                callback.apply(socket, args);
	            }, 0);
	        } : angular.noop;
	    };
	    return {
	        on: function (eventName, callback) {
	            socket.on(eventName, function () {
	                var args = arguments;
	                $rootScope.$apply(function () {
	                    callback.apply(socket, args);
	                });
	            });
	        },
	        emit: function (eventName, data, callback) {
	            var lastIndex = arguments.length - 1;
	            var callback = arguments[lastIndex];
	            if (typeof callback == 'function') {
	                callback = asyncAngularify(socket, callback);
	                arguments[lastIndex] = callback;
	            }
	            return socket.emit.apply(socket, arguments);
	        }
	    };
	});
	 
	</script>
</body>
</html>