﻿<!DOCTYPE html>
<html lang="en" ng-app="goBeacon">
<head>
	<meta charset="UTF-8">
	<title>Flagged Table Template</title>
	<link rel="stylesheet" href="./bower_components/angular-material/angular-material.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/robo_bold_macroman.css">
</head>
<body ng-controller="sceneControl" ng-keydown="down($event)" class="background-graph-paper background">
 <input type="text" id="table-no" style="" maxlength="5" onblur="this.focus()" autofocus>
    <div id="trace"></div>
 	<svg-canvas></svg-canvas>

	<!-- <md-grid-list id="flagged-list" md-cols="4" md-gutter="0" md-row-height="4:3" class="ng-hide">
	  <md-grid-tile class="rms-palette-orange"><div>1-1 </div><div class="flag">1</div></md-grid-tile>
	  <md-grid-tile class="rms-palette-gold"><div>2-2</div><div class="flag">4</div></md-grid-tile>
	</md-grid-list> -->
    
	<md-grid-list id="flagged-list" md-cols="4" md-gutter="0" md-row-height="4:4" class="ng-hide">
	  <md-grid-tile class="rms-palette-orange {{flagged.flagColor}}" ng-class="" ng-repeat="flagged in flaggedSeats">
	  	<div class="tableNo">{{flagged.tableNo}}</div><div class="flagNo">{{flagged.flagNo}}</div>
	  </md-grid-tile>
	</md-grid-list>

	<!-- using bower package manager to manage, install and update -->
	<script src="./bower_components/jquery/dist/jquery.min.js"></script><!-- 1.11.1 -->
	<script src="./bower_components/snap.svg/dist/snap.svg-min.js"></script><!-- 0.4.0 -->
	<script src="./bower_components/angular/angular.min.js"></script><!-- 1.3.15 -->

	<!-- Angular Material Dependencies -->
	<script src="./bower_components/angular-animate/angular-animate.min.js"></script>
	<script src="./bower_components/angular-aria/angular-aria.min.js"></script>
	<script src="./bower_components/angular-material/angular-material.min.js"></script>
    <script src="js/vendor/socket.io.js"></script>

	<script>
	jQuery(document).ready(function($) {
		$("input#table-no").keydown(function(event){
		    var ew = event.which;
		    /* 
		    	0 - 9 => 48 - 57, 96 - 105 (keypad)
		    	delete = 0
		    	backspace = 8
		    	110 => .
		    	116 => F5
		    	122 => F11
			*/
			
		    console.log(ew);
		    //alert(ew);
		    //$('#trace').html(ew);
		    if(96 <= ew && ew <= 105 || 48 <= ew && ew <= 57 || ew == 8 || ew == 0 || ew == 46 || ew === 27 || ew === 13 || ew === 116 || ew === 122 || ew === 107 || ew === 109 || ew === 110 || ew === 190 ) { // if skip 0 and 8, Old IE and FF doesnt work but Chrome still work
		    	// console.log(ew);
		    	

		        return true;
		    } else {
		    	// alert(ew)
		    }


		    return false;
		});

	});
	var app = angular.module('goBeacon', ['ngMaterial']);

	app.config(function($mdThemingProvider) {
	    $mdThemingProvider.theme('default')
	      .primaryPalette('pink')
	      .accentPalette('orange');
	  });

	app.directive('svgCanvas', function ($compile, $http, $animate) {
		return {
		    restrict: 'E',
		    // template: '<svg id="svg-canvas" class="" style="visibility: visible; width: 100%; height: 100%;"></svg>',
		    template: '<div class="stretchy-wrapper"><svg id="svg-canvas" style="visibility: visible;"></svg></div>',
		    // templateUrl: 'testtmpl.html',
		    link: function (scope, element, attrs) {
		    	var svgScene = Snap("#svg-canvas");
		    	var sceneHeight = 1080;
		    	svgScene.attr({
		    	    "viewBox": "0 0 1920 " + sceneHeight // 4:3
		    	});
		    	// add a reference rect
		    	svgScene.prepend(svgScene.rect(0, 0, 1920, sceneHeight).attr({ id: "work-canvas", fill: "transparent" }));

		    	Snap.load("floorplan.svg", function (f) {
		    	    // svgScene.append( f.selectAll( "g#bottomGroup" ) );
		    	    // console.log(f.selectAll());

		    	    svgScene.append(svgScene.group(f.selectAll("g#floorplan")).attr({
                            "id": "floorplan"
                        })
		    	    );

		    	    this.workArea = {
		    	        w: svgScene.select("#work-canvas").getBBox().w,
		    	        h: svgScene.select("#work-canvas").getBBox().h
		    	    };

		    	    this.layoutArea = {
		    	        w: svgScene.select("#floorplan").getBBox().w,
		    	        h: svgScene.select("#floorplan").getBBox().h
		    	    };

		    	    var offset = {
		    	        x: (this.workArea.w - this.layoutArea.w) / 2,
		    	        y: 0
		    	    };

		    	    console.log("workArea.w " + this.workArea.w);
		    	    console.log("layoutArea.w " + this.layoutArea.w);

		    	    eleMatrix = new Snap.Matrix();
		    	    eleMatrix.translate(offset.x, offset.y);
		    	    svgScene.select("#floorplan").transform(eleMatrix);
		    	    
		    	}) // snap.load
		    }
		}
	});

	app.controller('sceneControl',['$scope', 'SocketFactory', function ($scope, SocketFactory) {
      $scope.flaggedSeats = [];
      $scope.addFlag = function (tableNo, flagNo, flagColor) {
          $scope.flaggedSeats.push({
              tableNo: tableNo,
              flagNo: flagNo,
			  flagColor: flagColor
          });

          // console.log($scope.flaggedSeats);
      };

      $scope.removeFlag = function ( seatNo ) {
      	  var findIdx = -1;
      	// find flag no to remove
      		console.log($scope.flaggedSeats.length);
      		for(var i=0; i<$scope.flaggedSeats.length;i++){
      			var fs = $scope.flaggedSeats[i];
      			if(fs.tableNo == seatNo){
      				findIdx = i;
      				break;
      			}
      		}
          // $scope.flaggedSeats.foreach( function( element, index, array ) {
          // 		element.tableNo = seatNo;
          // 		findIdx = index;
          // 		return;
          // });
		  if(findIdx >=0){
          $scope.flaggedSeats.splice( findIdx, 1 );}
		 // for( var key in $scope.flaggedSeats ) {
		 // 	$scope.flaggedSeats
		 // }
      };

      SocketFactory.on('setSeatFlag', function (data) {
        console.log('socket connected: ' + data);

        // dirty tricks, table no stored in array to match flag ID name
        var flagged = {};            
        flagged[1.1] = "flagE";
        flagged[2.9] = "flagD";
        flagged[3.5] = "flagC";
        flagged[3.4] = "flagA";
        flagged[3.11] = "flagB";

        $scope.flaggedSeat = JSON.parse(data);
        

        // add item to list
        if( $scope.flaggedSeat.f != 0) {
        	angular.element("#" + flagged[$scope.flaggedSeat.t]).show();	
			var c= 'rms-palette-orange';
			if( $scope.flaggedSeat.t == '1.1' ){
				c='rms-palette-grass';
			}
			if( $scope.flaggedSeat.t == '2.9' ){
				c='rms-palette-gold';
			}
			if( $scope.flaggedSeat.t == '3.5' ){
				c='rms-palette-sky';
			}
			if( $scope.flaggedSeat.t == '3.4' ){
				c='rms-palette-navyy';
			}
			
			//	$('.flagNo').parent().parent().addClass();
        	$scope.addFlag($scope.flaggedSeat.t, $scope.flaggedSeat.f,c);
        	angular.element("#" + flagged[$scope.flaggedSeat.t] + ' text').text( $scope.flaggedSeat.f );
        }
        else {
        	console.log('remove flag');
        	angular.element("#" + flagged[$scope.flaggedSeat.t]).hide();
        	$scope.removeFlag( $scope.flaggedSeat.t );
        } 
	  });

      function arrays_equal(a,b) { return !(a<b || b<a); }

      $scope.keyBuffer = [];
      $scope.down = function(e) {
      	$scope.keyBuffer.push(e.keyCode);
        // console.log($scope.keyBuffer);


        $scope.trigger_svg = ["+", 13];
        $scope.trigger_list = ["-", 13];
        if (arrays_equal($scope.trigger_svg, $scope.keyBuffer)) {
            //alert(angular.element("#flagged-list").length)
           // alert(angular.element("svg-canvas").length)
	        // alert('thats it!');
	        // console.log('display floorplan');
	       
	    }

        if (arrays_equal($scope.trigger_list, $scope.keyBuffer)) {
	        // alert('thats it!');
	        // console.log('display list');
	        
	    }
	    // console.log(e.keyCode);
	    

        if (e.keyCode === 13) {
            //alert(1);
	    	// console.log("pressed enter " + $("input#table-no").val());
	    	if( $("input#table-no").val() != '+' && $("input#table-no").val() != '-') {
	    		console.log("emit " + $("input#table-no").val());

		    	SocketFactory.emit('keypress', $("input#table-no").val(), function (a) {
		    		// console.log($("input#table-no").val());
		    	});
	    	}

	    	if ($("input#table-no").val() === '+') {
	    	    angular.element("#flagged-list").addClass('ng-hide');
	    	    angular.element("svg-canvas").removeClass('ng-hide');
	    	}
	    	if ($("input#table-no").val() === '-') {
	    	    angular.element("#flagged-list").removeClass('ng-hide');
	    	    angular.element("svg-canvas").addClass('ng-hide');
	    	}
	    }

        // 27 escape, 13 return/enter, - 109, + 107, * 106, / 111, . 190
        // reset when esc or enter is pressed
        if (e.keyCode === 27 || e.keyCode === 13) {
            //alert("reset key")
        	$scope.keyBuffer = [];
        	$("input#table-no").val('');
        }
      };
    }]);

	app.factory('SocketFactory', function ($rootScope) {
	    var socketConnection = 'http://' + location.hostname + ':5000';
	    var socket = io.connect(socketConnection);
	    io.Manager(socketConnection, { reconnect: true });
	    var asyncAngularify = function (socket, callback) {
	        return callback ? function () {
	            var args = arguments;
	            $timeout(function () {
	                callback.apply(socket, args);
	            }, 0);
	        } : angular.noop;
	    };
	    return {
	        on: function (eventName, callback) {
	            socket.on(eventName, function () {
	                var args = arguments;
	                $rootScope.$apply(function () {
	                    callback.apply(socket, args);
	                });
	            });
	        },
	        emit: function (eventName, data, callback) {
	            var lastIndex = arguments.length - 1;
	            var callback = arguments[lastIndex];
	            if (typeof callback == 'function') {
	                callback = asyncAngularify(socket, callback);
	                arguments[lastIndex] = callback;
	            }
	            return socket.emit.apply(socket, arguments);
	        }
	    };
	});
	 
	</script>
</body>
</html>