﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>RARe Food Control</title>

    <!-- Bootstrap core CSS -->
    <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="./bower_components/bootstrap/dist/js/jquery-ui.min.css" rel="stylesheet">
    <link href="./bower_components/bootstrap/dist/js/jquery-impromptu.min.css" rel="stylesheet">-->
    <link rel=stylesheet href="./css/material-iconfont.css">
    <style>
        hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        /*#main-scene {
            margin-bottom: 210px;
        }*/

        .navbar-fixed-top, .navbar-fixed-bottom {
            border-width: 0;
        }

        .overlay-menu .overlay-option-tab {
            margin: 0;
        }

        .overlay-menu .nav-tabs {
            text-align: center;
        }

        .overlay-menu .overlay-option-tab, .image-list, .preset-image-list {
            list-style-type: none;
            padding: 0;
        }

        .overlay-menu .overlay-option-tab, .image-list, .preset-image-list {
            list-style-type: none;
            padding: 0;
        }

        .overlay-menu {
            max-height: 50%;
            text-align: center;
            z-index: 1500;
        }

            .overlay-menu .nav-tabs li {
                float: none;
            }

            .overlay-menu .overlay-option-tab li {
                display: inline-block;
                vertical-align: bottom;
            }

            .overlay-menu .overlay-content {
                position: relative;
                z-index: 100;
            }

            .overlay-menu .panel-list {
                overflow-y: auto;
                height: 160px;
                background: black;
                color: white;
                padding: 25px;
                /*display: none;*/
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity_ie)";
                filter: alpha(opacity=80);
                -moz-opacity: 0.8;
                -khtml-opacity: 0.8;
                opacity: 0.8;
            }

                .overlay-menu .panel-list .panel-btn {
                    height: 110px;
                }
                .overlay-menu .panel-list .panel {
                    height: 110px;
                    width: 150px;
                    margin: 0 5px;
                }

            .item-list {
                overflow-y: auto;
                height: 100%;
            }
    </style>
</head>
<body ng-app="fdm" ng-controller="FDMController">
    <div id="tool-bar" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">RARe Food Control</span>
            </div>
            <div class="nav navbar-nav navbar-left">
                <p id="panel-name" class="navbar-text">{{selectedPanel}}</p>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" onclick="location.reload(); hideNavbar('#bs-example-navbar-collapse-1')"><i class="md-icon">refresh</i></a></li>
                    <li><a href="#" id="fullscreen" onclick="toggleFullScreen(); hideNavbar('#bs-example-navbar-collapse-1')"><i class="md-icon">fullscreen</i></a></li>
                    <li><a href="#" ng-click="save();"><i class="md-icon">save</i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="main-scene">
        <div class="Center-Wise is-Left Left-Content Absolute-Center Main-Content">
            <div class="container-fluid">
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="changeTime('07:00')">早</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="changeTime('12:00')">午</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="changeTime('15:00')">茶</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="changeTime('19:00')">晚</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" ng-click="changeTime('');reset()">清除</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-default btn-block" ng-click="deployMenu()">Reload eMenu</button>
                    </div>
                </div>
            </div>
            <hr />
            <div class="container-fluid" role="tabpanel">
                <div class="row">
                    <ul class="nav nav-pills nav-stacked col-xs-3" role="tablist">
                        <li role="presentation" ng-class="{active:$index == 0}" ng-repeat="section in food.category">
                            <a href="#tab{{$index}}" aria-controls="home" role="tab" data-toggle="tab">{{section.name1}}</a>
                        </li>
                    </ul>
                    <div class="col-xs-9 item-list">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane" ng-class="{active:$index == 0}" id="tab{{$index}}" ng-repeat="section in food.category">
                                <div class="list-group">
                                    <div class="row list-group-item " ng-repeat="item in section.items">
                                        <div class="col-md-6">
                                            <h4>
                                                {{item.name1}}
                                                <span class="badge stock" ng-if="item.stock != undefined && item.stock > 0 && item.stock != 999">Q: {{item.stock}}</span>
                                                <span class="badge" ng-if="item.stock != undefined && (item.stock < 0 || item.stock === 0)">暫停</span>
                                                <span class="badge" ng-if="item.stock != undefined && (item.stock === 999)">準備中</span>
                                            </h4>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <button class="btn btn-default btn-lg btn-block" ng-class="{'btn-danger':(item.stock === 999), 'disabled':(item.stock === 999)}" ng-click="foodControl('prepare', item)">
                                                        準備中
                                                    </button>
                                                </div>
                                                <div class="col-xs-4">
                                                    <button class="btn btn-default btn-lg btn-block" ng-class="{'btn-danger':(item.stock < 0 || item.stock === 0) && item.stock != 999, 'disabled':(item.stock < 0 || item.stock === 0) && item.stock != -99}" ng-click="foodControl('soldout', item)">
                                                        暫停
                                                    </button>
                                                </div>
                                                <div class="col-xs-4">
                                                    <button class="btn btn-lg btn-block btn-primary" ng-class="{'disabled':item.stock == undefined || item.stock == ''}" ng-click="foodControl('clear', item)">
                                                        清除
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-bottom overlay-menu" style="display: none;">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs overlay-option-tab text-center" role="tablist">
            <li role="presentation" class="panel-preview active">
                <a class="btn-panel-image-preview btn btn-default" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample"><i class="glyphicon glyphicon-picture"></i> Panels</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content overlay-content collapse" id="collapseExample">
            <div class="panel-list">
                <div class="panel pull-left" ng-repeat="(key, value) in menuLayoutList">
                    <button type="button" class="btn btn-default btn-block btn-lg panel-btn">Panel {{key}}</button>
                </div>
            </div>
        </div>
    </div>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script><!-- 1.11.1 -->
    <script src="./bower_components/jquery-ui/dist/js/jquery-ui.min.js"></script><!-- 1.11.1 -->
    <script src="./bower_components/fittext/jquery.fittext.js"></script>
    <script src="./bower_components/bootstrap/dist/js/jquery-ui-touch-punch.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script><!-- 1.3.15 -->
    <script src="./bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--<script src="dist/js/jquery-impromptu.min.js"></script>-->
    <script src="./js/vendor/socket.js"></script>
    <script src="./js/vendor/socket.io-1.3.5.js"></script>

    <script src="./js/admin/settings.js"></script><!-- share settings with core(demo3) -->
    <script src="./js/admin/soldout.js"></script>

    <script type="text/javascript">
        function toggleFullScreen() {
          if ((document.fullScreenElement && document.fullScreenElement !== null) ||    // alternative standard method
              (!document.mozFullScreen && !document.webkitIsFullScreen)) {               // current working methods
            if (document.documentElement.requestFullScreen) {
              document.documentElement.requestFullScreen();
            } else if (document.documentElement.mozRequestFullScreen) {
              document.documentElement.mozRequestFullScreen();
            } else if (document.documentElement.webkitRequestFullScreen) {
              document.documentElement.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
            }
          } else {
            if (document.cancelFullScreen) {
              document.cancelFullScreen();
            } else if (document.mozCancelFullScreen) {
              document.mozCancelFullScreen();
            } else if (document.webkitCancelFullScreen) {
              document.webkitCancelFullScreen();
            }
          }
        }
        window.addEventListener('storage', function (event) {
            console.log(event.key, event.newValue);
            if (event.key === "second-display") {
                console.log(event.key, event.newValue);
            }
        });
        function setLocalStorage() {
            var random = Math.random();
            localStorage.setItem('logged', 'second-display' + random);
        }
    </script>
</body>
</html>
