﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>RARe Food Control</title>
    
    <!--<link rel="stylesheet" href="./bower_components/jquery.mobile/jquery.mobile-1.4.5.min.css">-->
    <!-- Bootstrap core CSS -->
    <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="./bower_components/bootstrap/dist/js/jquery-ui.min.css" rel="stylesheet">
    <link href="./bower_components/bootstrap/dist/js/jquery-impromptu.min.css" rel="stylesheet">-->
    <link rel=stylesheet href="./css/material-iconfont.css">
    <link rel="stylesheet" href="./bower_components/materialize-v0.97.3/css/materialize.css"><!-- 0.97.3 -->
    <!--<link rel=stylesheet href="./css/version5.css">-->
    <link rel=stylesheet href="./css/admin5.css">
    <link rel=stylesheet href="./css/menuLayoutBuilder.css">
    <link rel=stylesheet href="./css/font.css">
    <style>
        hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        a i, .btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
            font-size: 20px;
            line-height: inherit;
        }

        #tool-bar{
            z-index: 200;
        }

        #panel-name {
            font-size: 40px;
            line-height: 40px;
            margin: 10px 15px;
        }

        #main-scene {
            z-index: 100;
        }

        .main-canvas {
            position: relative;
            margin: 0 auto;
        }
        
        .navbar-fixed-top, .navbar-fixed-bottom {
            border-width: 0;
        }

        .overlay-menu .overlay-option-tab {
            margin: 0;
        }

        .overlay-menu .nav-tabs {
            text-align: center;
        }

        .overlay-menu .overlay-option-tab, .image-list, .preset-image-list {
            list-style-type: none;
            padding: 0;
        }

        .overlay-menu .overlay-option-tab, .image-list, .preset-image-list {
            list-style-type: none;
            padding: 0;
        }

        .overlay-menu {
            max-height: 50%;
            text-align: center;
            z-index: 1500;
        }

            .overlay-menu .nav-tabs li {
                float: none;
            }

            .overlay-menu .overlay-option-tab li {
                display: inline-block;
                vertical-align: bottom;
            }

            .overlay-menu .overlay-content {
                position: relative;
                z-index: 100;
            }

            .overlay-menu .panel-list {
                overflow-y: auto;
                height: 160px;
                background: black;
                color: white;
                padding: 25px;
                /*display: none;*/
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity_ie)";
                filter: alpha(opacity=80);
                -moz-opacity: 0.8;
                -khtml-opacity: 0.8;
                opacity: 0.8;
            }

                .overlay-menu .panel-list .panel-btn {
                    height: 110px;
                }
                .overlay-menu .panel-list .panel {
                    height: 110px;
                    width: 150px;
                    margin: 0 5px;
                }

            .item-list {
                overflow-y: auto;
                height: 100%;
            }
    </style>
</head>
<body ng-app="fdm" ng-controller="FDMController">
    <div id="tool-bar" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">RARe Food Control</span>
            </div>
            <div class="nav navbar-nav navbar-left">
                <p id="panel-name" class="navbar-text">{{selectedPanel}}</p>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" ng-click="downloadCloudContent()"><i class="md-icon">cloud_download</i></a></li>
                    <li><a href="#" ng-click="reload()"><i class="md-icon">refresh</i></a></li>
                    <li><a href="#" id="fullscreen" onclick="toggleFullScreen(); hideNavbar('#bs-example-navbar-collapse-1')"><i class="md-icon">fullscreen</i></a></li>
                    <li><a href="#" ng-click="save()"><i class="md-icon">save</i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="main-scene">
        <div class="Center-Wise is-Left Left-Content Absolute-Center Main-Content">
            <div >
                <div class="main-view-port">
                    <div class="main-canvas">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom overlay-menu">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs overlay-option-tab text-center" role="tablist">
            <li role="presentation" class="panel-preview active">
                <a class="btn-panel-image-preview" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample"><i class="glyphicon glyphicon-picture"></i> Panels</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content overlay-content collapse" id="collapseExample">
            <div class="panel-list">
                <div class="panel pull-left" ng-repeat="(key, value) in menuLayoutList">
                    <button type="button" class="btn btn-default btn-block btn-lg panel-btn blue" ng-class="{'green': selectedPanel == key}" ng-click="buildMenuLayout(key, value);">{{key}}</button>
                </div>
            </div>
        </div>
    </div>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script><!-- 1.11.1 -->
    <script src="./bower_components/jquery.mobile/jquery.mobile-1.4.5.min.js"></script>
    <script src="./bower_components/jquery-ui/dist/js/jquery-ui.min.js"></script><!-- 1.11.1 -->
    <script src="./bower_components/fittext/jquery.fittext.js"></script>
    <script src="./bower_components/bootstrap/dist/js/jquery-ui-touch-punch.min.js"></script>
    <script src="./bower_components/angular/angular.min.js"></script><!-- 1.3.15 -->
    <script src="./bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="./bower_components/materialize-v0.97.3/js/materialize.js"></script>
    <script src="./bower_components/select2/select2.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!--<script src="dist/js/jquery-impromptu.min.js"></script>-->

    <script src="./js/vendor/socket.js"></script>
    <script src="./js/vendor/socket.io-1.3.5.js"></script>
    <script src="./js/vendor/jquery.lazyload.min.js"></script>

    <script src="./js/admin/settings.js"></script><!-- share settings with core(demo3) -->
    <script src="./js/admin/soldout2.js"></script>
    <script src="./js/admin/menuLayoutBuilder.js"></script>
    <script>
    $(document).on('mobileinit', function () {
        $.mobile.ignoreContentEnabled = true;
    });
    </script>
</body>
</html>
