@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Roboto:100,300);
@import "compass/utilities/general/clearfix";

$spacing  : 3px;
$size     : 74px;
$padding: 15px;
$duration : 0;
// $duration : 0.35s;
$ease-out : cubic-bezier(0.25, 0.8, 0.25, 1);
$ease-in  : cubic-bezier(0.55, 0, 0.55, 0.2);
$colors   : (
  darkPrimary: #303F9F,
  lightPrimary: #C5CAE9,
  primary: #3F51B5,
  accent: #8BC34A,
  primaryText: #212121,
  secondaryText: #727272,
  divider: #B6B6B6,
  text: #FFFFFF
);

md-dialog.calendar {
  // height: 100%; // by calculation and class adjustment

  md-dialog-content {
    height: 100%;
    overflow: hidden;

    .calendar-container {
      padding: 15px !important; // for inside md-dialog
      width: ($spacing + $size) * 7 + $padding * 2;
      height: 510.5px;
      overflow: hidden;

      $property : width, height;
      $duration : 0.2s;
      @include single-transition($property, $duration);

      &.extend-w {
        $duration : 0.25s;
        @include single-transition($property, $duration);
        // $time: 0.15s;
        // -webkit-transition: width $time; // make it seems softer
        // transition: width $time; // make it seems softer
        width: 751px;
      }

      &.extend-h {
        height: 516.5px + 74px;
      }

      calendar, .date-range {
        float: left;
      }

      .date-range { 
        margin-top: 57px;
        margin-left: 6px; 
        opacity: 0;

        &.show {
          opacity: 1;
          $property : opacity;
          $duration : 0.9s;
          @include single-transition($property, $duration);
        }

        .date {
          height: 50px;
          width: 170px;
          margin-bottom: 8px;
          font-size: 18px;
          font-weight: bold;
          padding: 15px;

          &.from {
            background: $food_brown;
            color: white;
          }

          &.to {
            background: $food_light_brown;
          }
        }
      }
    }
  }
}

// for decoration purpose: eg. box shadow, bg color
.calendar-wrapper {
  @include box-shadow(0px 0px 5px #999);
  background: white;

  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0% auto;

  padding: $size * 0.25;
  width: 576px;
  height: 600px;
}

// the original version is put in body, putting in a container, make it for flexible
.calendar-container {
  margin: 0% auto;
  // width: ($spacing + $size) * 7;

  font: 300 16px/20px Roboto, Lato, sans-serif;
  padding: 0;
  margin: 0;

  > header {
    background: map-get($colors, darkPrimary);
    padding: $size * 0.5;

    a {
      &:focus {
        outline: none;
      }
    }
  }

  h1.small {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    text-transform: uppercase;
    text-indent: 5px;
    color: tint(map-get($colors, accent), 20%);
  }
  h2 {
    font-size: 45px;
    line-height: 48px;
    margin: 0;
    color: map-get($colors, text);
  }
  p {
    margin: 2em 0;
  }
  .light {
    font-weight: 100;
  }
  calendar {
    @include clearfix();
    clear: left;
    margin: $spacing 0;
    display: block;
    > header {
      color: map-get($colors, primaryText);
      font-size: 32px;
      padding: 0;
      text-align: center;
      margin: 0 $spacing $spacing 0;
      margin-right: $size * 1.25 + $spacing * 2;
      margin-left: $size * 1.25 + $spacing;
      margin-bottom: $size * 0.25;
      border-radius: 2px;
      font-weight: 100;
      position: relative;
      line-height: $size * 0.5;
      height: $size * 0.5;
      a {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        height: $size * 0.5;
        width: $size * 0.5;
        user-select: none;
        background: map-get($colors, text);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.125),
                    0 2px 5px rgba(0, 0, 0, 0.125);
        transition: 0.35s ease;
        border-radius: 50%;
        &.disabled {
          cursor: default;
        }
        &:hover {
          background: shade(map-get($colors, text), 2%);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.125),
                      0 5px 8px rgba(0, 0, 0, 0.125);
        }
        &:before {
          content: '';
          width: 0;
          height: 0;
          border-width: 9px;
          border-style: solid;
          border-color: transparent map-get($colors, accent);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
        }
      }
      .back {
        left: 0;
        &:before {
          border-left: none;
          margin-left: -2px;
        }
      }
      .forward {
        right: 0;
        &:before {
          border-right: none;
          margin-left: 2px;
        }
      }
    }
  }

  .day-header {
    @include clearfix();
    .day {
      float: left;
      line-height: $size * 0.5;
      height: $size * 0.5;
      display: block;
      width: $size;
      margin: 0 $spacing $spacing 0;
      background: map-get($colors, accent);
      text-align: center;
      color: map-get($colors, text);
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 2px;
    }
  }

  .day-content {
    position: relative;
    /* height: $size * 7; */
    height: ($size + $spacing ) * 5;

    &.row6 {
      height: ($size + $spacing ) * 6;
    }
  }

  day {
    background: map-get($colors, primary);
    color: map-get($colors, text);
    width: $size;
    height: $size;
    display: block;
    float: left;
    margin: 0 $spacing $spacing 0;
    text-align: center;
    line-height: $size;
    font-size: 38px;
    font-weight: 100;
    border-radius: 2px;
    transition: $duration $ease-in;
    position: absolute;
    @for $row from 1 to 7 {
      &[data-row='#{$row}'] { top: ($size + $spacing) * $row; }
    }
    @for $col from 1 to 7 {
      &[data-col='#{$col}'] { left: ($size + $spacing) * $col; }
    }
    &[data-col='0'], &[data-col='6'] {
      background: tint(map-get($colors, primary), 30%);
    }
    &.inactive {
      background: map-get($colors, divider);
      &[data-col='0'], &[data-col='6'] {
        background: tint(map-get($colors, divider), 50%);
      }
    }
    @for $col from 0 to 7 {
      @for $row from 0 to 7 {
        &[data-col='#{$col}'][data-row='#{$row}'] {
          $rCol: 7 - $col;
          $dist: sqrt($rCol * $rCol + $row * $row);
          $max:  sqrt(6 * 6 + 4 * 4);
          $perc: $dist / $max;
          $delay: $perc * 0.5s;
          &.ng-enter { transition-delay: $delay + $duration + 0.05s; }
          &.ng-leave { transition-delay: $delay; }
          @at-root .back & {
            $dist: sqrt($col * $col + $row * $row);
            $perc: $dist / $max;
            $delay: $perc * 0.5s;
            &.ng-enter { transition-delay: $delay + $duration + 0.05s; }
            &.ng-leave { transition-delay: $delay; }
          }
        }
      }
    }
    &.ng-enter {
      transform: scale(0);
      transition: $duration $ease-out;
      &.ng-enter-active {
        transform: scale(1);
      }
    }
    &.ng-leave {
      transition: $duration $ease-in;
      transform: scale(1);
      &.ng-leave-active {
        transform: scale(0);
      }
    }
  }

  .date-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 47px;
    right: 50px;
    overflow: hidden;
    span {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: 0;
      // transition: 0.65s ease-in-out;
      transform: translateX(0);
      &.ng-enter {
        transform: translateX(100%);
        opacity: 0;
        @at-root .back & { transform: translateX(-100%); }
        &.ng-enter-active {
          transform: translateX(0);
          opacity: 1;
        }
      }
      &.ng-leave {
        transform: translateX(0);
        opacity: 1;
        &.ng-leave-active {
          transform: translateX(-100%);
          opacity: 0;
          @at-root .back & { transform: translateX(100%); }
        }
      }
    }
  }
}
