﻿@charset "utf-8";
// theme color and common settings

// disable text selection
* {
  @include user-select(none);
}

// food theme color in kuler
$food_green: #528540;
$food_grass: #CDDE47;
$food_brown: #DE7047;
$food_light_brown: #FFDE8D;
$food_blue: #C2DCF2;

.set-food-blue {
  background: $food_blue !important;
}

.set-food-green {
  background: $food_green !important;
}

.set-food-grass {
  background: $food_grass !important;
}

.set-food-brown {
  background: $food_brown !important;
}

.set-food-light-brown {
  background: $food_light_brown !important;
}

// helper 
.inline-block {
  display: inline-block;
}

.background-wood {
  background: url(../assets/svg/wood.svg) repeat;
}

.background-graph-paper {
  background: url(../assets/svg/Graph-Paper.svg) repeat;
}

$palette-orange: #FFA500;
$palette-gold: #FFD700;
$palette-grass: #008000;
$palette-sky: #E0FFFF;
$palette-lemon: #FFFACD;
$palette-jade: #00FA9A;
$palette-navy: #000080;

.orange {
  color: $palette-orange;
}

.rms-palette-orange {
  background-color: $palette-orange !important;
  color: #000080 !important;
}
.rms-palette-gold {
  background-color: $palette-gold !important;
  color: black !important;
}
.rms-palette-grass {
  background-color: $palette-grass !important;
  color: #FFD700 !important;

  .suspend {
    color: white;
  }
}
.rms-palette-sky {
  background-color: $palette-sky !important;
  color: #00008B !important;
}
.rms-palette-lemon {
  background-color: $palette-lemon !important;
  color: black !important;
}
.rms-palette-jade {
  background-color: $palette-jade !important;
  color: black !important;
}
.rms-palette-navy {
  background-color: $palette-navy !important;
  color: #FFF !important;
}

.color-box {
  &.rms-palette-orange {
    color: $palette-orange !important;
  }
  &.rms-palette-gold {
    color: $palette-gold !important;
  }
  &.rms-palette-grass {
    color: $palette-grass !important;
  }
  &.rms-palette-sky {
    color: $palette-sky !important;
  }
  &.rms-palette-lemon {
    color: $palette-lemon !important;
  }
  &.rms-palette-jade {
    color: $palette-jade !important;
  }
  &.rms-palette-navy {
    color: $palette-navy !important;
  }
}

$status-times-up-fill: rgb(187, 26, 26);
$status-times-up-text: #E9FF00;
$status-nearly-done-fill: #FFF98D;
$status-nearly-done-text: black;
$status-nearly-done-reminder-fill: #7DE6A3;
$status-nearly-reminder-text: black;
$status-using: #0D752D;
$status-using-text: white;
$status-available: #2B2B8C;
$status-available-status: white;
$status-input: #EC155A;
$status-input-status: white;
$status-printed-bill: #F16523;
$status-printed-bill-status: white;
$status-billed: #8D2289;
$status-billed-status: white;
$status-served: #702D10;
$status-served-status: white;
$status-lock-text:white;
$status-lock-fill:black;

.table-list {
  .btn-table {
    &.md-button.md-raised {
     background: $status-available; // also for null
     color: white;
    }
  }

  &.materialize-keypad, &.md-custom-grid {
    .btn-table {
      &.md-button.md-grid-button {
       text-align: center;
       color: white;
      }

      &.md-button.md-grid-button.normal {
        color: black;
      }
    }
  }

  // for table button in table list/ in the format of md-button
  .available {
    &.md-button.md-raised, &.md-button.md-grid-button {
     background: $status-available;
    }
  }

  .inputOrder {
    &.md-button.md-raised, &.md-button.md-grid-button {
     background: $status-input;
    }
  }

  .occupied {
    // @extend .table-list .using;
  }

  .using {
    &.md-button.md-raised, &.md-button.md-grid-button {
     background: $status-using;
    }
  }

  .lock{
      &.md-button.md-raised, &.md-button.md-grid-button {
     background-color: $status-lock-fill !important;
     span{
         color:white;
     }
    }
  }

  .printedBill, .printed_bill {
    &.md-button.md-raised, &.md-button.md-grid-button {
     background: $status-printed-bill;
    }
  }

  .billed {
    &.md-button.md-raised, &.md-button.md-grid-button {
     background: $status-billed;
    }
  }

  .nearlyDone, .nearly_done {
    &.md-button.md-raised, &.md-button.md-grid-button {
     background: $status-nearly-done-text;
    }
  }

  .nearlyDoneReminder, .nearly_done_reminder {
    &.md-button.md-raised, &.md-button.md-grid-button {
     background: $status-nearly-done-reminder-fill;
    }
  }

  .nearlyDone, .nearly_done {
    &.md-button.md-raised, &.md-button.md-grid-button {
     background: $status-nearly-done-fill;
    }
  }

  .timesUp, .times_up {
    &.md-button.md-raised, &.md-button.md-grid-button {
     background: $status-times-up-fill;
    }
  }
}

// generic legend
.available {
  // for legend icon
  color: $status-available; 
}

.lock {
    color: $status-lock-fill !important;
}

.inputOrder {
  // for legend icon
  color: $status-input;
}

.occupied {
  @extend .using;
}

.using {
  color: $status-using;
}

.printedBill, .printed_bill {
  color: $status-printed-bill;
}

.billed {
  color: $status-billed;
}

.served {
  color: $status-served;
}

.nearlyDone, .nearly_done {
  // for legend icon
  color: $status-nearly-done-text; 

  // for legend bar
  i {
    color: $status-nearly-done-fill !important;
  }
}

.nearlyDoneReminder, .nearly_done_reminder {
  // for legend icon
  color: $status-nearly-reminder-text;

  // for legend bar
  i {
    color: $status-nearly-done-reminder-fill !important;
  }
}

.nearlyDone, .nearly_done {
  // for legend icon
  color: $status-nearly-done-text;

  // for legend bar
  i {
    color: $status-nearly-done-fill !important;
  }
}

.timesUp, .times_up {
  color: $status-times-up-fill;
}

.table {
  &.available {
    text {
      // fill:
    }
    .shape {
      path, circle {
        fill: $status-available;
      }
    }
  }
  &.inputOrder {
    text {
      // fill:
    }
    .shape {
      path, circle {
        fill: $status-input;
      }
    }
  }
  &.occupied, &.using {
    text {
      // fill:
    }
    .shape {
      path, circle {
        fill: $status-using !important;
      }
    }
  }
  &.printedBill, &.printed_bill {
    text {
      // fill:
    }
    .shape {
      path, circle {
        fill: $status-printed-bill;
      }
    }
  }
  &.served {
    text {
      // fill:
    }
    .shape {
      path, circle {
        fill: $status-served;
      }
    }
  }
  &.billed {
    text {
      // fill:
    }
    .shape {
      path, circle {
        fill: $status-billed;
      }
    }
  }
  &.nearlyDoneReminder, &.nearly_done_reminder {
    text {
      fill: black;
    }
    .shape {
      path, circle {
        fill: $status-nearly-done-reminder-fill; // yellow
      }
    }
  }
  &.nearlyDone, &.nearly_done {
    text {
      fill: black;
    }
    .shape {
      path, circle {
        fill: $status-nearly-done-fill; // yellow
      }
    }
  }
  &.timesUp, &.times_up {
    text {
      fill: $status-times-up-text;
    }
    .shape {
      path, circle {
        fill: $status-times-up-fill; // rusty red
      }
    }
  }
  &.lock{
    text {
      fill: $status-lock-text;
    }
    .shape {
      path, circle {
        fill: $status-lock-fill !important; 
      }
    }

  }
}

.warn {
  color: red;
}

.strong {
  font-weight: bold;
}

.dp24 {
  width: 24px;
  height: 24px;
  line-height: 36px;

  &.solo {
    font-size: 24px !important;
  }
}

.dp30 {
  $size: 30px;
  font-size: $size; width: $size; height: $size;
}

.dp40 {
  $size: 40px;
  font-size: $size; width: $size; height: $size;
}


/* helper */
.dp45 {
  $size: 45px !important;
  font-size: $size; width: $size; height: $size;

  --iron-icon-height: 45px;
  --iron-icon-width: 45px;
}

.dp48 {
  $size: 48px;
  font-size: $size !important; width: $size; height: $size;

  &.solo {
    line-height: 54px;
  }
}

.dp56 {
  $size: 56px;
  font-size: $size !important; width: $size; height: $size;
}

.dp70 {
  $size: 70px;
  font-size: $size !important; width: $size; height: $size;

  &.solo {
    line-height: 78px;
  }
}

.dp80 {
  $size: 80px;
  font-size: $size !important; width: $size; height: $size;
}

.dp90 {
  $size: 90px;
  font-size: $size !important; width: $size; height: $size;
}

.ft25 {
  $size: 25px;
  font-size: $size !important;
}

.ft30 {
  $size: 30px;
  font-size: $size;
}



.color-box {
  width: 20px;
  height: 20px;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.invisible {
  visibility: hidden;
}



// table {
.data-table {
  // width: 100%;
  // width: calc(100% - 15px);
  table-layout: fixed;


  caption {
    text-align: center;
    background-color: white;
    font-weight: bold;
  }

  tr th {
    text-align: center;
    white-space: nowrap;
  }

  tr td, tr th {
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  &.style1 {
    background-color: white;

    tr {
      &.active, &:focus {
        background-color: yellow;
        color: blue;
        font-weight: bold;
      }
    }

    tr th {
      background-color: #999;
      color: white;

      a {
        color: white;

        &:hover {
          color: yellow;
          text-decoration: none;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  &.compact {
    tr th {
      padding: 5px;
    }

    tr td {
      padding: 0;
    }
  }

  // material element
  md-select {
    padding: 0;
  }

  .modified {
    input {
      outline: 1px solid red;
    }
  }

  $width-2char: 5.3em;
  $width-3char: 5.6em;
  $width-4char: 6.2em;
  $width-5char: 7.8em;
  $width-6char: 9.4em;
  $width-7char: 10.0em;
  $width-8char: 12.6em;
  .sort-order {width: $width-2char; }
  .sub-item-type {width: $width-5char;}
  .combo {width: $width-4char;}
  .qty {width: $width-2char;}
  .minoq {width: $width-4char;}
  .maxoq {width: $width-4char;}
  .free-price {width: $width-8char;}
  .max-price {width: $width-6char;}
  .detail-item {width: $width-4char;}
  .amount-to-main-item {width: $width-6char;}
  .name1 {width: $width-8char;}
  .name2 {width: $width-8char;}
  .amount {width: $width-2char;}
  .print-to {width: $width-3char;}
  .custom-kitchen-name {width: $width-6char;}
  .separate-print {width: $width-4char;}
  .changeable {width: $width-4char;}
  .category-display {width: $width-6char;}
  .code, .permission, .permission-item {
    text-align: center; 
  }
  
  .food-code {width: $width-5char;}
  .display {width: $width-4char;}
  .plu {width: $width-6char;}
  .price {width: $width-4char;}
  .point {width: $width-4char;}
  .color {width: 5em;}
  .kitchen-name {width: $width-4char;}
  .service-charge {width: $width-4char;}
  .discount-template {width: $width-6char;}
  .remark {width: $width-6char;}
}

.group-table {
  // width: 253px;

  // column:
  .group-code {
    width: 40%;
  }

  .group-name {
    width: 60%;
  }
}

.sub-item-table {
}

.food-table {
  width: 100%;

  table-layout: fixed;
}

md-sidenav {
  &.md-sidenav-left {
    overflow: visible;
  }
}
.side-menu {
  &, & ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
  }

  .parentActive {
    .md-button-toggle {
      background: rgb(255,214,0);
    }

    .menu-toggle-list {
      background: rgb(255,214,0);
    }
  }
}

.side-menu .md-button.active {
  color: #FF5722; /* deep-orange 500 */
}

.side-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.side-menu .menu-toggle-list .md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
}

.side-menu > li {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.md-button-toggle .md-toggle-icon.toggled {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}

.md-button-toggle.toggled {
  background-color: rgba(0, 0, 0, 0.02);
}

.side-menu .md-button-toggle .md-toggle-icon {
  margin: auto 0 auto auto;
  padding-top: 12px;
  width: 15px;
  float: right;
  transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out;
}

.menu-toggle-list.ng-hide {
  max-height: 0;
}

.side-menu .md-button {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

$toggle-time: 0.1s;
.menu-toggle-list {
  background: #fff;
  max-height: 1300px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: $toggle-time cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: $toggle-time cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: $toggle-time cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
}

.side-menu menu-toggle span{
  padding-top: 12px;
  padding-bottom: 12px;
}


// bootstrap override
.row-edgy {
  margin: 0 15px;
}

// for Polymer Paper Elements
:root {
  .big {
    --iron-icon-height: 32px;
    --iron-icon-width: 32px;
  }
}

// prevent flickering provided by Angular
 [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
   display: none !important;
 }
