$gutter-width: 1.5rem !default;
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;

.left-edge {
  padding-left: 0 !important;
}

.left-edge-margin {
  margin-left: 0px !important;
}

.right-edge {
  padding-right: 0 !important;
}

.right-edge-margin {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

$prefix: 10;
$num-cols: $prefix;
.row {
  // Clear floating children

  .col {
    // padding: 0 $gutter-width / 2;

    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      &.s#{$prefix}-#{$i} {
        width: $perc;
      }
      $i: $i + 1;
    }
    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      &.offset-s#{$prefix}-#{$i} {
        margin-left: $perc;
      }
      $i: $i + 1;
    }

    @media #{$medium-and-up} {

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.m#{$prefix}-#{$i} {
          width: $perc;
        }
        $i: $i + 1;
      }
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.offset-m#{$prefix}-#{$i} {
          margin-left: $perc;
        }
        $i: $i + 1;
      }

    }

    @media #{$large-and-up} {

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.l#{$prefix}-#{$i} {
          width: $perc;
        }
        $i: $i + 1;
      }
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.offset-l#{$prefix}-#{$i} {
          margin-left: $perc;
        }
        $i: $i + 1;
      }

    }

  }
}

$prefix: 8;
$num-cols: $prefix;
$perc-test: unquote((($num-cols / 1)) + "%");
.test {width: $perc-test}
.row {
  // Clear floating children

  .col {
    // padding: 0 $gutter-width / 2;

    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      &.s#{$prefix}-#{$i} {
        width: $perc;
      }
      $i: $i + 1;
    }
    $i: 1;
    @while $i <= $num-cols {
      $perc: unquote((100 / ($num-cols / $i)) + "%");
      &.offset-s#{$prefix}-#{$i} {
        margin-left: $perc;
      }
      $i: $i + 1;
    }

    @media #{$medium-and-up} {

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.m#{$prefix}-#{$i} {
          width: $perc;
        }
        $i: $i + 1;
      }
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.offset-m#{$prefix}-#{$i} {
          margin-left: $perc;
        }
        $i: $i + 1;
      }

    }

    @media #{$large-and-up} {

      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.l#{$prefix}-#{$i} {
          width: $perc;
        }
        $i: $i + 1;
      }
      $i: 1;
      @while $i <= $num-cols {
        $perc: unquote((100 / ($num-cols / $i)) + "%");
        &.offset-l#{$prefix}-#{$i} {
          margin-left: $perc;
        }
        $i: $i + 1;
      }

    }

  }
}