﻿@charset "utf-8";
@import "common-mixin";
@import "compass";
@import "common-placeholder";
@import "common-mixin"; // after any import
@import "cmn";
@import "color";

/*
z-index list:
md-toolbar(top): 2
#category-item .secondary: 2
md-toast: 2000
*/

/* body {
  font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
  font-size: 20px;
  overflow: hidden; // prevent toast flash the screen with scrollbar
  // font-family: noto_sansregular,'Helvetica Neue',sans-serif;
} */

// polymer experiment
// $font-name-heading:       'roboto-slab';
// $font-lang:               'en';
// @import '../bower_components/polymer-theme/sass/base';

// body {
//   font-family: $font-body;

//   /deep/ {
//     h1,
//     h2,
//     h3 {
//       font-family: $font-heading;
//     }
//   }
// }
// polymer end

// for custom jQuery plugin makeEditable
.hidden {
    display: none;
}


// require materialize CSS work together for material_select_color
.select-wrapper {
    li {
        padding: 2px;
    }

    .color-box {
        width: 100%;
        min-width: 40px;
        min-height: 40px;
    }
}

// Text inputs
$input-border-color: color("grey", "base") !default;
$input-disabled-color: color("grey", "darken-1") !default;
$input-disabled-border-color: rgba(0,0,0, .26) !default;
$secondary-color: color("teal", "lighten-1") !default;
$input-focus-color: $secondary-color !default;
$input-default-color: color("blue", "accent-4") !default;

.materialize {

    input[type=text],
    input[type=password],
    input[type=email],
    input[type=url],
    input[type=time],
    input[type=date],
    input[type=datetime-local],
    input[type=tel],
    input[type=number],
    input[type=search],
    textarea.materialize-textarea {
        // General Styles
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $input-border-color;
        border-radius: 0;
        outline: none;
        height: 3rem;
        width: 100%;
        font-size: 1rem;
        margin: 0 0 15px 0;
        padding: 0;
        box-shadow: none;
        @include box-sizing(content-box);
        transition: all .3s;
        color: $input-default-color; // default color when it is not disabled
        // Disabled input style
        &:disabled, &[readonly="readonly"] {
            color: $input-disabled-color;
            border-bottom: 1px dotted $input-disabled-border-color;
        }
        // Disabled label style
        &:disabled + label, &[readonly="readonly"] + label {
            color: $input-disabled-color;
        }
        // Focused input style
        &:focus:not([readonly]) {
            border-bottom: 1px solid $input-focus-color;
            box-shadow: 0 1px 0 0 $input-focus-color;
        }
        // Focused label style
        &:focus:not([readonly]) + label {
            color: $input-focus-color;
        }
        // Valid Input Style
        // &.valid,
        // &:focus.valid {
        //   border-bottom: 1px solid $input-success-color;
        //   box-shadow: 0 1px 0 0 $input-success-color;
        // }
        // // Custom Success Message
        // &.valid + label:after,
        // &:focus.valid + label:after {
        //   content: attr(data-success);
        //   color: $input-success-color;
        //   opacity: 1;
        // }
        // // Invalid Input Style
        // &.invalid,
        // &:focus.invalid {
        //   border-bottom: 1px solid $input-error-color;
        //   box-shadow: 0 1px 0 0 $input-error-color;
        // }
        // // Custom Error message
        // &.invalid + label:after,
        // &:focus.invalid + label:after {
        //   content: attr(data-error);
        //   color: $input-error-color;
        //   opacity: 1;
        // }
        // // Form Message Shared Styles
        // & + label:after {
        //   display: block;
        //   content: "";
        //   position: absolute;
        //   top: 65px;
        //   opacity: 0;
        //   transition: .2s opacity ease-out, .2s color ease-out;
        // }
    }
}

.select-wrapper input.select-dropdown:disabled {
    color: $input-disabled-color;
    border-bottom: 1px dotted $input-disabled-border-color;
}


// jQuery plugin makeEditable

// .brand-logo {
//   .dropdown-content {
//       min-width: 100px;
//   }
// }


// non framework styling


.form-container {
    width: 100%;
    height: 100%;
    overflow: hidden; // needed for firefox render correctly
    .table-container {
        overflow: auto;
        height: calc(100% - 48px); // 48px is the tab height
    }
}

.overflow-auto {
    overflow: auto;
}

.scroll-y {
    overflow-y: scroll;
}

.app-container {
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

// food and beverage => fnb
.health-food {
    // material theme mimic
    $food_green: #528540;
    $food_grass: #CDDE47;
    $food_brown: #DE7047;
    $food_light_brown: #FFDE8D;
    $food_blue: #C2DCF2;

    // materialize css color tweak
    .accent-2 {
        color: rgb(78,52,46);
    }

    .proceed {
        background: $food_green !important;
        color: $food_light_brown !important;
    }

    .enable {
        background: $food_blue !important;
        color: black !important;
    }

    .abandon {
        background: #AAA !important;
        color: white !important;
    }

    .btn {
        &.remove, &.delete {
            background: red !important;
            color: white !important;
        }
    }
    // $color-name-primary:    'brown';
    // $color-name-secondary:  'yellow';
    // $color-name-text:       'grey';
    // @import '../bower_components/polymer-theme/sass/variables';
    // @import '../bower_components/polymer-theme/sass/blocks/all';
    // /deep/ {
    //   @import '../bower_components/polymer-theme/sass/blocks/all';
    // }
    // for easy implementation first with !important
    // .md-primary-hue-1 {
    //     background: $color-primary-1 !important;
    //     // color:
    // }
    // .md-primary-hue-2 {
    //     background: $color-primary-6 !important;
    //     // color:
    // }
    // .md-primary-hue-3 {
    //     background: $color-primary-9 !important;
    //     // color:
    // }
    // .md-secondary-hue-1 {
    //     background: $color-secondary-1 !important;
    //     // color:
    // }
    // .md-secondary-hue-2 {
    //     background: $color-secondary-6 !important;
    //     // color:
    // }
    // .md-secondary-hue-3 {
    //     background: $color-secondary-9 !important;
    //     // color:
    // }
    // materialize css + angular material css without using angularJS
    .content-area {
        // height: calc(100% - 8%);
        // max-height: calc(100% - 62px);
        // overflow: hidden;
        .menu-area {
            height: 100%;
        }
    }
    // angularJS version, keep it first, "food" is subsituted by generic name "item" as a product in future development
    food-management-scene {
        .menu-area {
            background: white;
        }
    }
}

#member-details {
    label {
        left: 10px;
    }
}

// custom plugin
.editable {
    input[type=text] {
        padding: 0;
        margin: 0;
        border: 0;
        width: 100%;
        height: 100%;
        outline: 1px solid red;
    }

    input[type=checkbox] {
        visibility: visible;
        position: relative;
        left: 16px;
        opacity: 0;
        top: -8px;
    }

    input:focus {
        border-bottom: none !important;
        box-shadow: none !important;
    }

    .editable-checkbox {
        margin: 0;
        padding: 0;
        text-align: center;

        label {
            margin: 0;
            padding: 0;
            top: 0;
            height: 15px;
            line-height: 15px;
            left: 0;
            width: 20px;
        }
    }
}

.item-color-option-container {
    position: relative;
    width: 100px;

    label {
        top: -20px;
    }

    .label {
        position: absolute;
        z-index: 10;
        top: 30%;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
    }
}

#food-category-container { // deprecated name
    height: 100%;
    max-width: 280px;
    min-width: 240px;
    overflow: scroll;
    overflow-x: visible;

    .group-table {
        width: 100%;
    }
}

// jQuery table sorter
.tablesorter {
    .filtered {
        display: none;
    }

    &:hover {
        .tablesorter-header {
            /* black (unsorted) double arrow */
            background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
            background-repeat: no-repeat;
            background-position: center right;
            // padding: 4px 18px 4px 4px;
            white-space: normal;
            cursor: pointer;
        }

        .headerSortUp,
        .tablesorter-headerSortUp,
        .tablesorter-headerAsc {
            background-color: #9fbfdf;
            /* black asc arrow */
            background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
            /* white asc arrow */
            /* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7); */
            /* image */
            /* background-image: url(images/black-asc.gif); */
        }

        .headerSortDown,
        .tablesorter-headerSortDown,
        .tablesorter-headerDesc {
            background-color: #8cb3d9;
            /* black desc arrow */
            background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
            /* white desc arrow */
            /* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7); */
            /* image */
            /* background-image: url(images/black-desc.gif); */
        }
    }
}

.data-table {
    // width: 100%;
    // width: calc(100% - 15px);
    table-layout: fixed;

    caption {
        text-align: center;
        background-color: white;
        font-weight: bold;
    }

    tr th {
        text-align: center;
        white-space: nowrap;
    }

    tr td, tr th {
        padding: 10px;
        border: 1px solid #ccc;
    }

    &.style1 {
        background-color: white;

        tr {
            &.active, &:focus, &:hover {
                background-color: yellow;
                color: blue;
                font-weight: normal;
            }
        }

        tr th {
            background-color: #999;
            color: white;

            a {
                color: white;

                &:hover {
                    color: yellow;
                    text-decoration: none;
                }

                &:focus {
                    outline: none;
                }
            }
        }
    }

    &.compact {
        tr th {
            padding: 5px;
        }

        tr td {
            padding: 0;
        }
    }
    // material element
    md-select {
        padding: 0;
    }

    .modified {
        input {
            outline: 1px solid red;
        }
    }

    $width-2char: 5.3em;
    $width-3char: 5.6em;
    $width-4char: 6.2em;
    $width-5char: 6.8em;
    $width-6char: 9.4em;
    $width-7char: 10.0em;
    $width-8char: 12.6em;

    .sort-order {
        width: $width-2char;
    }

    .sub-item-type {
        width: $width-5char;
    }

    .combo {
        width: $width-4char;
    }

    .qty {
        width: $width-2char;
    }

    .minoq {
        width: $width-4char;
    }

    .maxoq {
        width: $width-4char;
    }

    .free-price {
        width: $width-8char;
    }

    .max-price {
        width: $width-6char;
    }

    .detail-item {
        width: $width-4char;
    }

    .amount-to-main-item {
        width: $width-6char;
    }

    .name1 {
        width: $width-8char;
    }

    .name2 {
        width: $width-8char;
    }

    .amount {
        width: $width-2char;
    }

    .print-to {
        width: $width-3char;
    }

    .custom-kitchen-name {
        width: $width-6char;
    }

    .separate-print {
        width: $width-4char;
    }

    .changeable {
        width: $width-4char;
    }

    .category-display {
        width: $width-6char;
    }

    .code, .permission {
        text-align: center;
    }

    .helper {
        width: 2em;
        color: transparent; // hide text cursor
    }

    .item-code {
        width: $width-5char;
    }

    .display {
        width: $width-4char;
    }

    .plu {
        width: $width-6char;
    }

    .price {
        width: $width-4char;
    }

    .point {
        width: $width-4char;
    }

    .color {
        width: 5em;
    }

    .kitchen-name {
        width: $width-8char;
    }

    .service-charge {
        width: $width-4char;
    }

    .discount-template {
        width: $width-6char;
    }

    .remark {
        width: $width-6char;
    }

    tr td, th td {
        word-wrap: break-word;
        // height: 80px;
        height: 60px;
        overflow: hidden;
    }

    $helper-new-bg-color: color("red", "accent-4") !default;
    $helper-active-bg-color: color("green", "accent-4");
    $helper-bg-color: color("blue", "accent-4");
    $helper-text-color: color("yellow", "lighten-1");

    tr {
        &.active {
            td {
                &.helper {
                    background: $helper-active-bg-color;
                    // color: $helper-text-color;
                }
            }
        }

        td {
            &.helper.highlight {
                background: $helper-bg-color;
                color: $helper-text-color;
            }
        }

        &.newRow {
            td {
                &.helper {
                    background: $helper-new-bg-color;
                    color: $helper-text-color;

                    a {
                        background: $helper-new-bg-color;
                        color: $helper-text-color;
                    }

                    &.highlight {
                        background: $helper-new-bg-color;
                        color: $helper-text-color;
                    }
                }
            }
        }
    }

    .dropdown {
        overflow: visible; // for dropdown
    }

    .color {
        vertical-align: middle;

        .color-box {
            // width: 100%;
            // height: 50px;
            margin: auto;
        }

        .color-value {
            width: 20px;
            height: 20px;
            margin: auto;
        }
    }

    &.compact tr td {
        padding: 5px;
    }

    .modified {
        background-color: rgba(255,0,0,0.3);
    }

    tr.modified {
        background: none;
    }
    // jQuery table sorter
    .dropdown-content {
        min-width: 60px;
    }
    // action container, for functions inside table
}


.employee-group-option {
    .dropdown-content {
        min-width: 135px;
    }
}



.group-table {
    // ng-grid, not used in other framework
    /* .ui-grid-viewport {
    overflow-x: visible;
  } */
    table-layout: fixed;
    // width: 253px;
    // column:
    .group-code {
        /* width: 40%; */
        width: 75px;
    }

    .group-name {
        width: 60%;
    }

    .usable {
        width: 5.5em;
    }
}

.sub-item-table {
}

.food-table, // deprecated class name
.item-table {
    width: 100%;
    table-layout: fixed;
}

// constraint to make it look good
#item-shortlist-container {
    min-width: 330px;
}

#employee-shortlist-container {
    min-width: 317px;
    width: 317px;
}

#category-shortlist-container {
    // max-width: 270px;
    // width: 270px;
    width: 290px;
    min-width: 290px;
}


// framework independent
.md-rounded-square-dp48 {
    // based on angular material
    width: 48px;
    height: 48px;
    min-width: initial;
    min-height: initial;
    // based on materialize css
    padding: 0;
}

.md-button-dp16 {
    font-size: 16px;
    line-height: 1.3em;
}

// materialize CSS button
.waves-inside {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

// customize md icon for materialcss, loading SVG icon dynamically with jQuery
.mcss-icon {
    display: inline-block;
    fill: currentColor;
}


.btn {
    // margin: 6px 8px; // for compatible with version5 style
    position: relative; // make waves inside working in materialize CSS
    line-height: 1.1em; // for Chinese words in multiple lines
    strong {
        font-weight: bold;
        font-size: inherit;
    }
}

.input-field {
    label {
    }
}

.toolbar {
    .btn {
        margin-top: 0;
        margin-bottom: 0;
    }
}

// copy from bootstrap
.sr-only {
    display: none;
}

// modern firefox hack / except 2,3
@-moz-document url-prefix() {
    .toolbar .btn {
        font-size: 18px;
    }
}

// using angular material with materialize
md-toolbar {
    .brand-logo {
        color: white;
    }
}

// custom directives
mcss-checkbox {
    outline: none;
}

.myGrid {
    width: 500px;
    height: 250px;
}


// helper for modern browser, chrome have some bug with corrupted character
.fill-height {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.input-field {
    $padding: 2px;
    padding: $padding; // adapted from angular material
    label {
        left: $padding;
    }
}


// dependency: angular material 0.10.0
// md-toolbar.md-rms-theme.toolbar-top {
//   height: 8%;
//   min-height: 62px;
// }

// custom button setting on top of material md-button
.md-button-text {
    white-space: normal;
    font-weight: bold;
}

.md-densed {
    min-width: initial;
    min-height: initial;
    margin: 0;
    padding: 0;
}

.md-40p {
    width: 40px;
    height: 40px;
}

.md-watermark {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.1;
    // font-size: 80px;
    width: 100% !important;
    // height: 50% !important;
}

.icon, .mcss-icon {
    &.orange {
        color: orange;

        svg {
            color: orange;
        }
    }
}

// dependency: Polymer 1.0
// custom button style for polymer paper
paper-button {
    &.active {
        background-color: white !important;
    }
}

.content {
    &.paper-button {
        padding: 0;

        &.active {
            background-color: white !important;
        }

        button {
            background: none;
            border: none;
            height: 100%;
        }
    }
}

paper-toolbar {
    .fill-height {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}






#item-scene-container {
    height: 100%;

    /*$header_background_color: #333;
    $header_text_color: #FDFDFD;
    $alternate_row_background_color: #DDD;*/
    //$table_body_height: 50%;
    $column_min-width: 100px;
    $column_medium-width: 200px;

    .fixed_headers {
        //width: $table_width;
        table-layout: fixed;
        /*border-collapse: collapse;*/

        /*th {
            text-decoration: underline;
        }*/

        th, td {
            padding: 5px;
            //text-align: center;

            &.medium-width {
                min-width: $column_medium-width !important;
                width: $column_medium-width !important;
            }

            &.min-width {
                min-width: $column_min-width !important;
                width: $column_min-width !important;
            }
        }




        thead {
            tr {
                display: block;
                position: relative;
            }
        }

        tbody {
            display: block;
            overflow: auto;
            width: 100%;
        }
    }

    #item-list-container {
        overflow-x: auto;
         
    }

    select.default-select {
        font-size: 12px;
        height: 30px;
        margin-top: 30px;
        display: block;
    }

    .missing-data {
        border-color: red !important;
    }


    .item-list-viewpoint {
        overflow-x: auto;
        margin-bottom: 70px;
       overflow-y:hidden !important;
    }

    .item-list-table {
        table-layout: initial !important;
        margin-bottom: 50px;
    }



    .item-list-table tbody tr td, modifier-list-table tbody tr td, .center-td {
        word-break: break-all;
        text-align: center;
    }

    .item-list-table thead tr th.min-width, item-list-table tbody tr td.min-width {
        min-width: 100px !important;
    }

    .item-list-table thead tr th.medium-width, item-list-table tbody tr td.medium-width {
        min-width: 200px !important;
    }

    .item-list-table thead tr th {
        font-size: 16px;
    }
}

#category-scene-container {
    height: 100%;

    $list-height: 75%;

    #category-list-container {
        height: $list-height;
    }

    #category-details {
        height: 100% - $list-height;
    }
}
