@mixin make-grid-columns($i: 1, $list: ".col-hahahahaxs-#{$i}, .col-hahahahsm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}") {
  @for $i from (1 + 1) through 10 {
    $list: "#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
  }
  #{$list} {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
  }
}

/* 
.col-1-2, .col-1-1,  expected

// result
.col-1-1,
.col-2x2, .col-2x1, 
.col-3x2, .col-3x1, 
.col-4x2, .col-4x1, 
.col-5x2, .col-5x1 {
 */
@mixin make-custom-grid-cols($i: 1, $j: 1, $list: ".col-#{$i}") {
  @for $i from (1+1) through 5 {
    $list: "#{$list}, .col-#{$i}"; 
  }
  /* @for $j from (1+1) through 1 {
    $list: "#{$list}, .col-#{$i}x#{$j}";
  } */
  #{$list} {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
  }
}

@include make-custom-grid-cols;

$col: 3;
$i: 1;
@while $i <= $col {
  p:nth-last-child(#{$i}) {
      background: red;
  }
  $i: $i + 1;
}

