﻿@charset "utf-8";
@import "common-mixin";
@import "compass";
@import "common-placeholder";
@import "common-mixin"; // after any import
@import "cmn";
@import "grid-material-custom";
@import "calendar";

$screen-maximum-height: 653px; //在1024 x 768的screen裏, 扣除8% TOPBAR高度後, 最少要有670PX, 餘下用來做STATUSBAR, 因為GRID未能ELASTIC，所以暫時固定
$top-bar-height: 12%;
$bottom-bar-height: 3%;
/*
z-index list:
md-toolbar(top): 2
#category-item .secondary: 2
md-toast: 2000
*/ 


body {
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
    // @extend %default_font_CS;
    font-size: 20px;
    overflow: hidden; // prevent toast flash the screen with scrollbar
    // font-family: noto_sansregular,'Helvetica Neue',sans-serif;
}

// to maintain its integrity while resize
.min-visible {
    min-height: 600px;
    min-width: 980px;
}

// tune angular material CSS
// disable angular material animation
md-dialog {
    // transform: initial !important;
    // transition: initial !important;
    .md-actions .md-button {
        font-weight: bold;
        font-size: 24px;
    }
}

// modify checkbox css
md-checkbox {
    .md-container {
        top: 0;
        margin-top: 12px;
    }
}

// addon
[layout="column"] > [flex="22.5"] {
    max-height: 22.5%;
}

[layout="column"] > [flex="6"] {
    max-height: 6%;
}

[flex="22.5"] {
    -webkit-flex: 0 0 22.5%;
    -ms-flex: 0 0 22.5%;
    flex: 0 0 22.5%;
}

[flex="6"] {
    -webkit-flex: 0 0 6%;
    -ms-flex: 0 0 6%;
    flex: 0 0 6%;
}

// tune materalize CSS
label {
    font-size: 1.6rem;
}

// tune bootstrap settings to match material css
.label-info {
    color: navy;
}

.form-control {
    display: block;
    height: 36px;
    width: 100%;
    border: none;
    border-radius: 0 !important;
    font-size: 16px;
    font-weight: 300;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid #757575;
}

// helper
.fill-height {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-center {
    @extend .fill-height;
    justify-content: center;
}

textarea.form-control {
    height: auto;
}

header {
    .title {
        margin: 5px;
    }
}

// custom

input[type="text"] {
    &.no-style {
        border: none;
        background: none;
    }
    // inside md-grid
    &.inside-grid {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        // font-size: 48px;
    }
}

// custom tag
input-keypad, rms-status, option-food-control {
    display: block;
}

option-food-control {
    height: 100%;
}

.grid-keyboard {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 50%;
    margin: auto;
    opacity: 0.1;
    font-size: 60px;
    line-height: 60px;
    height: 80%;
}

md-content.md-default-theme {
    background: transparent;
}

md-toolbar.md-default-theme {
    /*height: 10%;*/
    // when put in section-divider, button's margin is not collapsed and becomes display:inline-block, but if force to be display:block, it will break a line, so the spacing between button is by carriage return in the code ie new line in html code "\n"
    .section-divider {
        // margin: 0 -8px;
        .md-button {
            // display: block;
            margin: 0 0px !important;
        }
    }

    .md-button {
        min-width: auto;
        font-size: inherit;
        line-height: 1.1em;
        padding: 0;
        display: block; // ie does not correctly interpret inline-table
    }

    .btn {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        white-space: normal; // IE does not take initial
        min-width: auto; // ie take auto, does take initial
        line-height: 1.1em;
        font-size: inherit;

        strong {
            font-weight: bold;
            font-size: inherit;
        }
    }
}

md-toast {
    z-index: 2000;
}

.stretchy-wrapper {
    position: relative;
    /* 16:9 screen */
    padding-bottom: 50.625%; /* 16: 9*90%; */
    width: 100%;
    /*background-color: red;*/
    /* 4:3 screen */
    /* padding-bottom: 67.5%; 4: 3*90%;
  width: 100%; */
}

.app-container {
    height: 100%;
    width: 100%;
    padding: 0;
    overflow: hidden;

    .background {
        /*background: url(./assets/svg/Graph-Paper.svg) repeat;*/
        /*background: url(../assets/svg/wood.svg) repeat;*/
        width: 100%;
        height: 100%;
        display: block;
    }
}

// custom theme for RMS
//deprecated
.md-rms-theme {
    position: relative;

    .container {
        height: 100%; /* for background */
        max-width: initial;
    }

    .background {
        /*background: url(./assets/svg/Graph-Paper.svg) repeat;*/
        /*background: url(../assets/svg/wood.svg) repeat;*/
        width: 100%;
        height: 100%;
        display: block;
    }
}


.md-whiteframe-glow-z2 {
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.2), 0px 0 4px 3px rgba(0, 0, 0, 0.14), 0px 0px 8px 1px rgba(0, 0, 0, 0.12);
}

.md-icon {
    color: inherit !important;
}

.md-custom-icon {
    // firefox needed
    font-family: "Material Icons";
    line-height: 1em;
    letter-spacing: normal;
    display: inline-block;
    font-size: 56px;
    font-style: normal;
    color: inherit !important;
    // chrome needed
    text-transform: none;
    word-wrap: normal;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    height: 1em;
    // ie11 needed
    font-feature-settings: "liga" 1;
}

@-moz-document url-prefix() {
    .md-custom-icon {
        height: 0.7em;
    }

    .md-button {
        .md-icon {
            height: 0.7em;
        }
    }
}

// common icon color
.remove, .delete {
    color: red !important;
}

.proceed {
    background: $food_green !important;
    color: $food_light_brown !important;
}

.proceed2 {
    background: #414085 !important;
    color: white !important;
}

.active.important {
    background: #F00 !important;
    color: white !important;
}

.cancel {
    background: $food_brown !important;
    color: #FFF !important;
}

.focused {
    border-bottom: 1px solid #26a69a !important;
    box-shadow: 0 1px 0 0 #26a69a !important;
}

.icon-with-text {
    i, span {
        vertical-align: middle;
    }
}

.icon-with-text-half {
    i, span {
        width: 50%;
        display: inline-block;
    }
}


// custom button setting on top of material md-button
.md-rounded-square {
    width: 48px;
    height: 48px;
    min-width: initial;
    min-height: initial;
    transition: none; // avoid transformation because of width and height setting at the beginning since from materialize default to this new size will cause transition
}

.md-btn-72 {
    $dimension: 72px;
    width: $dimension;
    height: $dimension;
}

.md-button-text {
    white-space: normal;
    font-weight: bold;
}

.md-button-dp16 {
    font-size: 16px;
    line-height: 1.3em;
}

.md-densed {
    min-width: initial;
    min-height: initial;
    margin: 0;
    padding: 0;
}

.md-40p {
    width: 40px;
    height: 40px;
}

.md-watermark {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.1;
    // font-size: 80px;
    width: 100% !important;
    // height: 50% !important;
}

md-toolbar {
    &.md-rms-theme.toolbar-top {
        /* min-height: 64px; */
        min-height: initial;
        min-height: auto;
        height: $top-bar-height;
        // .md-toolbar-tools {
        //   max-height: initial;
        //   max-height: auto;
        //   height: 100%;
        // }
        // height: 64px;
        /* max-height: 64px; */
    }
    /*height: 4%;*/
    // min-height: 32px;
    &.md-rms-theme.toolbar-bottom {
        min-height: 24px;
        // height: calc(100% - 88% - 8%);
        @include calc(height, 100% - $screen-maximum-height/768px * 100% - $top-bar-height);
        // height: calc(100% - 680/768*100% - 8%);
    }

    &.md-rms-theme.toolbar-top, &.md-rms-theme.toolbar-bottom {
        .md-toolbar-tools {
            max-height: initial;
            max-height: auto;
            height: 100%;
        }
    }

    & .md-toolbar-tools {
        // height: 100%; /* to control in percentage, limited by its parent eg. parent with 7% height of total */
        // max-height: 100%;
    }

    .md-button {
        &.active {
            background-color: white !important;
        }

        &.md-fab.md-mini {
            line-height: 46px;
            width: 46px;
            height: 46px;
        }
    }
}



.content-area {
    position: relative;
    /*top: 8%;*/
    @include calc_noimp(height, $screen-maximum-height/768px * 100%);
    // height: calc(680/768*100%);
    display: block;
}

// by sections
#toolbar-top {
    .md-toolbar-tools {
        font-size: 30px;
    }
    // reference info shown in top bar
    .reference {
        font-size: 28px;

        .col {
            padding-left: 20px;

            span {
                font-weight: bold;
            }

            em {
                font-style: normal;
                color: white;
            }
        }
    }

    .md-rounded-square {
        $dimension: 72px;
        width: $dimension;
        height: $dimension;

        &.d36 {
            width: 36px;
            height: 36px;
        }

        &.d33 {
            width: 33px;
            height: 33px;
        }
    }

    .column {
        .row {
            margin-bottom: 0;
        }

        .row:nth-of-type(n+2) {
            margin-top: 6px;
        }
    }
}

#toolbar-top.en {
    .md-toolbar-tools {
        font-size: 16px;
    }
    // reference info shown in top bar
    .md-rounded-square {
        $dimension: 72px;
        width: 100px;
        height: 36px;
        line-height: 90%;
        float: left;
        margin-top: 8px;
    }

    .fast-food-in-order-group {
        display: inline;
    }

    .order-group {
        display: inline;
    }

    .edit-group .md-rounded-square {
        width: 58px !important;
    }
}

.content-area.en {
    .menu-container.en {
        font-size: 13px;
    }

    #billing-summary .md-grid-container {
        font-size: 62px !important;
    }

    #category-item .badge.suspend, .md-custom-grid .badge.suspend {
        font-size: 24px;
    }

    #report-menu {
        #report-option .md-button {
            font-size: 22px;
        }
    }

    .keypad-amount-shortcut.materialize-keypad .btn.md-button.md-grid-button {
        font-size: 80% !important;
    }

    button.cancel.btn.md-grid-button {
        font-size: 13px !important;
    }

    span.code {
        font-size: 14px !important;
    }

    #category-item .name, .md-custom-grid .name {
        height: 60%;
    }

    #cash-manage-option .materialize-keypad .btn {
        font-size: 100% !important;
    }
}





#status-bar {
    font-size: 18px;
    position: relative;
    padding: 0 8px;

    .messages {
        font-size: inherit;
        width: 100%; // controlled total in flex
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
    }

    .legend-container {
        min-height: 27px; // for 1024:768, 4:3 environment
        text-align: center;
        background-color: white;
    }

    .employee {
        text-align: right;
        max-width: 200px;
        // display: inline-block;
        overflow: hidden;
        height: 27px; // tempoary, overflow seems not make it working alone, need height in flex
        font-size: 18px;

        .name {
            // height: 100%;
            display: inline-block;
        }
    }

    .md-icon {
        padding: 0;
        margin: 0;
        vertical-align: middle;
    }
}

#toolbar-top, #status-bar {
    z-index: 15;
}

$scheme1-bg: #FFDE8D; // 米色
$scheme1-text: #528540; //green
// $scheme1-bg-default: #FFF; // 米色
$scheme1-bg-default: rgba(255, 255, 255, 0.85);
$scheme1-text-default: #731D34; //green
$active-element: rgb(186, 255, 141);
$active-element2: rgb(186, 255, 141);

%sapphire {
    color: #00BCD4;
}

.attention {
    @extend %sapphire;
}

// order
#sidebar, .sidebar {
    background-color: white;
    z-index: 10; // avoid cover the shadow of top or status bar
    .list-group-item {
        // padding: 8px 15px 8px 8px;
        padding: 8px 0 8px 0;
        border-left: 0;
        border-right: 0;
        min-height: 65px; // for delete button
        &:nth-child(even) {
            background: rgba(0,0,0,0.05);
        }

        .md-icon {
            vertical-align: middle;
        }

        background-color: $scheme1-bg-default;
        color: $scheme1-text-default;

        .food-info-container {
            .food-info {
                // padding: 0 10px 0 4px;
            }

            .food_info-option-list {
            }
        }
        // active item
        &.active {

            .new__food__info-container, .ordered__food__info-container, .food-info-container {
                .row {
                }

                .new__food__info-option-list, .food_info-option-list {

                    .food_info-option_list-option {
                        li {
                            // &.active {
                            //   background: #135D0B;
                            //   color: white;
                            //   a {
                            //     color: inherit;
                            //   }
                            // }
                        }
                    }
                }

                .new__food__info-subitem-list {
                    li {
                        // &.active {
                        //   background: #135D0B;
                        //   color: white;
                        //   a {
                        //     color: inherit;
                        //   }
                        // }
                    }
                }
            }

            .sub-item.active {
            }
        }
        // when child item is highlighted
        &.active {
            background-color: $active-element;
            color: $scheme1-text;
            font-weight: bold;

            a {
                color: $scheme1-text;
            }

            li {
                &.active {
                    background: #135D0B;
                    color: white;

                    a {
                        color: inherit;
                    }

                    .warn {
                        li {
                            &, &.active {
                                // background: white;
                                color: yellow;

                                a {
                                    color: inherit;
                                }
                            }
                        }
                    }

                    .attention {
                        li {
                            &, &.active {
                                color: orange;

                                a {
                                    color: inherit;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.fire {
            background-color: rgb(255,249,196);
        }

        &.fire.active {
            background-color: #8dffca;
        }

        .warn {
            li {
                &, &.active {
                    // background: white;
                    color: red;

                    a {
                        color: inherit;
                    }
                }
            }
        }
    }
    // list-group-item
    a {
        color: $scheme1-text-default;
        text-decoration: none;
    }
}

.sidebar {
    // gutter
    padding: 0 5px;
}

.order-list-wrapper {
    // appearance
    // background-color: white;
    max-width: 100% !important; // override md material
    width: auto !important; // override md material
    min-width: initial !important; // override md material
    // flow control, scrollTop will be relative to element with this
    overflow: auto;
    // position
    position: relative;
}

.order-list {
    // height: 100%;
    max-height: 62%;
    min-height: 50%;
    width: auto;
    min-width: initial;
    max-width: 100%;
    position: relative; // let the account summary be always be bottom, the only way is either position fix or absolute
    // padding: 5px;
    .list-group {
        .list-group-item {
            @include border-radius(0);
            border-left: 0;
            border-right: 0;
            border-top-width: 2px;
            border-bottom-width: 2px;
            // margin-bottom: -2px;
            position: relative;

            .details {
                text-align: right;

                @extend %reset_list;
            }

            .qty {
                text-align: center;
            }
        }

        .delete {
            position: absolute;
            top: 16px;
            right: 0;
            font-size: 260%;
            opacity: 0.15;
            z-index: 100; // prevent being overriden by parent item when click
            &:hover {
                opacity: 0.2;
            }
        }
    }
}

.food-control-list {
    .list-item {
        position: relative;
        background-color: #fff;
        border: 1px solid #ddd;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        border-top-width: 2px;
        border-bottom-width: 2px;
        color: #731D34;
        min-height: 65px;
        padding: 8px 15px 8px 8px;
        margin-bottom: -2px;
    }

    .function {
        margin: 10px auto;
        text-align: center;
    }
}

.table-summary {
    header {
        margin: 15px;
    }
}

.account-summary {
    // appearance
    background: $food_light_brown;
    color: brown;
    // position
    position: relative; // if using absolute, the height of its parent is not doing right, the bottom buttons will be overlapped
    // width: 98%;
    bottom: 0;
    // right: 1%;
    // left: 1%;
    // gutter
    // margin: 1% 0;
    margin: 0;
    padding: 5px;
    // padding: 8px 15px 4px 8px;
    .no-margin {
        margin: 0 -4px !important;
        padding: 2px 4px;
    }

    .btn-delete {
        background-color: red;
        color: white;
        padding: 3px 7px;
    }
}

#status-message {
    .message {
        // display: block;
        // margin-top: 5px;
        margin: 0;
        // height: 100%;
    }
}



/* 
  right hand side area
*/
.menu-area {
    position: relative;
    // background-color: rgba(226, 226, 226, 0.7);
    // appearance
    height: 100%; // relative to parent (parent need fix height itself or use flex)
    // max-height: 100%; // to limit the size of area, seems will cause child to follow and deform
    // height: 680px;
    // min-height: 680px; // based on 1024 x 768 screen
    // maximum area for 1024x768 when browser is not maximumized
    // height: 592px;
    // min-height: 592px; // based on 1024 x 768 screen
    .pager {
        margin: 0; // based on generated md-grid
    }

    & > div:last-of-type {
        margin-bottom: 0;
    }
}


%grid_button {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    white-space: normal;
    @include border-radius(0);
    @include box-shadow(none !important);
    word-wrap: break-word;
    // generic default
    font-weight: bold;
    // font-size: 20px;
    // line-height: 1.3em;
    //font-size: 18px;
    font-size: 14px;
    // line-height: 1em;
    // padding: 6px;
    &.button-dp40 {
        font-size: 40px;
    }
}

.md-grid-button {
    @extend %grid_button;
}



.left-col {
    margin-right: 0.5%;
}

// specified menu
.menu-option {
    width: 100%;
}

.dummy-grid {
    span {
        background-color: lightgray;
        display: block;
        height: 100%;
        width: 100%;
    }
}

#food-menu {
    // background-color: #E2E2E2;
    .finish {
        position: absolute;
        top: calc(327px);
        right: 0;
        width: calc(40% - 0.5px);
    }
}

#option-menu {
    .finish {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 60%;
        top: 544px;
    }

    .content {
        // height: 100% !important; // for arrow sake
        // height: 500px !important;
    }
}

#kitchen-menu {
    .finish {
        position: absolute;
        bottom: 0;
        right: 0;
        width: calc(40% - 2px);
    }
}

#category {
    $grid-height: 64px;

    // custom grid, since md-grid is not flexible, cannot use other directive inside, it will not render a pager directive
    .col {
        // height: 50%;
    }
    // @include calc(height, ($grid-height + 1px)*2);
    // height: calc(($grid-height + 1px) * 2) !important; // + gutter * number of row
    .content {
        // height: 177px !important; //base on md-row-height and gutter
    }

    .pager {
        @include calc(height, $grid-height + 1px);
        // height: calc($grid-height + 1px)  !important; //same as md-row-height
        position: absolute;
        // bottom: 1px;
        // top: calc(89px);
        right: 0;
        width: calc(40% - 0.5px);
        bottom: 0;
    }
}

#category-item,
.md-custom-grid {
    $grid-height: 84px;
    // @include calc(height, ($grid-height + 1px)*4);
    // height: calc($grid-height * 4 + 4px) !important; //base on md-row-height and gutter
    .col {
        // height: 25%;
    }

    .content {
    }

    button.suspend {
        // opacity: 0.8;
    }

    .badge {
        &.suspend {
            /* position: absolute; */
            /* top: 31%; */
            /* left: 26%; */
            // font-size: 2em;
            // width: 60%;
            // height: 1.3em;
            overflow: visible;
            overflow-x: visible;
            overflow-y: visible;
            margin: auto;
            position: absolute;
            // top: 35px;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 6px 0;
            // opacity: 0.5;
            // opacity: 0.3;
            z-index: 5;
            height: 100%;
            font-size: 3.6em;
            width: 100%;
            opacity: 0.3;
        }
    }

    .name {
        line-height: 1em;
        height: 45%;
        overflow: hidden;
    }

    .stock {
        margin: 0;
        padding: 0;
        line-height: 1rem;
        color: red;
        left: 0;
        text-align: left;
        right: 0;
        top: 3px;
        left: 4px;
    }

    .price {
        position: absolute;
        bottom: 0;
        // right: 0;
        padding: 3px;
        /* font-size: 10px; */
        font-size: 17px;
        line-height: 1em;
        left: 0;
        background-color: green;
        color: yellow;
        // color: green;
        width: 49%; // support up to 2000.0
        min-width: 77px;
    }

    .secondary {
        // margin: 5px 0px;
        display: block;
        position: relative;
        z-index: 2;
        // padding-bottom: 15px; // more space to price
        // text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;

        .code {
            font-size: 20px;

            &, .stock {
                vertical-align: middle;
            }
        }
    }

    .pager {
        @include calc(height, $grid-height + 1px);
        // @include calc(height, $grid-height + 1px);
        // height: calc($grid-height + 1px) !important; //same as md-row-height
        position: absolute;
        bottom: 0;
        right: 0;
        // right: calc(((20% - 0.8px) * 2) + 2px);
        width: calc(((20% - 0.8px) * 2) + 1px); // based on generated md-grid
    }
}

#divide-table-list {
    .pager {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% / 10 * 2 - 2px);
    }
}

.pager {
    .disabled {
        // display: none;
    }
}

$half: 100% / 2;
$one-third: 100% / 3;
$one-forth: 100% / 4;
$one-fifth: 100% / 5;
// , .modifier-option
#cancel-reason, .cancel-reason {
    // margin-top: 2px; height: 291px;
    .col {
        height: $one-third;
    }

    .pager {
        position: absolute;
        bottom: 0;
        right: 0;
        width: calc((20% - 0.8px)*2 + 1px);
        height: 97px !important;
    }
}

.price-input {
    background-color: blue;
    color: yellow;
}

.discount-input {
    background-color: green;
    color: white;
}

/*
  left sidenav
*/
// repeatable items
.food-info-container {
    // min-height: 56px; // for delete button
    .food-info {

        .price {
            text-align: right;
        }
    }
}

#table-info, .table-info {
    // position
    position: relative;

    $table-padding: 4px;
    // height: 54px;
    height: 60px;
    text-align: center;
    font-family: monospace; //save space
    #table-summary, .table-summary {
        padding: 0 $table-padding;
    }

    .md-toolbar-tools {
        font-size: 30px;
        // height: 54px;
        .details-vertical {
            line-height: 1.1em;
            font-size: 60%;
            width: 4em;
            overflow: hidden;

            .name {
                height: 1em;
                overflow: hidden;
            }
        }



        .unit {
            font-size: 18px;
        }
    }

    .table-function {
        position: absolute;
        top: $table-padding;
        right: $table-padding;
    }
}

.data-table {
    .action-container {
        a {
            padding-right: 10px;

            i {
                vertical-align: top;
            }
        }
    }
}



.no-of-people-wrapper {
    text-align: left;
}

input {
    &.display-mode {
        border: 0;
    }

    &.no-of-people {
        background-color: #F2F2F2;
        display: inline-block;
        // vertical middle effect
        width: 1.4em;
        height: 1.4em;
        font-size: 1em;
        // vertical middle to unit
        vertical-align: middle;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    // only input but input-XXXXX does not apply...
    &.full-box {
        background: none;
        cursor: pointer;
        text-align: center;
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    &.no-border {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        // width: inherit;
        border: none;
        line-height: 36px;
        padding: 0 5px;
    }
}

.checkbox-container {
    text-align: center;
}

md-dialog {
    margin: auto;
}

.fixed-header {
    display: block;
}

.scrollable-content {
    display: block;
    height: 262px;
    overflow: auto;
    width: 100%;
}


.keypad-container {
    // padding: 0;
    // margin: 0;
    // width: auto;
    // min-width: initial;
    md-dialog {
        min-width: 280px;
        max-height: 85%;
        margin: auto;
        max-width: 280px;

        .md-toolbar-tools {
            max-height: none;
            min-height: 64px;
            height: initial;
        }
    }

    md-dialog-content {
        overflow: visible;
    }
}

// may be multiple instance
.keypad {
    // width: 208px;
    // height: 397px;
    // width: 266px;
    // height: 443px;
    // padding: 24px;
    background-color: #F2F2F2;

    md-toolbar .md-toolbar-tools {
        // height: 64px;
    }

    md-dialog-content.sticky-container {
        padding: 24px;
    }

    md-input-container {
        font-size: 24px;
    }
    // make it more user friendly => not used, avoid flickering
    &.hide-submit {
        // height: 363px;
        // height: 406px;
        .keypad-grid {
            padding-bottom: calc(((16.6666666666667% - 0.833333333333333px) * 8) + 7px) !important;
        }
    }

    .btn-submit {
        // width: calc(((16.6666666666667% - 0.833333333333333px) * 6) + 4.5px) !important;
    }

    .login {
        label {
            color: rgba(0,0,0,0.43);
        }

        .md-input {
            border-color: rgba(0,0,0,0.38);
        }
    }

    .keypad-grid {
        .md-button.md-default-theme.md-raised {
            background-color: #333;
            width: 100%;
            height: 100%;
            margin: 0;
        }
    }

    .md-button.md-default-theme.md-raised,
    a.md-button.md-default-theme.md-raised:not([disabled]) .md-icon,
    .md-button.md-default-theme.md-raised:not([disabled]) .md-icon {
        color: #E2E2E2;
    }

    .md-button {
        min-width: initial;
        font-size: 60px;
        @include border-radius(0);
    }

    .submit {
        // font-size: 20px;
        font-weight: bold;
        color: #0FF !important;
    }
    // .keypad-grid {
    //   padding-bottom: calc(((16.6666666666667% - 0.833333333333333px) * 8) + 7px);
    // }
}

#member-box {
    width: 100%;

    md-dialog {
        min-width: 700px;
        max-width: 850px;
    }

    .sticky-container {
        padding: 0;
    }

    .member-info {
        md-card {
            margin-left: 24px;
        }
    }
}

.logo {
    margin: 0;
}

// svg ?
md-content {
    overflow: hidden;

    & .control-content {
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }

    & table-scene.control-content {
        padding: 0;
    }

    &.md-default-theme.active-item-list {
        height: 95%;
        background-color: transparent;
        // min-width: 304px;
    }
}

.legend {
    @extend %reset_list;
    font-size: 12px;
    margin: 0;
    // height: 100%;
    li {
        display: inline-block;
    }
}


// custom directive tags
rms-svg {
    overflow: hidden;

    #svg-canvas {
        /*position: relative;*/
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

order-ctrl {
}

/* rms-svg {
  position: relative;
  top: 10%;
  height: 90%;
  display: block;
} */


.svg-canvas-wrapper {
    /*top: 7%;
  background-color: red;
  height: 93%;*/
}


.md-default-theme.available-item-list {
    background-color: transparent;
}

.list-group {
    margin-bottom: 0px;
    margin-top: 5px;


    .list-group-item {
        overflow: hidden; // some weird browser show scrollbar
        // padding: 0;
        a {
            // padding: 10px 15px;
            // display: block;
        }
    }
}


// custom tempoary
#food-manager {
    overflow: auto;

    .content-area {
        @include calc_noimp(height, 100% - $top-bar-height - $bottom-bar-height);
    }

    .md-title {
        margin: 10px 0 10px;

        .badge {
            background-color: white;
            padding: 5px;
            display: inline-block;
            border-radius: 4px;
        }
    }

    md-select-menu {
        background-color: white;
    }

    md-select, md-input-container {
        padding-bottom: 10px;
    }

    md-tab-content {
        md-content {
            padding: 5px;
            // height: 100%;
        }
    }

    table {
        md-select {
            padding-bottom: 0px;
        }

        md-select-label {
            border: 0;
        }
    }
}



.row {
    md-checkbox {
        .md-container {
            // top: 20%;
        }
    }
}


md-checkbox.fusion-align {
    padding: 2px;
    margin: 0;

    .md-label {
        left: -10px;
        right: auto;
        color: rgba(0,0,0,0.54);
        font-weight: bold;
        top: 2px;
        font-size: 16px;
    }

    .md-container {
        bottom: 0;
        top: auto;
        left: 2px;
    }
}

.search-filter-contaner {
    position: relative;
    text-align: right;
    display: inline-block;

    .search-filter {
        padding-right: 24px;
        width: 100px;
    }

    a {
        &:focus {
            outline: none;
        }
    }
}

.has-scroll-bar {
    width: 100%;
}


food-management-scene {
    .menu-area {
        background-color: $food_grass;
        opacity: 0.9;
    }

    md-tabs.md-hue-3.md-accent md-tab-item:not([disabled]) {
        color: #666;
    }
}

//button
.add-sub-item-type {
    height: 62px;
}

// admin page
.form-container {
    md-content {
        overflow: auto;
        max-height: calc(100% - 49px); // 48px is tab height, 5px is padding in md-content inside tab-content
        height: calc(100% - 49px); // 48px is tab height, 5px is padding in md-content inside tab-content
    }

    .table-container {
        overflow: auto;
        height: calc(100% - 48px); // 48px is the tab height
    }
}

.md-custom-grid {
    .row {
        width: 100%;
        height: 100%; // used up the whole assigned space
        margin-bottom: 0px;
    }

    .col {
        // padding: 0px 1px 1px;
        padding: 0px 2px 2px 0;
        height: 100%;
    }

    &.one-column {
        .col {
            padding: 0px 0 2px 0;
        }
    }

    &.vertical {
        .col {
            height: 100%;
        }
    }
}

.md-grid-container {
    position: relative;
    margin-bottom: 2px; // temp for hypbrid layout (materialize-keypad + md-custom-grid)
    // padding-bottom: 1px;
    .header {
        background-color: black;
        color: white;
        font-size: 1.75rem;
        margin: 0 0 1px;
        padding: 0.5rem;
        height: calc(6% - 1px);
        clear: both;
    }

    md-icon.md-default-theme {
        color: rgba(0,0,0,0.87);
    }
    // default grid settings for buttons
    & > md-grid-list {
        margin-bottom: 2px;
    }

    &.finish > md-grid-list {
        margin: 0;
    }

    .md-button {
        @extend %grid_button;
    }

    md-grid-list {

        md-grid-tile {
            .md-button {
                @extend %grid_button;
            }
        }
    }
}

.md-grid-container.divide-table-button-container {
    button.md-button {
        text-transform: none;
        line-height: 20px;
    }
}


.md-custom-grid-container {
    height: 100%;
}


.materialize-keypad {
    width: 100%;
    height: 100%;
    line-height: 1em;

    .btn {

        &:hover {
            color: #666;
        }

        &.active {
            background: $food_light_brown;
            color: brown;
        }
    }

    &.keypad-container {
        height: 430px;

        .submit {
            font-size: 240%;
        }
    }
    // col x row
    &.col-10x4, &.col-1x4, &.col-3x4, &.col-3x5, &.col-5x6, &.col-5x5, &.col-1x5, &.col-2x5, &.col-3x5, &.col-3x3, &.col-4x4, &.col-8x8, &.col-10x8 {
        // .col {
        //   height: 100%;
        // }
        .btn {
            min-height: initial;
            min-width: initial;
            min-height: auto;
            min-width: auto;
            height: 100%;
        }
    }
    /* &.col-2x5 {
    $row: 2;
    $col: 5;
    .row {
      height: 100% / $row;
    }
  }
  
  &.col-3x3 {
    $row: 3;
    $col: 3;
    .row {
      height: 100% / $row;
    }
  }
  
  &.col-1x5 {
    $row: 1;
    $col: 5;
    .row {
      height: 100% / $row;
    }
  }
  
  &.col-5x5 {
    $row: 5;
    $col: 5;
    .row {
      height: 100% / $row;
    }
  }
  
  &.col-5x6 {
    $row: 6;
    $col: 5;
    .row {
      height: 100% / $row;
    }
  }
  
  &.col-10x4 {
    // height: 245px;
    // width: 600px;
    
    $row: 4;
    $col: 3;
    .row {
      height: 100% / $row;
    }
  }
  
  &.col-1x4 {
    $row: 1;
    $col: 4;
    .row {
      height: 100% / $row;
    }
  }
  
  &.col-3x4 {
    // height: 400px;
    // width: 300px;
    
    $row: 4;
    $col: 3;
    .row {
      height: 100% / $row;
    }
  }
  
  &.col-3x5 {
    // height: 400px;
    // width: 300px;
    
    $row: 5;
    $col: 3;
    .row {
      height: 100% / $row;
    }
  } */
    .row {
        margin: 0;
        text-align: center;

        .col {
            // padding: 0 1px 1px;
            // padding: 0 0 1px 1px; // make it slim
            padding: 0 0px 1px 1px; // follow md-grid pattern to match line
            @extend .flex-center;

            button {
                line-height: 1em;
            }
        }
    }



    .btn {
        // font-size: 160%;
        font-size: 140%;
        background-color: #333;

        i {
            line-height: 1 !important;
            font-size: 160% !important;
        }

        &:active {
            background: yellow;
        }
    }

    &.long-text {
        .btn {
            // font-size: 160%;
            font-size: 73%;
            line-height: 1.4 !important;
            padding: 1px;
        }
    }
}
// materialize-keypad



// materializecss pager
.materialize-keypad, .md-custom-grid, .md-grid-container {
    $gutter: 1px;

    // per row 8 item setting
    // &.per-row-5 {
    //   .col:nth-of-type(5n + 1) {
    //     padding-left: 0;
    //   }
    // }
    .row {

        &.no-padding-bottom {
            .col {
                padding-bottom: 0;
            }
        }
        // .col:first-of-type {
        //   padding-left: 0;
        // }
        // .col:last-of-type {
        //   padding-right: 0;
        // }
    }

    .col {
        // padding: 0 1px 1px;
        // padding: 0 0 1px 1px; // make it slim
        // padding: 0 0px $gutter $gutter; // follow md-grid pattern to match line
        padding: 0 $gutter $gutter 0px; // follow md-grid pattern to match line, seems it is changing
        @extend .flex-center;
    }

    .row, .col {
        outline: none;
    }

    &.col-10x4,
    &.col-1x2,
    &.col-1x4,
    &.col-1x5,
    &.col-2x5,
    &.col-3x1,
    &.col-3x3,
    &.col-3x4,
    &.col-3x5,
    &.col-4x3,
    &.col-4x4,
    &.col-4x5,
    &.col-5x6,
    &.col-5x5,
    &.col-5x3,
    &.col-7x3,
    &.col-8x3,
    &.col-8x8,
    &.col-10x8 {
        .col {
            height: 100%;

            span:first-of-type {
                // height: 100%;
                // width: 100%;
                // display: block;
            }
        }

        .btn {
            min-height: initial;
            min-width: initial;
            min-height: auto;
            min-width: auto;
            height: 100%;
        }
    }

    &.col-7x3 {
        $row: 7;
        $col: 3;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }
    }

    &.col-8x3 {
        $row: 8;
        $col: 3;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }
    }

    &.col-1x2 {
        $row: 1;
        $col: 2;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }
    }

    &.col-2x5 {
        $row: 2;
        $col: 5;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }

        .md-grid-pager {
            $width: (100% / $col) * 2;
            width: $width;
            // width: calc($width - $gutter);
            width: calc(#{$width} - #{$gutter});
            // margin-left: $gutter;
        }
    }

    &.col-3x1 {
        $row: 3;
        $col: 1;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }
    }

    &.col-3x3 {
        $row: 3;
        $col: 3;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }
    }

    &.col-3x5 {
        // height: 400px;
        // width: 300px;

        $row: 3;
        $col: 5;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }

        .md-grid-pager {
            $width: (100% / $col) * 2;
            width: $width;
            // width: calc($width - $gutter);
            width: calc(#{$width} - #{$gutter});
            // margin-left: $gutter; // defined in md-custom-grid .col: padding: 0 1px 1px 0px;
        }
    }

    &.col-4x3 {
        $row: 4;
        $col: 3;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }

        .md-grid-pager {
            $width: (100% / $col) * 2;
            width: $width;
            // width: calc($width - $gutter);
            width: calc(#{$width} - #{$gutter});
            margin-left: $gutter;
        }
    }

    &.col-4x4 {
        $row: 4;
        $col: 4;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }

        .md-grid-pager {
            $width: (100% / $col) * 2;
            width: $width;
            // width: calc($width - $gutter);
            width: calc(#{$width} - #{$gutter});
            margin-left: $gutter;
        }
    }

    &.col-1x5 {
        $row: 1;
        $col: 5;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }
    }

    &.col-5x3 {
        $row: 5;
        $col: 3;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }
    }

    &.col-5x5 {
        $row: 5;
        $col: 5;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }

        .md-grid-pager {
            $width: (100% / $col) * 2;
            width: $width;
            // width: calc($width - $gutter);
            width: calc(#{$width} - #{$gutter});
            margin-left: $gutter;
        }
    }

    &.col-10x8 {
        $row: 10;
        $col: 8;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }

        .md-grid-pager {
            $width: (100% / $col) * 2;
            width: $width;
            // width: calc($width - $gutter);
            width: calc(#{$width} - #{$gutter});
            margin-left: $gutter;
        }
    }

    &.col-8x8 {
        $row: 8;
        $col: 8;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }

        .md-grid-pager {
            $width: (100% / $col) * 2;
            width: $width;
            // width: calc($width - $gutter);
            width: calc(#{$width} - #{$gutter});
            margin-left: $gutter;
        }
    }

    &.col-5x6 {
        $row: 6;
        $col: 5;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }
    }

    &.col-10x4 {
        // height: 245px;
        // width: 600px;

        $row: 4;
        $col: 3;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }
    }

    &.col-1x4 {
        $row: 1;
        $col: 4;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }
    }

    &.col-3x4 {
        // height: 400px;
        // width: 300px;

        $row: 4;
        $col: 3;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }
    }

    &.col-4x3 {
        $row: 4;
        $col: 3;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }

        .md-grid-pager {
            $width: (100% / $col) * 2;
            width: $width;
        }
    }

    &.col-4x5 {
        // height: 400px;
        // width: 300px;

        $row: 4;
        $col: 5;

        .row {
            height: 100% / $row;
        }
        // each row first column
        .col:nth-child(#{$col}n + 1) {
            padding-left: 0;
        }
        // each row last column
        .col:nth-child(#{$col}n + #{$col}) {
            padding-right: 0;
        }

        .md-grid-pager {
            $width: (100% / $col) * 2;
            width: $width;
        }
    }

    &.default {
        padding-right: 1px;
        padding-left: 1px;
    }
}

// materializecss pager
.md-grid-pager {
    float: left; // to make it normal spacing without weird positioning inside although looks ok, more safe to browser
}

.keyboard-full {
    width: 100%; // used all space, follow parent
    .materialize-keypad {
        height: 245px;
        display: inline-block;
    }

    .btn {
        i {
            font-size: 120% !important;
        }
    }

    .col-3x4 {
        // width: 240px;
        width: 24%;
    }

    .col-10x4 {
        // width: 600px;
        width: 74%;
    }
}

// adjustment for keyboard inside md dialog
md-dialog md-dialog-content.sticky-container > div {
    padding: 0;
}

.full-keyboard-container {
    width: 100%;

    md-dialog {
        max-width: 92%;
    }
}

.one-fifth-height-container {
    // &.col {
    //   height: $one-fifth;
    // }
    $col-height: 100% / 5;

    &.row {
        height: 100%;

        .col {
            height: $col-height;
        }
    }
}

.one-forth-height {
    &.col {
        height: $one-forth;
    }

    &.row {
        height: $one-forth;

        .col {
            height: 100%;
        }
    }
}

.one-third-height {
    &.col {
        height: $one-third;
    }

    &.row {
        height: $one-third;

        .col {
            height: 100%;
        }
    }
}

.half-height {
    &.col {
        height: $half;
    }

    &.row {
        height: $half;

        .col {
            height: 100%;
        }
    }
}

.full-height {
    height: 100%;
}

.reminder {
    font-size: 43px;
    background-color: #880000;
    color: white;
    text-shadow: 2px 2px 3px #333;
    font-weight: bold;
}

#billing-summary {
    .md-grid-container {
        font-size: 72px;
        color: white;
    }

    .col {
        height: 100%;
        // padding: 10px 5px;
        padding: 0 1px 1px 0;

        &.head {
            .cell {
                text-align: right;
                justify-content: flex-end;
            }
        }

        &.content {
            .cell {
                text-align: left;
                justify-content: flex-start;
            }
        }

        .cell {
            width: 100%;
            height: 100%;

            @extend .fill-height;
            padding: 0 15px;
        }
    }

    .total-container {
        .cell {
            background: #EC8558;
        }
    }

    .paid-container {
        .cell {
            background: #4EC4C8;
        }
    }

    .change-container {
        position: relative; // for btn-proceed too match size
        .cell {
            background: #B0D8A6;
        }
    }

    .btn-proceed {
        font-size: 65%;
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 168px;
        right: 0;
    }
}

#billing-menu {
    .payment-option, .discount-option {
        height: 44%;

        .col {
            // height: $one-fifth;
        }
    }

    &.discount-only {
        .discount-option {
            // height:54%;
            height: 80.5%;
        }
    }

    .numeric-keypad {
        height: 40%;
    }

    .keypad-amount-shortcut {
        height: 35%;
    }
}

#billing-amend-menu {
    bill-payment-options {
        height: 94%;
        display: block;
    }

    .numeric-keypad {
        height: 40%;
    }

    .keypad-amount-shortcut {
        height: 35%;
    }
}

#search-bill-menu {
    .bill-info {
        background-color: white;
        padding: 10px;
    }
}

svg {
    &.ng-hide, &.ng-hide:not(.ng-hide-animate) {
        display: block !important;
        border: 0;
        clip: rect(0 0 0 0);
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        // not feasible for SVG element dimension calculation
        // height: 1px;
        // width: 1px;
    }
}

// this can save many display:none problem arose for SVG calculation
table-scene {
    // &.ng-hide, &.ng-hide:not(.ng-hide-animate) {
    //   display: block !important;
    //   border: 0;
    //   clip: rect(0 0 0 0);
    //   margin: -1px;
    //   overflow: hidden;
    //   padding: 0;
    //   position: absolute;
    //   // not feasible for SVG element dimension calculation
    //   // height: 1px;
    //   // width: 1px;
    // }
}

.main-scene-style1, user-clock-scene {
    .menu-container {
        // font-size: 72px;
        // height: 50%;
        padding: 30px;
        // width: 750px;
        margin: auto;
        font-size: 62px;
        width: 980px;
        line-height: 1.7em;

        button {
            margin: 0;
            min-width: initial;
            min-width: none;
        }

        .md-button.md-raised {
            background: rgb(255, 227, 98);
        }


        .row {
            margin: 0;
            padding: 0;

            .col {
                padding: 0;

                button {
                    width: 95%;
                }

                &.s10-10 {
                    button {
                        width: 97.5%;
                    }
                }

                &.s10-2 {
                    width: 18.5%; // temp
                }
            }
        }
    }

    .md-button {
        font-size: inherit;
        height: 15%;
        padding: 2%;
        min-height: 90px;
        min-width: 340px;
    }
}

main-scene {
    &.style2 {
        background: hsla(50,100%,29%,1);

        button {
            font-size: 210%;
        }
    }
}

// temp
.quick-links {
    a {
        display: block;
    }
}

.report-content {
    // overflow: auto;
    overflow: scroll;
    background: white;
    padding: 5px;

    table {
        tbody {
            tr {
                td, th {
                    white-space: nowrap;
                }
            }
        }
    }
}

#report-option {
    .md-button {
        font-size: 35px;
    }
}

.report-table {
    margin-bottom: 15px;

    caption {
        font-weight: bold;
        text-align: left;
    }

    tr td, tr th {
        border: 1px solid #eee;
    }

    thead {
        tr {
            th {
            }
        }
    }

    tbody {
        tr {
            td {
            }
        }
    }
}

.user-management-table {
    height: 100%; // let the overflow area scrollable
    caption {
        padding: 5px 0;
    }

    i {
        vertical-align: top;
    }
}

.user-edit-container {
    padding: 10px;
}

.material-select {
    color: rgba(0,0,0,0.54);
    font-size: 16px;
    left: 5px;

    ul, .select-wrapper {
        &:focus {
            outline: none;
        }
    }

    label {
        color: rgba(0,0,0,0.54);
        font-size: 14px;
        left: 1px;
    }
}

md-select-menu {
    md-content.md-default-theme {
        background: white;
    }
}

.fix-head {
    tbody, thead {
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
        float: left;
        width: 100%;
        display: block;
    }

    tr {
        width: 100%;
        display: block;

        td, th {
            margin-right: -1px;
            @include border-radius(0);
        }
    }

    thead {
        height: 53px;
        padding-right: 17px;
        margin-bottom: -2px;
        border-bottom: none; // reverse material css
        tr {
            th {
                width: 25%;
                display: inline-block;
                border-bottom: none;
            }
        }
    }

    tbody {
        // height: 92.7%; // with caption
        height: 85.6%;
        overflow-y: scroll;
        overflow-x: auto;

        tr {
            margin-bottom: -1px;

            td {
                width: 25%;
                display: inline-block;
            }
        }
    }
}

#login-box {
    md-grid-list {
        max-width: 270px;
        max-height: 100% !important;
        padding-bottom: 0 !important;
        height: 387px;
    }
}

#void-box {

    &.keypad-container {
        md-dialog {
            min-width: 500px;

            md-dialog-content {
                h2 {
                    font-size: 1.5rem;
                    margin-top: 0;
                }

                .void-list-container {
                    padding: 0 16px;

                    .void-list {
                    }
                }
            }
        }
    }
}

.divide-bill-container {
    height: 100%;

    .header, .sidebar, .order-list-wrapper {
        outline: none;
    }

    .absolute-center {
        width: 75%;
        height: 75%;
        z-index: 3;
    }

    .hints {
        border: 23px solid;
        text-align: center;
        border-radius: 165px;
        height: 330px;
        width: 330px;
        font-size: 4rem;
        padding: 15px;
        font-weight: bold;
        padding-top: 36px;
        opacity: 0.2;
    }

    #divide-menu {
        #divide-menu-option {
            height: 100%;
        }
    }

    .sidebar {
        padding: 0;

        .list-group-item {
            padding: 0 5px;
        }
    }
}

#cash-manage-menu {
    #cash-manage-option {
        position: relative;
        width: 100%;
        height: 100%;

        .petty-input {
            height: 14%;
            width: 100%;
        }

        .open-input {
            height: 28%;
            width: 100%;
        }
    }
}

// contain different dynamically included html into food menu right hand side
.order-mode-container {
    height: 100%; // for grid to display properly from parent height
}

.absolute-center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}



md-menu-content.top-icon-menu {
    min-width: 107px;
    max-height: none;
}

.auto-scroll {
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.padding-scene {
    padding: 5px;
}

#user-group {
    .list-container {
    }

    .edit-container {
        .option-container {
            padding: 0 20px;

            .checkbox-container {
                text-align: left;

                .mcss-checkbox {
                    float: left;
                    width: 50%;

                    &.all {
                        // width: 100%;
                    }
                }
            }
        }
    }
}

// eg. input-keypad-modifier
.full-box {
    height: 100%;
}

// ul
// .food_info-option-list {
.child-list {
    // & > li {
    // &, & .child-list {
    & > li {
        padding: 0 8px 0 10px;
    }
    // }
    // }
}


.sub-child-list {
    & > li {
        padding: 0 8px 0 10px;
    }
}

.modifier {
    // padding-left: 8px;
}


.custom-subhead {
    line-height: 34.8px;
    /* font-size: 23.2px; */
    font-size: 1.2rem;
    font-weight: normal;
    color: rgba(0,0,0,0.54);
}

.custom-hr {
    border-style: solid;
    border-bottom: none;
    border-color: #999;
}

.permission {
    &.active {
        background: #135D0B !important;
        color: white !important;
    }
}

.mcss-checkbox {
    label {
        span {
            padding: 4px;
        }
    }
}

.table-list {
    margin: 0;

    .col {
        // margin-top: 0.75rem;
        padding: 1px;

        &:nth-child(-n+4) {
            // margin-top: 0;
        }
    }

    .btn {
        // height: 100%;
        // width: 100%;
        text-align: left;
        padding: 5px;
    }

    .col {
        position: relative;

        .table-no {
        }

        .time-container {
            position: absolute;
            top: 0;
            right: 0.75em;
        }
    }
}

#clock {
    text-align: right;
}

.option__control__menu-row {
    .md-custom-grid {
        width: 100%;
        height: 100%;
    }
}

#settings-page {
    &.friendly {

        .custom-subhead {
            font-size: 3rem;
            line-height: 4rem;
        }

        .checkbox-container {
            text-align: left;
            line-height: 4rem;

            .mcss-checkbox {
                label {
                    font-size: 3rem;
                    line-height: 3rem;

                    &:after {
                        height: 33px;
                        width: 33px;
                    }

                    &::after {
                        height: 33px;
                        width: 33px;
                    }

                    &:before {
                        width: 13px;
                        height: 24px;
                    }

                    &::before {
                        width: 13px;
                        height: 24px;
                    }
                }
            }
        }
    }
}

#shortcuts {
    button {
        background-color: rgba(154, 204, 121, 0.53);
    }
}

new-table-shape {
    position: absolute;
    // top: 80px; // under normal size button(72px)
    top: 33px;
    margin-left: 7px;
    z-index: 100;
    // opacity: 0.9;
    opacity: 0;

    #new-table-shape-container {
        @include box-shadow(0px 0px 5px #999);
    }
}

.btn-add-table {
    // position: relative;
}

// usability fix
order-scene, table-scene {
    // prevent touch screen slightly draggable effect
    overflow: hidden;
}

#current-table-label {
    $padding: 6px;
    padding: $padding;
    margin: 0;
    font-size: 20px;
    width: 128px;
    background: white;
    height: 72px - $padding * 2;
    color: black;

    &[disabled] {
        background: #bbb;
        color: #666;
    }
}

.no-margin {
    margin: 0;
}


.take-away__info-container {
    li {
        border: 1px solid hsla(207, 66%, 72%, 0);
        padding: 10px;

        &.active {
            border: 1px solid hsl(207, 66%, 72%);
            background: rgba(194, 220, 242, 0.25);
        }

        &:nth-child(even) {
            background: rgba(194, 220, 242, 0.44);
            color: hsla(207,65%,28%,1);
        }
    }
}

div.table-view-mode{

    .text{
        color:white;
    }

    button.md-button.table-model{
        &.nearlyDoneReminder{
            .text{
                color:black;
            }
        }

        &.using{

        }

        &.nearlyDone{
            .text{
                color:black;
            }
        }


    }
}
