// mixin should be placed after any @import
@mixin sexy-border($color, $width) {
  border: {
    color: $color;
    width: $width;
    style: dashed;
  }
}

@mixin transparent($opacity, $opacity_ie) {
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity_ie)";

  /* IE 5-7 */
  filter: alpha(opacity=$opacity_ie);

  /* Netscape */
  -moz-opacity: $opacity;

  /* Safari 1.x */
  -khtml-opacity: $opacity;

  /* Good browsers */
  opacity: $opacity;
}
// $opacity_ie: 30;
// $opacity: $opacity_ie/100;
// @include transparent($opacity, $opacity_ie);
// usage: @include transparent($opacity, $opacity_ie);


// width first, , $max-height later
@mixin hide-text-flow($max-width) {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: $max-width;
}
// usage: @include hide-text-flow($max-width);

// $display: "inline-block" !default;
@mixin constraintDisplay($display:"inline-block") {
  b, big, i, small, tt,
  abbr, acronym, cite, code, dfn, em, kbd, strong, samp, var,
  a, bdo, br, img, map, object, q, script, span, sub, sup,
  button, input, label, select, textarea,
  div, p, pre, 
  article, aside, section, blockquote {
    display: unquote( $display );
  }
}

@mixin user-select($property) {
  -webkit-touch-callout: $property;
  -webkit-user-select: $property;
  -khtml-user-select: $property;
  -moz-user-select: $property;
  -ms-user-select: $property;
  -o-user-select: $property;
  user-select: $property;}

@mixin calc($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}) !important; 
  #{$property}: calc(#{$expression}) !important; 
}

@mixin calc_noimp($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}

// plan to make something like supporting ($p, $a - $b) in calc()
@mixin calc_noimp2($property, $expression) { 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
}

// http://stackoverflow.com/questions/10826064/calc-element-in-sass-css
// example
// .test {
//   @include calc(width, "25% - 1em");
// }